// Fade animations

@keyframes rz-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rz-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rz-open {
  animation: rz-open .3s;
}

.rz-close {
  animation: rz-close .3s;
}