$badge-border-radius: 0 !default;
$badge-pill-border-radius: $border-radius !default;
$badge-padding: 0.25em 0.4em !default;
$badge-pill-padding: $badge-padding !default;
$badge-font-weight: 700 !default;
$badge-line-height: 1 !default;
$badge-text-transform: none !default;
$badge-letter-spacing: 0 !default;

$badge-styles: () !default;

$badge-styles: map-merge(
  (
    primary: (
      background-color: $primary
    ),
    light: (
      background-color: $light,
      color: $charcoal-grey
    ),
    secondary: (
      background-color: $secondary
    ),
    info: (
      background-color: $info
    ),
    warning: (
      background-color: $warning
    ),
    error: (
      background-color: $danger
    ),
    danger: (
      background-color: $danger
    ),
    success: (
      background-color: $success
    )
  ),
  $badge-styles
);

.rz-badge {
    color: $white;
    display: inline-block;
    padding: $badge-padding;
    font-size: 75%;
    font-weight: $badge-font-weight;
    line-height: $badge-line-height;
    text-align: center;
    text-transform: $badge-text-transform;
    white-space: nowrap;
    border-radius: $badge-border-radius;
    letter-spacing: $badge-letter-spacing;

    @if $standard == true {
      .rz-button & {
        vertical-align: top;
        margin: 0 0.25rem;
      }
    }
}

@each $style, $badge in $badge-styles {
    .rz-badge-#{$style} {
        @each $name, $value in $badge {
            #{$name}: #{$value};
        }
    }
}

.rz-badge-pill {
    border-radius: $badge-pill-border-radius;
    padding: $badge-pill-padding;
}
