$badge-border-radius: 0 !default;
$badge-pill-border-radius: var(--rz-border-radius-4) !default;
$badge-padding: 0.125rem 0.25rem !default;
$badge-pill-padding: 0.125rem 0.5rem !default;
$badge-font-size: 0.75rem !default;
$badge-font-weight: 600 !default;
$badge-line-height: 1rem !default;
$badge-text-transform: uppercase !default;
$badge-letter-spacing: 0.02rem !default;

// Badge CSS variables

:root {
  --rz-badge-border-radius: #{$badge-border-radius};
  --rz-badge-pill-border-radius: #{$badge-pill-border-radius};
  --rz-badge-padding: #{$badge-padding};
  --rz-badge-pill-padding: #{$badge-pill-padding};
  --rz-badge-font-size: #{$badge-font-size};
  --rz-badge-font-weight: #{$badge-font-weight};
  --rz-badge-line-height: #{$badge-line-height};
  --rz-badge-text-transform: #{$badge-text-transform};
  --rz-badge-letter-spacing: #{$badge-letter-spacing};
}

$badge-styles: () !default;

$badge-styles: map-merge(
  (
    primary: (
      background-color: var(--rz-primary)
    ),
    light: (
      background-color: var(--rz-base-200),
      color: var(--rz-base-900)
    ),
    secondary: (
      background-color: var(--rz-secondary)
    ),
    info: (
      background-color: var(--rz-info)
    ),
    warning: (
      background-color: var(--rz-warning)
    ),
    error: (
      background-color: var(--rz-danger)
    ),
    danger: (
      background-color: var(--rz-danger)
    ),
    success: (
      background-color: var(--rz-success)
    )
  ),
  $badge-styles
);

.rz-badge {
    color: var(--rz-text-contrast-color);
    display: inline-block;
    padding: var(--rz-badge-padding);
    font-size: var(--rz-badge-font-size);
    font-weight: var(--rz-badge-font-weight);
    line-height: var(--rz-badge-line-height);
    text-align: center;
    text-transform: var(--rz-badge-text-transform);
    white-space: nowrap;
    border-radius: var(--rz-badge-border-radius);
    letter-spacing: var(--rz-badge-letter-spacing);

    .rz-button & {
      vertical-align: top;
      margin: 0 0.25rem;
    }
}

@each $style, $badge in $badge-styles {
    .rz-badge-#{$style} {
        @each $name, $value in $badge {
            #{$name}: #{$value};
        }
    }
}

.rz-badge-pill {
    border-radius: var(--rz-badge-pill-border-radius);
    padding: var(--rz-badge-pill-padding);
}
