$body-padding: 1rem !default;

// Body CSS variables

:root {
  --rz-body-padding: #{$body-padding};
}

.body {
  padding: var(--rz-body-padding);
}

.rz-body {
  padding: var(--rz-body-padding);
  
  .rz-layout & {
    transform: translateZ(0);
  }
}
