.rz-breadcrumb {
    display: flex;
    align-items: center;
}

.rz-breadcrumb-item + .rz-breadcrumb-item::before {
    content: '»';
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}


.rz-breadcrumb-separator {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.rz-breadcrumb-item {
    margin-right: 1rem;
    margin-left: 1rem;
    display: inline-block;
}