$rz-carousel-pager-button-width: 1rem;
$rz-carousel-pager-button-height: 1rem;
$rz-carousel-pager-button-border: none;
$rz-carousel-pager-button-border-radius: 1rem;
$rz-carousel-pager-gap: 0.25rem;
$rz-carousel-prev-next-button-border-radius: var(--rz-button-border-radius);
$rz-carousel-prev-next-button-inset: 1rem;

// Carousel

.rz-carousel {
    position: relative;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0;
}

.rz-carousel-items {
    height: 100%;
    display: flex;
    overflow-x: hidden;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.rz-carousel-item {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
}

.rz-carousel-snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

// Carousel Pager

.rz-carousel-pager {
    gap: var(--rz-carousel-pager-gap);
}

.rz-carousel-pager-button {
    cursor: pointer;
    width: var(--rz-carousel-pager-button-width);
    height: var(--rz-carousel-pager-button-height);
    border: var(--rz-carousel-pager-button-border);
    border-radius: var(--rz-carousel-pager-button-border-radius);
    background-color: var(--rz-base);
    color: var(--rz-on-base);
}

// Carousel Navigation

.rz-carousel-prev,
.rz-carousel-next {
    position: absolute;
    z-index: 1;
    inset-block-start: 50%;
    transform: translateY(-50%);
    border-radius: var(--rz-carousel-prev-next-button-border-radius);
}

.rz-carousel-prev {
    inset-inline-start: var(--rz-carousel-prev-next-button-inset);
}

.rz-carousel-next {
    inset-inline-end: var(--rz-carousel-prev-next-button-inset);

    .rzi {
        order: 2;
    }
}