.rz-helper-hidden-accessible {
  opacity: 0;
  height: 0;
    
  input {
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

.rz-helper-hidden {
  display: none;
}

.rz-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}