.rz-helper-hidden-accessible {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.rz-helper-hidden {
  display: none;
}

.rz-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}