.rz-datafilter {
    .rz-datafilter-group {
    }

    .rz-datafilter-item {
        list-style: none;
        padding: 2px;
    }

    .rz-datafilter-bar {
    }

    .rz-datafilter-editor {
        vertical-align: top;
        width: 200px;
    }

    .rz-datafilter-check {
        vertical-align: top;
        margin-top: 7px;
    }

    .rz-datafilter-item-clear {
        vertical-align: top;
    }
}
