.rz-dropzone-container {

}

.rz-dropzone {
  user-select: none;
}

.rz-dropzone-item {
    list-style: none;
    user-select:none;
    cursor: grab;
}

.rz-can-drop {

}

.rz-no-drop {

}

.rz-dragging {
    cursor: grabbing;
}