.rz-dropzone-container {

}

.rz-dropzone {
    width: 100%;
    height: 100%;
    user-select: none;
}

.rz-dropzone ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.rz-dropzone-item {
    list-style: none;
    user-select:none;
}