$form-field-margin: 0.5rem 0 0 !default;
$form-field-label-color: var(--rz-text-color) !default;
$form-field-label-focus-color: var(--rz-primary) !default;
$form-field-label-padding: 0 0.25rem !default;
$form-field-label-top: calc(-1 * (1.75rem - 1px)) !default;
$form-field-label-font-size: 0.75rem !default;


:root {
    --rz-form-field-margin: #{$form-field-margin};
    --rz-form-field-label-color: #{$form-field-label-color};
    --rz-form-field-label-focus-color: #{$form-field-label-focus-color};
    --rz-form-field-label-padding: #{$form-field-label-padding};
    --rz-form-field-label-top: #{$form-field-label-top};
    --rz-form-field-label-font-size: #{$form-field-label-font-size};
}

.rz-form-field {
    @extend %input-no-padding;

    position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    margin: var(--rz-form-field-margin);
    box-shadow: none;
    transition: var(--rz-input-transition);

    & > * {
        @extend %input-blank;
    }

    .rz-form-field-start,
    .rz-form-field-end {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: var(--rz-input-padding);
        padding-top: 0;
        padding-bottom: 0;
    }

    .rz-form-field-start {
        padding-right: 0;
    }

    .rz-form-field-end {
        padding-left: 0;
    }

    &:hover {
        @extend %input-hover;
        box-shadow: none;
    }

    &.rz-state-focused {
        @extend %input-focus;
        box-shadow: none;
    }
}

.rz-form-field-label {
    position: absolute;
    pointer-events: none;
    padding: var(--rz-form-field-label-padding);
    top: 50%;
    right: auto;
    left: 0.75rem;
    max-width: calc(100% - 1.5rem);
    transform: translate(0, -50%);
    background-color: transparent;
    transition: transform var(--rz-transition), 
                color var(--rz-transition),
                font-size var(--rz-transition), 
                max-width var(--rz-transition);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:last-child {
        right: 1.5rem;
    }

    .rz-textarea ~ & {
        top: 0.5rem;
        transform: translate(0, 0);
    }

    .rz-textbox:focus ~ &,
    .rz-textarea:focus ~ &,
    .rz-spinner:focus-within ~ &,
    .rz-autocomplete:focus-within ~ &,
    .rz-textbox:not(:placeholder-shown) ~ &,
    :not(.rz-state-empty) ~ & {
        right: auto;
        transform: translate(0, var(--rz-form-field-label-top));
        color: var(--rz-input-placeholder-color);
        background-color: var(--rz-input-background-color);
        font-size: var(--rz-form-field-label-font-size);
        line-height: var(--rz-form-field-label-font-size);
        max-width: calc(100% - 1.5rem);
    }

    .rz-state-focused &,
    .rz-textbox:focus ~ &,
    .rz-textarea:focus ~ &,
    .rz-spinner:focus-within ~ &,
    .rz-autocomplete:focus-within ~ & {
        color: var(--rz-form-field-label-focus-color);
    }

    .rz-textarea:focus ~ &,
    .rz-textarea:not(.rz-state-empty) ~ & {
        transform: translate(0, -120%);
    }
}