$form-error-color: #f9777f !default;
$form-error-font-size: 0.75rem !default;
$validator-background-color: $danger !default;
$validator-color: $white !default;
$validator-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15) !default;
$validator-text-padding: 0 !default;
$validator-padding: 4px 12px !default;
$validator-pointer-size: 6px !default;
$validator-transform: translateY(16px) !default;

.rz-form {
  .rz-textbox,
  .rz-lookup,
  .rz-dropdown,
  .rz-multiselect,
  .rz-calendar,
  .rz-spinner,
  .textarea {
    width: 100%;
  }
  .rz-messages-error {
    position: absolute;
  }
}

.rz-messages-error {
  display: inline-block;
  color: $form-error-color;
  font-size: $form-error-font-size;
  padding: $validator-text-padding;
}

.rz-message-popup {
  position: absolute;
  background-color: $validator-background-color;
  transform: $validator-transform;
  box-shadow: $validator-shadow;
  padding: $validator-padding;
  border-radius: $border-radius;
  color: $validator-color;
  pointer-events: none;

  &:before {
    content: '';
    border: $validator-pointer-size solid transparent;
    border-bottom-color: $validator-background-color;
    border-left-color: $validator-background-color;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate($validator-pointer-size, -100%);
  }
}

.rz-template-form {
  .row {
    margin: 0;
  }
}
