$icon-base-font-size: 1.5em !default; /* Preferred icon size */

$icon-styles: () !default;
$icon-styles: map-merge(
  (
    primary: (
      color: $primary
    ),
    light: (
      color: $light,
    ),
    secondary: (
      color: $secondary
    ),
    info: (
      color: $info
    ),
    warning: (
      color: $warning
    ),
    error: (
      color: $danger
    ),
    danger: (
      color: $danger
    ),
    success: (
      color: $success
    )
  ),
  $icon-styles
);

.rzi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $icon-base-font-size;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@each $style, $icon in $icon-styles {
    .rzi-#{$style} {
        @each $name, $value in $icon {
            #{$name}: #{$value};
        }
    }
}
