$input-font-size: var(--rz-body-font-size) !default;
$input-height: 2.25rem !default;
$input-line-height: var(--rz-body-line-height) !default;
$input-padding: 0.4375rem !default;
$input-value-color: var(--rz-text-color) !default;
$input-placeholder-color: var(--rz-text-tertiary-color) !default;
$input-background-color: var(--rz-base-background-color) !default;
$input-border: var(--rz-border-normal) !default;
$input-border-radius: var(--rz-border-radius) !default;
$input-shadow: inset 0 4px 3px 0 rgba(0, 0, 0, 0.03) !default;

$input-hover-shadow: $input-shadow !default;
$input-hover-border: var(--rz-border-hover) !default;

$input-focus-shadow: $input-shadow !default;
$input-focus-border: var(--rz-border-focus) !default;

$input-disabled-border: var(--rz-border-disabled) !default;
$input-disabled-shadow: $input-shadow !default;
$input-disabled-background-color: var(--rz-base-100) !default;
$input-disabled-color: var(--rz-text-tertiary-color) !default;
$input-disabled-placeholder-color: var(--rz-text-disabled-color) !default;
$input-disabled-opacity: 1 !default;

$input-transition: var(--rz-transition-all) !default;

// Input CSS variables

:root {
  --rz-input-font-size: #{$input-font-size};
  --rz-input-height: #{$input-height};
  --rz-input-line-height: #{$input-line-height};
  --rz-input-padding: #{$input-padding};
  --rz-input-value-color: #{$input-value-color};
  --rz-input-placeholder-color: #{$input-placeholder-color};
  --rz-input-background-color: #{$input-background-color};
  --rz-input-border: #{$input-border};
  --rz-input-border-radius: #{$input-border-radius};
  --rz-input-shadow: #{$input-shadow};
  
  --rz-input-hover-shadow: #{$input-hover-shadow};
  --rz-input-hover-border: #{$input-hover-border};
  
  --rz-input-focus-shadow: #{$input-focus-shadow};
  --rz-input-focus-border: #{$input-focus-border};
  
  --rz-input-disabled-border: #{$input-disabled-border};
  --rz-input-disabled-shadow: #{$input-disabled-shadow};
  --rz-input-disabled-background-color: #{$input-disabled-background-color};
  --rz-input-disabled-color: #{$input-disabled-color};
  --rz-input-disabled-placeholder-color: #{$input-disabled-placeholder-color};
  --rz-input-disabled-opacity: #{$input-disabled-opacity};
  
  --rz-input-transition: #{$input-transition};
}

%input-hover {
  box-shadow: var(--rz-input-hover-shadow);
  border: var(--rz-input-hover-border);
}

%input-focus {
  box-shadow: var(--rz-input-focus-shadow);
  border: var(--rz-input-focus-border);
}

%input-disabled {
  div:not(.rz-form-field-content) > & {
    color: var(--rz-input-disabled-color);
    box-shadow: var(--rz-input-disabled-shadow);
    background-color: var(--rz-input-disabled-background-color);
    border: var(--rz-input-disabled-border);
    opacity: var(--rz-input-disabled-opacity);

    &::placeholder {
      color: var(--rz-input-disabled-placeholder-color);
    }

    .rz-inputtext {
      background-color: var(--rz-input-disabled-background-color);
      color: var(--rz-input-disabled-color);
    }
  }
}

input {
  color: var(--rz-input-value-color);
  font-size: var(--rz-input-font-size);

  &::placeholder {
    color: var(--rz-input-placeholder-color);
  }
}

%input-base {
  @extend %input-no-padding;
  padding: var(--rz-input-padding);
}

%input-no-padding {
  border: var(--rz-input-border);
  border-radius: var(--rz-input-border-radius);
  box-shadow: var(--rz-input-shadow);
  background-color: var(--rz-input-background-color);
}

%input {
  height: var(--rz-input-height);
  line-height: var(--rz-input-line-height);
  color: var(--rz-input-value-color);
  font-size: var(--rz-input-font-size);
  transition: var(--rz-input-transition);
  outline: none;

  @extend %input-base;

  &:not(:disabled):not(.rz-state-disabled) {
    &:hover {
      @extend %input-hover;
    }

    &:focus {
      @extend %input-focus;
    }
  }

  &:disabled {
    @extend %input-disabled;
  }
}

%input-blank {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  border: none;
  &:not(:disabled):not(.rz-state-disabled) {
    &:hover {
      border: none;
      box-shadow: none;
    }

    &:focus {
      border: none;
      box-shadow: none;
    }

    &:focus-within {
      border: none;
      box-shadow: none;
    }
  }
}