$lookup-panel-background-color: var(--rz-base-background-color) !default;
$lookup-panel-padding: 1rem !default;
$lookup-search-gap: 0.5rem !default;
$lookup-search-margin-bottom: 0.5rem !default;

// Lookup CSS variables

:root {
  --rz-lookup-panel-background-color: #{$lookup-panel-background-color};
  --rz-lookup-panel-padding: #{$lookup-panel-padding};
  --rz-lookup-search-gap: #{$lookup-search-gap};
  --rz-lookup-search-margin-bottom: #{$lookup-search-margin-bottom};
}

.rz-lookup-panel {
  background-color: var(--rz-lookup-panel-background-color);
  padding: var(--rz-lookup-panel-padding);
  container-type: inline-size;
  container-name: rz-lookup-panel;
}

.rz-lookup-search {
  display: flex;
  gap: var(--rz-lookup-search-gap);
  margin-bottom: var(--rz-lookup-search-margin-bottom);

  input {
    flex: auto;
    @extend %input;
  }
}
