.rz-navigation-item-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.rz-navigation-item-text {
  flex: auto;
}
