$panel-background-color: var(--rz-base-background-color) !default;
$panel-padding: 0.5rem !default;
$panel-title-line-height: 1.25rem !default;
$panel-title-font-weight: 600 !default;
$panel-content-margin: 0 !default;
$panel-toggle-icon-width: var(--rz-icon-size) !default;
$panel-toggle-icon-height: $panel-toggle-icon-width !default;
$panel-toggle-icon-font-size: var(--rz-icon-size) !default;
$panel-toggle-icon-border-radius: 2px !default;
$panel-toggle-icon-background-color: var(--rz-base-200) !default;
$panel-hover-color: var(--rz-secondary) !default;
$panel-border-radius: var(--rz-border-radius) !default;
$panel-shadow: none !default;

// Panel CSS variables

:root {
  --rz-panel-background-color: #{$panel-background-color};
  --rz-panel-padding: #{$panel-padding};
  --rz-panel-title-line-height: #{$panel-title-line-height};
  --rz-panel-title-font-weight: #{$panel-title-font-weight};
  --rz-panel-content-margin: #{$panel-content-margin};
  --rz-panel-toggle-icon-width: #{$panel-toggle-icon-width};
  --rz-panel-toggle-icon-height: #{$panel-toggle-icon-height};
  --rz-panel-toggle-icon-font-size: #{$panel-toggle-icon-font-size};
  --rz-panel-toggle-icon-border-radius: #{$panel-toggle-icon-border-radius};
  --rz-panel-toggle-icon-background-color: #{$panel-toggle-icon-background-color};
  --rz-panel-hover-color: #{$panel-hover-color};
  --rz-panel-border-radius: #{$panel-border-radius};
  --rz-panel-shadow: #{$panel-shadow};
}

.rz-panel {
  background: var(--rz-panel-background-color);
  border-radius: var(--rz-panel-border-radius);
  padding: var(--rz-panel-padding);
  box-shadow: var(--rz-panel-shadow);
  display: flex;
  flex-direction: column;
}

.rz-panel-titlebar {
  display: flex;
  justify-content: space-between;
}

.rz-panel-content {
  margin: var(--rz-panel-content-margin);
}

.rz-panel-content-wrapper {
  &[aria-hidden='true'] {
    display: none;
  }
}

.rz-panel-title {
  line-height: var(--rz-panel-title-line-height);
  font-weight: var(--rz-panel-title-font-weight);
}

.rz-panel-titlebar-toggler {
  width: var(--rz-panel-toggle-icon-width);
  height: var(--rz-panel-toggle-icon-height);
  font-size: var(--rz-panel-toggle-icon-font-size);
  border-radius: var(--rz-panel-toggle-icon-border-radius);
  background-color: var(--rz-panel-toggle-icon-background-color);
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: var(--rz-panel-hover-color);
  }

  .rzi-minus {
    &:before {
      content: 'remove';
    }
  }

  .rzi-plus {
    &:before {
      content: 'add';
    }
  }
}
