$scrollbar-background-color: $white !default;
$scrollbar-color: $default-link !default;
$scrollbar-border-radius: 8px !default;

body {
  &:not(.rz-default-scrollbars) {
    &::-webkit-scrollbar {
      background-color: $scrollbar-background-color;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-color;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: $scrollbar-border-radius;
    }

    &::-webkit-scrollbar-corner {
      background-color: $scrollbar-background-color;
    }

    ::-webkit-scrollbar {
      background-color: $scrollbar-background-color;
    }

    ::-webkit-scrollbar-thumb {
      background: $scrollbar-color;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: $scrollbar-border-radius;
    }

    ::-webkit-scrollbar-corner {
      background-color: $scrollbar-background-color;
    }
  }
}
