$selectbar-background-color: var(--rz-base-backgorund-color) !default;
$selectbar-color: var(--rz-text-color) !default;
$selectbar-border: var(--rz-border-normal) !default;
$selectbar-selected-background-color: var(--rz-secondary) !default;
$selectbar-selected-color: var(--rz-on-secondary) !default;
$selectbar-selected-border: var(--rz-border-secondary) !default;
$selectbar-border-radius: var(--rz-border-radius) !default;

$selectbar-sizes: xs, sm, md, lg;

.rz-selectbutton {
  box-sizing: border-box;
  display: inline-flex;
  border-radius: var(--rz-selectbar-border-radius);

  &.rz-selectbutton-horizontal {
      flex-direction: row;
  }

  &.rz-selectbutton-vertical {
      flex-direction: column;
  }

  .rz-button {
    &:focus-visible {
      z-index: 1;
    }
  }
}

@each $size in $selectbar-sizes {
  .rz-selectbutton {
    .rz-button.rz-button-#{$size} {
      display: inline-block;
      background-color: var(--rz-selectbar-background-color);
      color: var(--rz-selectbar-color);
      border: var(--rz-selectbar-border);
      border-radius: 0;
    
      &.rz-state-active {
        background-color: var(--rz-selectbar-selected-background-color);
        color: var(--rz-selectbar-selected-color);
        border: var(--rz-selectbar-selected-border);
      }
    }

    &.rz-selectbutton-horizontal {
      .rz-button.rz-button-#{$size} {
        &:first-child {
          border-start-start-radius: var(--rz-selectbar-border-radius);
          border-end-start-radius: var(--rz-selectbar-border-radius);
        }

        &:not(:first-child) {
          border-inline-start: none;
        }
      
        &:last-child {
          border-start-end-radius: var(--rz-selectbar-border-radius);
          border-end-end-radius: var(--rz-selectbar-border-radius);
        }
      }
    }

    &.rz-selectbutton-vertical {
      .rz-button.rz-button-#{$size} {
        text-align: center;

        &:first-child {
          border-top-left-radius: var(--rz-selectbar-border-radius);
          border-top-right-radius: var(--rz-selectbar-border-radius);
        }

        &:not(:first-child) {
          border-top: none;
        }
      
        &:last-child {
          border-bottom-left-radius: var(--rz-selectbar-border-radius);
          border-bottom-right-radius: var(--rz-selectbar-border-radius);
        }
      }
    }
  }
}
