$sidebar-z: 2 !default;
$sidebar-width: 250px !default;
$sidebar-border-right: 1px solid #eaeef0 !default;
$sidebar-background-color: $charcoal-grey !default;

.rz-sidebar {
  background-color: $sidebar-background-color;
  border-right: $sidebar-border-right;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: $sidebar-z;
  width: $sidebar-width;
  opacity: 1;
  transition: all .1s linear;
}

@media (max-width: 768px) { 
  .rz-sidebar-responsive {
    width: 0;
    opacity: 0;
  }
}

.rz-sidebar-expanded {
  width: $sidebar-width;
  opacity: 1;
}

.rz-sidebar-collapsed {
  width: 0 !important;
  opacity: 0;
}
