@keyframes mic-blink {
    0% {
    }

    100% {
        background-color: $rz-primary;
    }
}

@-webkit-keyframes mic-blink {
    0% {
    }

    100% {
        background-color: $rz-primary;
    }
}

.rz-speech-to-text-button-recording {
    -webkit-animation: mic-blink 2s linear infinite;
    -moz-animation: mic-blink 2s linear infinite;
    animation: mic-blink 2s linear infinite;
}