$text-area-padding: var(--rz-input-padding) !default;

// Textarea CSS variables

:root {
  --rz-text-area-padding: #{$text-area-padding};
}

.rz-textarea {
  @extend %input;
  padding: var(--rz-text-area-padding);
  height: auto;
}
