.rz-toc {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rz-toc-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rz-toc-item-active {
    border: 1px solid red;
}

.rz-toc-horizontal {
    .rz-toc--list {
        display: flex;
    }
}