$tooltip-background-color: var(--rz-info) !default;
$tooltip-color: var(--rz-on-info) !default;
$tooltip-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15) !default;
$tooltip-padding: 0.25rem 0.5rem !default;
$tooltip-border-radius: var(--rz-border-radius) !default;
$tooltip-font-size: var(--rz-body-font-size) !default;

.rz-tooltip {
  box-sizing: border-box;
  position: absolute;
  transition: top 0.2s, left 0.2s;
  top: 0;
  left: 0;
}

.rz-tooltip-content {
  background: var(--rz-tooltip-background-color);
  color: var(--rz-tooltip-color);
  box-shadow: var(--rz-tooltip-shadow);
  padding: var(--rz-tooltip-padding);
  border-radius: var(--rz-tooltip-border-radius);
  font-size: var(--rz-tooltip-font-size);
  white-space: nowrap;
}

.rz-tooltip .rz-top-left-tooltip-content:after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -16px;
  left: 16px;
  background-color: inherit;
  transform-origin: center;
  transform: translate(-50%, -12px) rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
}

.rz-tooltip .rz-top-right-tooltip-content:after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -16px;
  right: 16px;
  background-color: inherit;
  transform-origin: center;
  transform: translate(-50%, -12px) rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
}

.rz-tooltip .rz-bottom-left-tooltip-content:after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 16px;
  background-color: inherit;
  transform-origin: center;
  transform: translate(-50%, -12px) rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
}

.rz-tooltip .rz-bottom-right-tooltip-content:after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  right: 16px;
  background-color: inherit;
  transform-origin: center;
  transform: translate(-50%, -12px) rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
}

.rz-tooltip .rz-left-top-tooltip-content:after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 20px;
  right: -8px;
  background-color: inherit;
  transform-origin: center;
  transform: translate(-50%, -10px) rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
}

.rz-tooltip .rz-left-bottom-tooltip-content:after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0px;
  right: -8px;
  background-color: inherit;
  transform-origin: center;
  transform: translate(-50%, -10px) rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
}

.rz-tooltip .rz-right-top-tooltip-content:after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 20px;
  left: 0;
  background-color: inherit;
  transform-origin: center;
  transform: translate(-50%, -10px) rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
}

.rz-tooltip .rz-right-bottom-tooltip-content:after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0px;
  left: 0px;
  background-color: inherit;
  transform-origin: center;
  transform: translate(-50%, -10px) rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
}
