$bootstrap: false !default; 

// Headings

$headings: (
  h1: (font-size: 2rem, line-height: 1.1875em, font-weight: 700, letter-spacing: -0.04em, color: var(--rz-text-title-color), margin-bottom: 1rem),
  h2: (font-size: 1.5rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.03em, color: var(--rz-text-title-color), margin-bottom: 1rem),
  h3: (font-size: 1.125rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.75rem),
  h4: (font-size: 1rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  h5: (font-size: 0.875rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  h6: (font-size: 0.75rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem)
) !default;

// Legacy Headings
@each $name, $heading in $headings {
  #{$name}.rz-heading {
    @each $name, $value in $heading {
      #{$name}: #{$value};
    }
  }
}

@if $bootstrap {
  @each $name, $heading in $headings {
    #{$name},
    .#{$name} {
      @each $name, $value in $heading {
        #{$name}: #{$value};
      }
    }
  }
}

$headings-thin: (
  h1: (font-size: 3rem, font-weight: 300),
  h2: (font-size: 2rem, font-weight: 300),
  h3: (font-size: 1.25rem, font-weight: 300),
  h4: (font-size: 1rem, font-weight: 300),
  h5: (font-size: 0.875rem, font-weight: 300),
  h6: (font-size: 0.75rem, font-weight: 300)
) !default;

@each $name, $heading in $headings-thin {
  #{$name}.text-thin,
  .#{$name}.text-thin  {
    @each $name, $value in $heading {
      #{$name}: #{$value};
    }
  }
}

// Typography

// Text
$text: (
  display-h1: (font-size: 2rem, line-height: 1.1875em, font-weight: 700, letter-spacing: -0.04em, color: var(--rz-text-title-color), margin-bottom: 1rem),
  display-h2: (font-size: 1.5rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.03em, color: var(--rz-text-title-color), margin-bottom: 1rem),
  display-h3: (font-size: 1.125rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.75rem),
  display-h4: (font-size: 1rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  display-h5: (font-size: 0.875rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  display-h6: (font-size: 0.75rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  h1: (font-size: 2rem, line-height: 1.1875em, font-weight: 700, letter-spacing: -0.04em, color: var(--rz-text-title-color), margin-bottom: 1rem),
  h2: (font-size: 1.5rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.03em, color: var(--rz-text-title-color), margin-bottom: 1rem),
  h3: (font-size: 1.125rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.75rem),
  h4: (font-size: 1rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  h5: (font-size: 0.875rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  h6: (font-size: 0.75rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  subtitle1: (font-size: 1rem, line-height: 1.25em,  font-weight: 600, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  subtitle2: (font-size: 0.875rem, line-height: 1.25em,  font-weight: 600, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  body1: (font-size: 1rem, line-height: 1.25em,  font-weight: 400, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  body2: (font-size: 0.875rem, line-height: 1.25em,  font-weight: 400, letter-spacing: -0.02em, color: var(--rz-text-title-color), margin-bottom: 0.5rem),
  button: (),
  caption: (),
  overline:  (),
) !default;

@each $element, $property in $text {
  .rz-text-#{$element} {
    @each $property, $value in $property {
      #{$property}: #{$value};
    }
  }
}

//Text Align
$text-align: (
  start: (text-align: start),
  end: (text-align: end),
  left: (text-align: left),
  right: (text-align: right),
  center: (text-align: center),
  justify: (text-align: justify),
  justify-all: (text-align: justify-all),
  match-parent: (text-align: match-parent),
) !default;

@each $name, $property in $text-align {
  .rz-text-align-#{$name} {
    @each $property, $value in $property {
      #{$property}: #{$value};
    }
  }
}

// Body
:root {
  font-size: var(--rz-root-font-size);
}

body {
  font-size: var(--rz-body-font-size);
  line-height: var(--rz-body-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Paragraph
@if $bootstrap {
  p {
    line-height: var(--rz-body-line-height);
  }
}

// Label
.rz-label {
  margin-bottom: 0;
}

@if $bootstrap {
  label {
    margin-bottom: 0;
  }
}

// Link
$link-color: var(--rz-secondary) !default;

// Text selection
::selection {
  background-color: var(--rz-primary-lighter);
}
