<div class="rz-p-sm-12">
    <RadzenAccordion>
        <Items>
            <RadzenAccordionItem Text="Orders" Icon="account_balance_wallet" CollapseTitle="Collapse orders."
                                 ExpandTitle="Expand orders." CollapseLabel="Collapse the order details."
                                 ExpandLabel="Expand the order details.">
                Details for Orders
            </RadzenAccordionItem>
            <RadzenAccordionItem Text="Employees" Icon="account_box" CollapseTitle="Collapse employees."
                                 ExpandTitle="Expand employees." CollapseLabel="Collapse the employee details."
                                 ExpandLabel="Expand the employee details.">
                Details for Employees
            </RadzenAccordionItem>
            <RadzenAccordionItem Text="Customers" Icon="accessibility" CollapseTitle="Collapse customers."
                                 ExpandTitle="Expand customers." CollapseLabel="Collapse the customer details."
                                 ExpandLabel="Expand the customer details.">
                Details for Customers
            </RadzenAccordionItem>
        </Items>
    </RadzenAccordion>
</div>