@page "/alert"

<RadzenExample Name="Alert" Documentation="false">
<div class="container-fluid">
    <div class="row" style="min-height: 200px;">
        <div class="col-12 p-3">
            <RadzenAlert AlertStyle="AlertStyle.Warning" Variant="Variant.Flat" Shade="Shade.Lighter">
                Alert with close button
            </RadzenAlert>
            <RadzenAlert  AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter">
                Alert without close button
            </RadzenAlert>
            <RadzenAlert Title="Alert with Title" AlertStyle="AlertStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter">
                Alert with close button
            </RadzenAlert>
        </div>
    </div>
</div>
</RadzenExample>