@page "/alert"

<RadzenExample Name="Alert">
<div class="container-fluid">
    <div class="row" style="min-height: 200px;">
        <div class="col-12 p-3">
            <RadzenAlert>
                Alert with close button
            </RadzenAlert>
        </div>
        <div class="col-12 p-3">
            <RadzenAlert AllowClose=false>
                Alert without close button
            </RadzenAlert>
        </div>
        <div class="col-12 p-3">
            <RadzenAlert Title="Alert with title">
                Alert with close button
            </RadzenAlert>
        </div>
        <div class="col-12 p-3">
            <RadzenAlert Title="Alert with title" Variant="Variant.Filled" AlertStyle="AlertStyle.Info"  Shade="Shade.Lighter">
                Alert with close button
            </RadzenAlert>
        </div>
        <div class="col-12 p-3">
            <RadzenAlert Title="Alert with title" Variant="Variant.Flat" AlertStyle="AlertStyle.Success">
                Alert with close button
            </RadzenAlert>
        </div>
        <div class="col-12 p-3">
            <RadzenAlert Title="Alert with title" Variant="Variant.Outlined" AlertStyle="AlertStyle.Success">
                Alert with close button
            </RadzenAlert>
        </div>
        <div class="col-12 p-3">
            <RadzenAlert Title="Alert with title" Variant="Variant.Text" AlertStyle="AlertStyle.Success">
                Alert with close button
            </RadzenAlert>
        </div>
    </div>
</div>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;
}