@page "/autocomplete"
@using RadzenBlazorDemos.Data
@using RadzenBlazorDemos.Models.Northwind
@inject NorthwindContext dbContext

<RadzenExample Name="AutoComplete">
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4>AutoComplete</h4>
                <p class="mb-4">Start typing e.g. France</p>
                <RadzenAutoComplete Data=@customers TextProperty="CompanyName" Change=@(args => OnChange(args, "AutoComplete")) Style="width: 100%;" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4>AutoComplete with placeholder</h4>
                <p class="mb-4">Start typing e.g. France</p>
                <RadzenAutoComplete Placeholder="Select a customer..." Data=@customers TextProperty="CompanyName" Change=@(args => OnChange(args, "AutoComplete with placeholder")) Style="width: 100%;" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4>Custom filter operator</h4>
                <p class="mb-4">Show items that <b>start with</b> a specific string</p>
                <RadzenAutoComplete Data=@customers TextProperty="CompanyName" FilterOperator="StringFilterOperator.StartsWith" Change=@(args => OnChange(args, "AutoComplete with custom filter operator")) Style="width: 100%;" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4>Custom filtering</h4>
                <p class="mb-4">Filtering with LoadData</p>
                <RadzenAutoComplete Data=@customCustomersData TextProperty="CompanyName" LoadData=@OnLoadData Change=@(args => OnChange(args, "AutoComplete with custom filtering")) Style="width: 100%;" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4>Disabled AutoComplete</h4>
                <p class="mb-4">AutoComplete with Disabled="true"</p>
                <RadzenAutoComplete Disabled="true" Placeholder="Select a customer..."  Data=@customers TextProperty="CompanyName" Change=@(args => OnChange(args, "Disabled AutoComplete")) Style="width: 100%;" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4>Multiline AutoComplete</h4>
                <p class="mb-4">AutoComplete with Multiline="true"</p>
                <RadzenAutoComplete Multiline="true" Placeholder="Select a customer..." Data=@customers TextProperty="CompanyName" Change=@(args => OnChange(args, "Multiline AutoComplete")) Style="width: 100%;" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4>AutoComplete with Template</h4>
                <p class="mb-4">Start typing e.g. `a`</p>
                <RadzenAutoComplete Placeholder="Select a customer..." Data=@customers TextProperty="CompanyName" Change=@(args => OnChange(args, "AutoComplete with Template")) Style="width: 100%;">
                    <Template>
                        CompanyName: @context.CompanyName
                        <br />
                        Country: @context.Country
                    </Template>
                </RadzenAutoComplete>
            </RadzenCard>
        </div>
    </div>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;

    IEnumerable<Customer> customers;
    IEnumerable<Customer> customCustomersData;

    protected override void OnInitialized()
    {
        customers = dbContext.Customers.ToList();
    }

    void OnChange(object value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }

    void OnLoadData(LoadDataArgs args)
    {
        console.Log($"LoadData with filter: {args.Filter}");

        customCustomersData = dbContext.Customers.Where(c => c.CustomerID.Contains(args.Filter) || c.ContactName.Contains(args.Filter)).ToList();

        InvokeAsync(StateHasChanged);
    }
}