@using RadzenBlazorDemos.Data
@using RadzenBlazorDemos.Models.Northwind

@inherits DbContextPage

<div class="rz-p-12 rz-text-align-center">
    <RadzenAutoComplete @bind-Value=@companyName Placeholder="Select a customer..." Data=@customers TextProperty="CompanyName" Style="width: 13rem">
        <Template>
            CompanyName: @context.CompanyName
            <br />
            Country: @context.Country
        </Template>
    </RadzenAutoComplete>
   <RadzenText TextStyle="TextStyle.Body2">Start typing e.g. France
        @((MarkupString)(!string.IsNullOrEmpty(companyName) ? $", Value is: <strong>{companyName}</strong>" : ""))</RadzenText>
</div>

@code {
    string companyName;

    IEnumerable<Customer> customers;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        customers = dbContext.Customers;
    }
}