<RadzenRow class="borders rz-m-0 rz-m-md-12">
    <RadzenColumn Size="12" SizeMD="3">
        <div class="rz-border-white"><span>.rz-border-white</span></div>
        <div class="rz-border-base-50"><span>.rz-border-base-50</span></div>
        <div class="rz-border-base-100"><span>.rz-border-base-100</span></div>
        <div class="rz-border-base-200"><span>.rz-border-base-200</span></div>
        <div class="rz-border-base-300"><span>.rz-border-base-300</span></div>
        <div class="rz-border-base-400"><span>.rz-border-base-400</span></div>
        <div class="rz-border-base-500"><span>.rz-border-base-500</span></div>
        <div class="rz-border-base-600"><span>.rz-border-base-600</span></div>
        <div class="rz-border-base-700"><span>.rz-border-base-700</span></div>
        <div class="rz-border-base-800"><span>.rz-border-base-800</span></div>
        <div class="rz-border-base-900"><span>.rz-border-base-900</span></div>
        <div class="rz-border-black"><span>.rz-border-black</span></div>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="3">
        <div class="rz-border-base-lighter"><span>.rz-border-primary-lighter</span></div>
        <div class="rz-border-base-light"><span>.rz-border-primary-light</span></div>
        <div class="rz-border-base"><span>.rz-border-primary</span></div>
        <div class="rz-border-base-dark"><span>.rz-border-primary-dark</span></div>
        <div class="rz-border-base-darker"><span>.rz-border-primary-darker</span></div>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="3">
        <div class="rz-border-primary-lighter"><span>.rz-border-primary-lighter</span></div>
        <div class="rz-border-primary-light"><span>.rz-border-primary-light</span></div>
        <div class="rz-border-primary"><span>.rz-border-primary</span></div>
        <div class="rz-border-primary-dark"><span>.rz-border-primary-dark</span></div>
        <div class="rz-border-primary-darker"><span>.rz-border-primary-darker</span></div>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="3">
        <div class="rz-border-secondary-lighter"><span>.rz-border-secondary-lighter</span></div>
        <div class="rz-border-secondary-light"><span>.rz-border-secondary-light</span></div>
        <div class="rz-border-secondary"><span>.rz-border-secondary</span></div>
        <div class="rz-border-secondary-dark"><span>.rz-border-secondary-dark</span></div>
        <div class="rz-border-secondary-darker"><span>.rz-border-secondary-darker</span></div>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="3">
        <div class="rz-border-info-lighter"><span>.rz-border-info-lighter</span></div>
        <div class="rz-border-info-light"><span>.rz-border-info-light</span></div>
        <div class="rz-border-info"><span>.rz-border-info</span></div>
        <div class="rz-border-info-dark"><span>.rz-border-info-dark</span></div>
        <div class="rz-border-info-darker"><span>.rz-border-info-darker</span></div>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="3">
        <div class="rz-border-success-lighter"><span>.rz-border-success-lighter</span></div>
        <div class="rz-border-success-light"><span>.rz-border-success-light</span></div>
        <div class="rz-border-success"><span>.rz-border-success</span></div>
        <div class="rz-border-success-dark"><span>.rz-border-success-dark</span></div>
        <div class="rz-border-success-darker"><span>.rz-border-success-darker</span></div>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="3">
        <div class="rz-border-warning-lighter"><span>.rz-border-warning-lighter</span></div>
        <div class="rz-border-warning-light"><span>.rz-border-warning-light</span></div>
        <div class="rz-border-warning"><span>.rz-border-warning</span></div>
        <div class="rz-border-warning-dark"><span>.rz-border-warning-dark</span></div>
        <div class="rz-border-warning-darker"><span>.rz-border-warning-darker</span></div>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="3">
        <div class="rz-border-danger-lighter"><span>.rz-border-danger-lighter</span></div>
        <div class="rz-border-danger-light"><span>.rz-border-danger-light</span></div>
        <div class="rz-border-danger"><span>.rz-border-danger</span></div>
        <div class="rz-border-danger-dark"><span>.rz-border-danger-dark</span></div>
        <div class="rz-border-danger-darker"><span>.rz-border-danger-darker</span></div>
    </RadzenColumn>
</RadzenRow>

<style>
    .borders div div {
        margin: 1rem 0;
        padding: 0.5rem;
    }
</style>