@page "/breadcrumb"

<RadzenExample Name="Bread Crumb" Source="BreadCrumb" Documentation="false">
    <div class="col">
        <RadzenCard>
            <RadzenHeading Size="H4" Text="With Template" />
            <RadzenBreadCrumb>
                <Template Context="item">
                    <RadzenBadge Text="@item.Text" IsPill="true" />
                </Template>
                <Items>
                    <RadzenBreadCrumbItem Link="/badge" Text="Badges" />
                    <RadzenBreadCrumbItem Icon="add" Text="Add" />
                </Items>
            </RadzenBreadCrumb>
        </RadzenCard>
    </div>
    <div class="col">
        <RadzenCard>
            <RadzenHeading Size="H4" Text="With Standard Template" />
            <RadzenBreadCrumb>
                <Items>
                    <RadzenBreadCrumbItem Link="/badge" Text="Badges" />
                    <RadzenBreadCrumbItem Icon="add" Text="Add" />
                </Items>
            </RadzenBreadCrumb>
        </RadzenCard>
    </div>
</RadzenExample>

