
<div class="rz-m-12">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Components" />
        <RadzenBreadCrumbItem Path="/badge" Text="Badge" />
        <RadzenBreadCrumbItem Icon="add" Text="Add" />
    </RadzenBreadCrumb>
</div>