<div class="rz-m-12">
    <RadzenBreadCrumb>
        <Template Context="item">
            <RadzenBadge Text="@item.Text" IsPill="true" />
        </Template>
        <ChildContent>
            <RadzenBreadCrumbItem Path="/" Text="Components" />
            <RadzenBreadCrumbItem Path="/badge" Text="Badge" />
            <RadzenBreadCrumbItem Icon="add" Text="Add" />
        </ChildContent>
    </RadzenBreadCrumb>
</div>
