@page "/buttons"
@page "/button"

<RadzenExample Name="Button">
<div class="button-demo">
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-thin">Button Styles</h4>
            <RadzenButton Click=@(args => OnClick("Default button")) Text="Default" />
            <RadzenButton Click=@(args => OnClick("Primary button")) Text="Primary" ButtonStyle="ButtonStyle.Primary" />
            <RadzenButton Click=@(args => OnClick("Secondary button")) Text="Secondary" ButtonStyle="ButtonStyle.Secondary" />
            <RadzenButton Click=@(args => OnClick("Light button")) Text="Light" ButtonStyle="ButtonStyle.Light" />
            <RadzenButton Click=@(args => OnClick("Info button")) Text="Info" ButtonStyle="ButtonStyle.Info" />
            <RadzenButton Click=@(args => OnClick("Success button ")) Text="Success" ButtonStyle="ButtonStyle.Success" />
            <RadzenButton Click=@(args => OnClick("Warning button ")) Text="Warning" ButtonStyle="ButtonStyle.Warning" />
            <RadzenButton Click=@(args => OnClick("Danger button")) Text="Danger" ButtonStyle="ButtonStyle.Danger" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-thin">Icon</h4>
            <RadzenButton Click=@(args => OnClick("Primary icon button")) Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
            <RadzenButton Click=@(args => OnClick("Secondary icon button")) Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" />
            <RadzenButton Click=@(args => OnClick("Light icon button")) Icon="refresh" ButtonStyle="ButtonStyle.Light" />
            <RadzenButton Click=@(args => OnClick("Info icon button")) Icon="privacy_tip" ButtonStyle="ButtonStyle.Info" />
            <RadzenButton Click=@(args => OnClick("Success icon button ")) Icon="check_circle" ButtonStyle="ButtonStyle.Success" />
            <RadzenButton Click=@(args => OnClick("Warning icon button ")) Icon="warning_amber" ButtonStyle="ButtonStyle.Warning" />
            <RadzenButton Click=@(args => OnClick("Danger icon button")) Icon="report" ButtonStyle="ButtonStyle.Danger" />
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h4 class="text-thin">Icon and text</h4>
            <RadzenButton Click=@(args => OnClick("Primary button with text and icon")) Text="Add New" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
            <RadzenButton Click=@(args => OnClick("Secondary button with text and icon")) Text="Add New" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" />
            <RadzenButton Click=@(args => OnClick("Light button with text and icon")) Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Light" />
            <RadzenButton Click=@(args => OnClick("Info button with text and icon")) Text="Privacy tip" Icon="privacy_tip" ButtonStyle="ButtonStyle.Info" />
            <RadzenButton Click=@(args => OnClick("Success button with text and icon")) Text="Publish" Icon="check_circle" ButtonStyle="ButtonStyle.Success" />
            <RadzenButton Click=@(args => OnClick("Warning button with text and icon")) Text="Warning" Icon="warning_amber" ButtonStyle="ButtonStyle.Warning" />
            <RadzenButton Click=@(args => OnClick("Danger button with text and icon")) Text="Report" Icon="report" ButtonStyle="ButtonStyle.Danger" />
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h4 class="text-thin">Images</h4>
            <RadzenButton Click=@(args => OnClick("Button with image")) Image="images/radzen-nuget.png" ButtonStyle="ButtonStyle.Light" />
            <RadzenButton Click=@(args => OnClick("Button with content")) Image="images/radzen-nuget.png" ButtonStyle="ButtonStyle.Light">
                <span class="rz-button-text">Button with content</span>
                <RadzenImage Path="images/radzen-nuget.png" Style="width: 20px; height: 20px; margin-left: 8px;" />
            </RadzenButton>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h4 class="text-thin">Disabled Button</h4>
            <RadzenButton Disabled="true" Text="Primary" ButtonStyle="ButtonStyle.Primary" />
            <RadzenButton Disabled="true" Text="Secondary" ButtonStyle="ButtonStyle.Secondary" />
            <RadzenButton Disabled="true" Text="Light" ButtonStyle="ButtonStyle.Light" />
            <RadzenButton Disabled="true" Text="Info" ButtonStyle="ButtonStyle.Info" />
            <RadzenButton Disabled="true" Text="Success" ButtonStyle="ButtonStyle.Success" />
            <RadzenButton Disabled="true" Text="Warning" ButtonStyle="ButtonStyle.Warning" />
            <RadzenButton Disabled="true" Text="Danger" ButtonStyle="ButtonStyle.Danger" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4 class="text-thin">Busy Indicator</h4>
            <RadzenButton style="width: 160px" IsBusy=@busy Click=@OnBusyClick Text="Save" />
            <RadzenButton style="width: 160px" Icon="save" BusyText="Saving ..." IsBusy=@busy Click=@OnBusyClick Text="Save" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <EventConsole @ref=@console />
        </div>
    </div>
</div>
<style>
    .button-demo .rz-button {
        margin: 0 0.5rem 0.5rem 0;
    }
</style>
</RadzenExample>

@code {
    EventConsole console;
    bool busy;

    void OnClick(string buttonName)
    {
        console.Log($"{buttonName} clicked");
    }

    async Task OnBusyClick()
    {
        busy = true;
        await Task.Delay(2000);
        busy = false;
    }
}
