<div class="rz-p-12 rz-text-align-center">
    <RadzenCheckBox @bind-Value=@value Name="CheckBox1" />
    <RadzenLabel Text="CheckBox" Component="CheckBox1" Class="rz-ms-2" />
</div>

@code{
    bool value;
}