<div class="rz-p-12 rz-text-align-center">
    <RadzenCheckBoxList Data="@data" @bind-Value=@values TValue="int" TextProperty="Name" ValueProperty="Id" class="mb-5"
                        ReadOnlyProperty="ReadOnly" DisabledProperty="Disabled" />
</div>

@code {
    IEnumerable<int> values = new int[] { 1 };

    public class MyObject
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool ReadOnly { get; set; }
        public bool Disabled { get; set; }
    }

    IEnumerable<MyObject> data = new MyObject[] {
        new MyObject(){ Id = 1 , Name = "Orders", ReadOnly = true}, new MyObject() { Id = 2 , Name = "Employees", Disabled = true}, new MyObject() { Id = 3 , Name = "Customers" } };
}