@page "/checkbox"

<RadzenExample Name="CheckBox">
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4 class="mb-4">CheckbBox</h4>
                <RadzenCheckBox @bind-Value=@checkBox1Value  Name="CheckBox1" TValue="bool" Change=@(args => OnChange(args, "CheckBox1 CheckBox")) />
                <RadzenLabel Text="CheckBox1" Component="CheckBox1" Style="margin-left: 8px; vertical-align: middle;" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4 class="mb-4">Tri State</h4>
                <RadzenCheckBox @bind-Value=@checkBox2Value Name="CheckBox2" TriState="true" TValue="bool?" Change=@(args => OnChange(args, "TriState CheckBox")) />
                <RadzenLabel Text="TriState" Component="CheckBox2" Style="margin-left: 8px; vertical-align: middle;" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4 class="mb-4">Disabled CheckBox</h4>
                <RadzenCheckBox @bind-Value=@checkBox3Value Disabled="true" TriState="true" TValue="bool?" />
                <RadzenLabel Text="Disabled" Component="CheckBox3" Style="margin-left: 8px; vertical-align: middle;" />
            </RadzenCard>
        </div>
    </div>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {
    bool checkBox1Value;
    bool? checkBox2Value;
    bool? checkBox3Value = true;

    EventConsole console;

    void OnChange(bool? value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}