<div class="rz-p-12 rz-text-align-center">
    <RadzenCheckBox Disabled=true @bind-Value=@value Name="CheckBox4" />
    <RadzenLabel Text="CheckBox" Component="CheckBox4" Class="rz-ms-2" />
</div>

@code{
    bool value = true;
}