<div class="rz-p-12 rz-text-align-center">
    <RadzenCheckBox ReadOnly=true @bind-Value=@value Name="CheckBox51" />
    <RadzenLabel Text="CheckBox" Component="CheckBox51" Class="rz-ms-2" />
</div>

@code {
    bool value = true;
}