<div class="rz-p-12 rz-text-align-center">
    <RadzenCheckBox Disabled=true @bind-Value=@value Name="CheckBox41" />
    <RadzenLabel Text="CheckBox" Component="CheckBox4" Style="margin-left: 8px; vertical-align: middle;" />
</div>

@code{
    bool value = true;
}