<div class="rz-p-12 rz-text-align-center">
    <RadzenCheckBox @bind-Value=@value Name="CheckBox1" />
    <RadzenLabel Text="CheckBox" Component="CheckBox1" Style="margin-left: 8px; vertical-align: middle;" />
</div>

@code{
    bool value;
}