@page "/checkboxlist"

<RadzenExample Name="CheckBoxList">
<div class="container-fluid">
    <div class="row px-3">
        <div class="col-lg-6 p-3 d-flex">
            <RadzenCard Style="width: 100%;">
                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3">Horizontal Orientation</RadzenText>
                <RadzenCheckBoxList @bind-Value=@values TValue="int" Change=@(args => OnChange(args, "CheckBoxList with horizontal orientation")) Class="mb-5">
                    <Items>
                        <RadzenCheckBoxListItem Text="Orders" Value="1" />
                        <RadzenCheckBoxListItem Text="Employees" Value="2" />
                        <RadzenCheckBoxListItem Text="Customers" Value="3" />
                    </Items>
                </RadzenCheckBoxList>
                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3">Vertical Orientation</RadzenText>
                <RadzenCheckBoxList @bind-Value=@values TValue="int" Orientation="Orientation.Vertical" Change=@(args => OnChange(args, "CheckBoxList with vertical orientation"))>
                    <Items>
                        <RadzenCheckBoxListItem Text="Orders" Value="1" />
                        <RadzenCheckBoxListItem Text="Employees" Value="2" />
                        <RadzenCheckBoxListItem Text="Customers" Value="3" />
                    </Items>
                </RadzenCheckBoxList>
            </RadzenCard>
        </div>
        <div class="col-lg-6 p-3 d-flex">
            <RadzenCard Style="width: 100%;">
                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3">CheckBoxList with items from data</RadzenText>
                <RadzenCheckBoxList @bind-Value=@values TValue="int" Orientation="Orientation.Vertical" Change=@(args => OnChange(args, "CheckBoxList with items from data"))
                            Data="@data" TextProperty="Name" ValueProperty="Id" />
            </RadzenCard>
        </div>
        <div class="col-lg-6 p-3 d-flex">
            <RadzenCard Style="width: 100%;">
                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3">CheckBoxList with declared items and items from data</RadzenText>
                <RadzenCheckBoxList @bind-Value=@values Data="@data" TextProperty="Name" ValueProperty="Id" TValue="int" Orientation="Orientation.Vertical" Change=@(args => OnChange(args, "CheckBoxList with declared items and items from data"))>
                    <Items>
                        <RadzenCheckBoxListItem Text="Static item" Value="0" />
                    </Items>
                </RadzenCheckBoxList>
            </RadzenCard>
        </div>
        <div class="col-lg-6 p-3 d-flex">
            <RadzenCard Style="width: 100%;">
                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3">Disabled CheckBoxList</RadzenText>
                <RadzenCheckBoxList @bind-Value=@values Disabled="true" TValue="int" Orientation="Orientation.Vertical">
                    <Items>
                        <RadzenCheckBoxListItem Text="Orders" Value="1" />
                        <RadzenCheckBoxListItem Text="Employees" Value="2" />
                        <RadzenCheckBoxListItem Text="Customers" Value="3" />
                    </Items>
                </RadzenCheckBoxList>
            </RadzenCard>
        </div>
    </div>
</div>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {
    public class MyObject
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }

    IEnumerable<MyObject> data = new MyObject[] {
        new MyObject(){ Id = 1 , Name = "Orders"}, new MyObject() { Id = 2 , Name = "Employees"}, new MyObject() { Id = 3 , Name = "Customers" } };

    IEnumerable<int> values = new int[] { 1 };

    EventConsole console;

    void OnChange(IEnumerable<int> value, string name)
    {
        console.Log($"{name} value changed to {string.Join(", ", value)}");
    }
}