<div class="rz-p-12 rz-text-align-center">
    <RadzenCheckBox TriState=true @bind-Value=@value Name="CheckBox3" />
    <RadzenLabel Text="CheckBox" Component="CheckBox3" Class="rz-ms-2" />
</div>

@code{
    bool? value;
}