@page "/column"

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8">
    Column
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" class="rz-pb-4">
    The RadzenColumn component is used within a <a href="/row">RadzenRow</a> to create a structured grid layout. Without the <code>RadzenRow</code> component, the <code>RadzenColumn</code> would not be rendered correctly.
</RadzenText>

<RadzenExample ComponentName="Column" Example="ColumnConfig">
    <ColumnConfig />
</RadzenExample>
