@page "/datagrid-column-picker"

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8">
    DataGrid <strong>Column Picker</strong>
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-pb-4">
    Enable a built-in column picker that lets users show or hide columns interactively.
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-pb-4">
    Documentation:
    <a href="/docs/api/Radzen.Blazor.RadzenDataGrid-1">grid</a>,
    <a href="/docs/api/Radzen.Blazor.RadzenDataGridColumn-1">column</a>.
</RadzenText>

<RadzenExample ComponentName="DataGrid" Example="DataGridColumnPicking">
    <DataGridColumnPicking />
</RadzenExample>

<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H2" class="rz-pt-8">
    Picking columns with <strong>Context Menu</strong>
</RadzenText>

<RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-pb-4">
    You could also create your own custom column picker using the context menu.
    In this case you will have to track column visibility yourself.
</RadzenText>

<RadzenExample ComponentName="DataGrid" Example="DataGridColumnPickingContextMenu">
    <DataGridColumnPickingContextMenu />
</RadzenExample>