@page "/datagrid-selfref-hierarchy"

@using RadzenBlazorDemos.Data
@using RadzenBlazorDemos.Models.Northwind
@using Microsoft.EntityFrameworkCore

@inject NorthwindContext dbContext

<h1>DataGrid Self-Reference Hierarchy</h1>

<p>This page demonstrates how to use LoadChildData event to create a Radzen Blazor DataGrid self-reference hierarchy.</p>

<RadzenExample Name="DataGrid" Source="DataGridSelfReferenceHierarchy" Heading="false">
    <RadzenDataGrid @ref="grid" AllowFiltering="true" AllowSorting="true" AllowColumnResize="true" ExpandMode="DataGridExpandMode.Single"
                    Data="@employees" TItem="Employee" RowRender="@RowRender" LoadChildData="@LoadChildData">
        <Columns>
            <RadzenDataGridColumn TItem="Employee" Property="EmployeeID" Filterable="false" Title="ID" Frozen="true" Width="120px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="Employee" Title="Photo" Frozen="true" Sortable="false" Filterable="false" Width="80px">
                <Template Context="data">
                    <RadzenImage Path="@data.Photo" style="width: 40px; height: 40px; border-radius: 8px;" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Employee" Property="FirstName" Title="First Name" Frozen="true" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="LastName" Title="Last Name" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="Title" Title="Job Title" Width="200px" />
            <RadzenDataGridColumn TItem="Employee" Property="TitleOfCourtesy" Title="Title" Width="100px" />
            <RadzenDataGridColumn TItem="Employee" Property="BirthDate" Title="Birth Date" FormatString="{0:d}" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="HireDate" Title="Hire Date" FormatString="{0:d}" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="Address" Title="Address" Width="200px" />
            <RadzenDataGridColumn TItem="Employee" Property="City" Title="City" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="Region" Title="Region" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="PostalCode" Title="Postal Code" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="Country" Title="Country" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="HomePhone" Title="Home Phone" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="Extension" Title="Extension" Width="140px" />
            <RadzenDataGridColumn TItem="Employee" Property="Notes" Title="Notes" Width="300px" />
        </Columns>
    </RadzenDataGrid>
</RadzenExample>
@code {
    IEnumerable<Employee> employees;
    RadzenDataGrid<Employee> grid;

    protected override void OnInitialized()
    {
        employees = dbContext.Employees.Where(e => e.ReportsTo == null);
    }

    void RowRender(RowRenderEventArgs<Employee> args)
    {
        args.Expandable = dbContext.Employees.Where(e => e.ReportsTo == args.Data.EmployeeID).Any();
    }

    void LoadChildData(DataGridLoadChildDataEventArgs<Employee> args)
    {
        args.Data = dbContext.Employees.Where(e => e.ReportsTo == args.Item.EmployeeID);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            await grid.ExpandRow(employees.FirstOrDefault());
        }
    }
}