<div class="rz-p-12 rz-text-align-center">
    <RadzenDatePicker @bind-Value=@value ShowTime="true" ShowSeconds="true" HoursStep="1.5" MinutesStep="5" SecondsStep="10" DateFormat="MM/dd/yyyy HH:mm" />
</div>

@code {
    DateTime? value = DateTime.Now;
}