<div class="rz-p-12 rz-text-align-center">
    <RadzenLabel Text="Select Date" Component="DatePickerMinMax" Style="margin-right: 8px; vertical-align: middle;" />
    <RadzenDatePicker @bind-Value=@value Min="DateTime.Today.AddDays(-7)" Max="DateTime.Today.AddDays(7)" Name="DatePickerMinMax" />
</div>

@code {
    DateTime? value = DateTime.Now;
}