<div class="rz-p-12 rz-text-align-center">
    <RadzenLabel Text="Select Date" Component="DatePickerInitialViewDate" Style="margin-right: 8px; vertical-align: middle;" />
    <RadzenDatePicker TValue="DateTime?" InitialViewDate="new DateTime(2040,06,01)" YearRange="1900:2100" Name="DatePickerInitialViewDate" />
</div>
