<div class="rz-p-12 rz-text-align-center">
    <RadzenLabel Text="Select Date" Component="RadzenDatePickerBindValue" Style="margin-right: 8px; vertical-align: middle;" />
    <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue" ShowCalendarWeek />
</div>

@code {
    DateTime? value;
}