<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H3">DialogSideContent</RadzenText>

<p>
    Side Dialog
</p>

<RadzenButton Size="ButtonSize.ExtraSmall" Text="Close Side Dialog" Click="@(_ => Service.CloseSide())" />
<RadzenButton Size="ButtonSize.ExtraSmall" Text="Open Side Dialog" Click="@OnClick" />

@code {
    [Inject] DialogService Service { get; set; }

    async Task OnClick()
    {
        await Service.CloseSideAsync();
        await Service.OpenSideAsync<DialogSideContent>("Side Dialog");
    }
}
