@inject DialogService DialogService

<div class="rz-p-12 rz-text-align-center">
	<RadzenButton Text="Update dialog properties" ButtonStyle="ButtonStyle.Secondary" Click=@OpenDialog />
</div>
@code {
	private async Task OpenDialog()
	{
		await DialogService.OpenAsync<DialogWithCascadingValueImplementation>("Original title text");
	}
}