@page "/dropdown"
<span>This component correctly throws an error in the async OnChange method.</span>
<RadzenNumeric TValue=int Change=this.OnChangeAsync />

<span>This component does not correctly throw the error in the async OnChange method.</span>
<RadzenDropDown TValue=string Data=this.Values Change=this.OnChangeAsync />

@code {
    public string[] Values = { "Yes", "No" };

    public async Task OnChangeAsync()
    {
        throw new InvalidOperationException("This is an error");
        await Task.CompletedTask;
    }
}