@page "/image"

<RadzenExample Name="Image">
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <h3 class="mt-3">Image from application assets</h3>
            <RadzenImage Path="images/community.svg" Style="width: 60%; margin: 3rem;" />
        </div>
        <div class="col-xl-6">
            <h3 class="mt-3">Image from url</h3>
            <RadzenImage Path="https://www.radzen.com/assets/hero-40b90af93c7bda2d44608c74e2b8eeb6785e273e02340ec44583d097b5dfb896.png" Style="width: 100%;">
            </RadzenImage>
        </div>
    </div>
</div>
</RadzenExample>