@page "/image"

<RadzenExample Name="Image">
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <h3 class="mt-3">Image from application assets</h3>
            <RadzenImage Path="images/community.svg" Style="width: 60%; margin: 3rem;" />
        </div>
        <div class="col-xl-6">
            <h3 class="mt-3">Image from url</h3>
            <RadzenImage Path="https://www.radzen.com/assets/radzen-logo-top-b2d6e9dcacf7d344bbab515b8748c5f4d702c6c5bfc349bd9ff9003016a3a6ee.svg" Style="width: 100%;">
            </RadzenImage>
        </div>
    </div>
</div>
</RadzenExample>