@layout HomeLayout
@page "/"

<div class="next">
  <div class="container-fluid stage">
    <div class="container">
      <div class="row landing-header text-center">
        <div class="col-md-12">
          <h1 class="mx-auto">Radzen Blazor Components</h1>
          <p class="mx-auto mt-5">A set of <strong>60+ free and open source</strong> native Blazor UI controls.</p>
          <div class="cta-strip">
            <NavLink class="cta-button primary" href="/get-started">Get started</NavLink>
            <Anchor class="cta-button" href="#components">Components</Anchor>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row companies no-gutters">
            <div class="col-md-2 d-flex align-items-center justify-content-center text-center">
              <h3>Trusted by:</h3>
            </div>
            <div class="col-md-10 logos">
              <img src="images/microsoft.svg" />
              <img class="square" src="images/nasa.svg" />
              <img src="images/allianz.svg" />
              <img class="square" src="images/dell.svg" />
              <img src="images/accenture.svg" />
              <img src="images/eurobank.svg" />
              <img class="square" src="images/konica.svg" />
              <img src="images/deloitte.svg" />
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="row">
            <h2 class="mx-auto subtitle text-center">Why choose Radzen Blazor Components?</h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3 class="text-center">Free</h3>
              <p>Radzen Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.</p>
              <p class="my-4">
                Paid support is available as part of the <a class="base-link" href="https://www.radzen.com/pricing/">Radzen Professional subscription</a>.
              </p>
            </div>
            <div class="col-md-4">
              <h3 class="text-center">Native</h3>
              <p>The components are implemented in C# and take full advantage of the Blazor framework.</p>
              <p>They do not depend on or wrap existing JavaScript frameworks or libraries.</p>
              <p>Both server-side and client-side (WASM) Blazor are supported.</p>
            </div>
            <div class="col-md-4">
              <h3 class="text-center">Growing</h3>
              <p>We add new components and features on a regular basis.</p>
              <p class="my-4">Short development cycle. We release as soon as new stuff is available. No more quarterly releases.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid stage dark">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mx-auto">Boost your Blazor development</h1>
          <h2 class="mx-auto subtitle text-center">Radzen provides tons of productivity gains for Blazor developers</h2>
        </div>
      </div>

      <video width="100%" controls autoplay muted loop playsinline>
        <source src="images/radzen.mp4" type="video/mp4">
      </video>

      <div class="row mt-5 radzen-features">
        <div class="col-md-6 col-lg-5 offset-lg-1">
          <ul>
            <li>Quickly create Blazor pages with the <strong>first</strong> <a href="https://www.radzen.com/documentation/design-time/introduction/" target="_blank">WYSIWYG Blazor designer</a> in the industry.</li>
            <li>Scaffold a complete CRUD application from your <a href="https://www.radzen.com/documentation/blazor/ms-sql/" target="_blank">MSSQL</a>, <a href="https://www.radzen.com/documentation/blazor/mysql/" target="_blank">MySQL</a>, <a href="https://www.radzen.com/documentation/blazor/postgresql/" target="_blank">Postgres</a> or <a href="https://www.radzen.com/documentation/blazor/oracle/" target="_blank">Oracle</a> database.</li>
            <li>Consume your <a href="https://www.radzen.com/documentation/blazor/swagger/" target="_blank">Swagger</a>, <a href="https://www.radzen.com/documentation/blazor/odata/" target="_blank">OData</a> or <a href="https://www.radzen.com/documentation/blazor/rest/" target="_blank">REST</a> servicep painlessly.</li>
            <li>Get access to the <a href="https://www.radzen.com/documentation/premium-themes/" target="_blank">premium themes</a>.</li>
            <li><a href="https://www.radzen.com/documentation/theme-customization/" target="_blank">Customize</a> the Radzen Blazor Components look and feel to match your or your customer's branding.</li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-5">
          <ul>
            <li>Authentication, authorization, user and role management are built-in. <a href="https://www.radzen.com/documentation/azure-ad/" target="_blank">Azure AD</a>, <a href="https://www.radzen.com/documentation/active-directory/" taret="_blank">Active Directory</a>, 
            <a href="https://www.radzen.com/documentation/windows-security/" target="_blank">Windows Authentication</a> or <a href="https://www.radzen.com/documentation/security/" target="_blank">ASP.NET Identity</a>.</li>
            <li><a href="https://www.radzen.com/documentation/run-with-visual-studio/" target="_blank">Run your Radzen Blazor application directly from Visual Studio Code or Visual Studio Professional</a>.</li>
            <li>Deploy your Blazor applications to <a href="https://www.radzen.com/documentation/blazor/deploy/" target="_blank">IIS</a> and <a href="https://www.radzen.com/documentation/deploy-to-azure/" target="_blank">Azure</a> with a single click.</li>
            <li>Dedicated support with 24 hour response time (or even less).</li>
            <li>Get help from the active <a href="https://forum.radzen.com/" target="_blank">community</a>.</li>
          </ul>
        </div>
      </div>

      <div class="row text-center mt-5">
        <div class="col-md-12">
            <h3 id="components" class="text-center mb-5">Your secret web application builder.</h3>
            <NavLink class="cta-button primary" href="https://www.radzen.com/download/">Download Radzen Now</NavLink>
        </div>
      </div>

      <div class="row text-center copyright">
        <div class="col-md-12">
            <p><RadzenLabel Text="Radzen Blazor Components, Copyright &copy; 2021"></RadzenLabel></p>
            <p>
              <a href="https://github.com/radzenhq/radzen-blazor" target="_blank">Source Code</a> licensed 
              <a href="https://github.com/radzenhq/radzen-blazor/blob/master/LICENSE" target="_blank">MIT</a>
            </p>
            <p class="mt-5">
              <a href="https://www.radzen.com" title="Radzen - Create .NET Core web applications fast & easy" target="_blank"><img src="images/easier-than-you-think.svg" /></a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>