@layout HomeLayout
@page "/"

<div class="next">
  <div class="container-fluid stage">
    <div class="container">
      <div class="row landing-header text-center">
        <div class="col-md-12">
          <h1 class="mx-auto">Radzen Blazor Components</h1>
          <p class="mx-auto mt-5">A set of <strong>60+ free and open source</strong> native Blazor UI controls.</p>
          <div class="cta-strip">
            <NavLink class="cta-button primary" href="/get-started">Get started</NavLink>
            <Anchor class="cta-button" href="#components">Components</Anchor>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row companies no-gutters">
            <div class="col-md-2 d-flex align-items-center justify-content-center text-center">
              <h3>Trusted by:</h3>
            </div>
            <div class="col-md-10 logos">
              <img src="images/microsoft.svg" />
              <img class="square" src="images/nasa.svg" />
              <img src="images/allianz.svg" />
              <img class="square" src="images/dell.svg" />
              <img src="images/accenture.svg" />
              <img src="images/eurobank.svg" />
              <img class="square" src="images/konica.svg" />
              <img src="images/deloitte.svg" />
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="row">
            <h2 class="mx-auto subtitle text-center">Why choose Radzen Blazor Components?</h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3 class="text-center">Free</h3>
              <p>Radzen Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.</p>
              <p class="my-4">
                Paid support is available as part of the <a class="base-link" href="https://www.radzen.com/pricing/">Radzen Professional subscription</a>.
              </p>
            </div>
            <div class="col-md-4">
              <h3 class="text-center">Native</h3>
              <p>The components are implemented in C# and take full advantage of the Blazor framework.</p>
              <p>They do not depend on or wrap existing JavaScript frameworks or libraries.</p>
              <p>Both server-side and client-side (WASM) Blazor are supported.</p>
            </div>
            <div class="col-md-4">
              <h3 class="text-center">Growing</h3>
              <p>We add new components and features on a regular basis.</p>
              <p class="my-4">Short development cycle. We release as soon as new stuff is available. No more quarterly releases.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="components" class="row no-gutters">
        <div class="col-md-12">

        <h2 class="subtitle text-center">Most Popular Components</h2>

          <div class="row popular-components pb-3">
            <a href="/datagrid">
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="component-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 0H0V16H16V0ZM15 1H11V5H15V1ZM15 6H11V10H15V6ZM15 11H11V15H15V11ZM10 11V15H6V11H10ZM10 6V10H6V6H10ZM10 1V5H6V1H10ZM5 1H1V5H5V1ZM5 6H1V10H5V6ZM5 11H1V15H5V11Z" fill="currentColor"/>
              </svg>
              DataGrid
            </a>
            <a href="/scheduler">
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="component-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 0H4V2H12V0H13V2H16V16H0V2H3V0ZM12 3V4H13V3H15V15H1V3H3V4H4V3H12ZM3 13V6H7V13H3ZM4 12V7H6V12H4ZM9 6H13V10H9V6ZM10 9V7H12V9H10Z" fill="currentColor"/>
              </svg>
              Scheduler
            </a>
            <a href="/dropdown">
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="component-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H13V1H0V0ZM14 0H16V1H14V0ZM0 3H16V16H0V3ZM1 4H15V15H1V4ZM14 5H13V10H14V5ZM11 6H3V7H11V6ZM11 9H3V10H11V9ZM3 12H11V13H3V12Z" fill="currentColor"/>
              </svg>
              DropDown
            </a>
            <a href="/dialog">
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="component-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V16H16V0H0ZM15 1H1V15H15V1ZM8 3H3V4H8V3ZM13 7V6H3V7H13ZM13 12H10V13H13V12ZM3 8H13V9H3V8ZM12 3H13V4H12V3ZM9 12H6V13H9V12Z" fill="currentColor"/>
              </svg>
              Dialog
            </a>
            <a href="/datepicker">
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="component-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 13V3H16V13H0ZM1 4H15V12H1V4ZM6.89778 10H8.05248L10.3619 6H9.20718L6.89778 10ZM6 9H3V10H6V9ZM10 9H13V10H10V9Z" fill="currentColor"/>
              </svg>
              DatePicker
            </a>
          </div>

          <h2 class="subtitle text-center mb-4">All Components</h2>

          <div class="row all-components">

            <div class="col-sm-12 col-md-4">
              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <h4>Data</h4>
                  <ul>
                    <li><a href="/datagrid">DataGrid</a></li>
                    <li><a href="/datalist">DataList</a></li>
                    <li><a href="/pager">Pager</a></li>
                    <li><a href="/tree">Tree</a></li>
                    <li><a href="/scheduler">Scheduler</a></li>
                  </ul>
                  <h4>Images</h4>
                  <ul>
                    <li><a href="/gravatar">Gravatar</a></li>
                    <li><a href="/icon">Icon</a></li>
                    <li><a href="/image">Image</a></li>
                  </ul>
                </div>

                <div class="col-sm-6 col-md-12 col-lg-6">
                  <h4>Layout & Navigation</h4>
                  <ul>
                    <li><a href="#">Accordion</a></li>
                    <li><a href="#">Card</a></li>
                    <li><a href="#">ContextMenu</a></li>
                    <li><a href="#">Dialog</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Panel</a></li>
                    <li><a href="#">PanelMenu</a></li>
                    <li><a href="#">ProfileMenu</a></li>
                    <li><a href="#">Splitter</a></li>
                    <li><a href="#">Steps</a></li>
                    <li><a href="#">Tabs</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <h4>Forms</h4>
              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <ul>
                    <li><a href="#">AutoComplete</a></li>
                    <li><a href="#">Button</a></li>
                    <li><a href="#">CheckBox</a></li>
                    <li><a href="#">CheckBoxList</a></li>
                    <li><a href="#">ColorPicker</a></li>
                    <li><a href="#">DatePicker</a></li>
                    <li><a href="#">DropDown</a></li>
                    <li><a href="#">DropDownDataGrid</a></li>
                    <li><a href="#">Fieldset</a></li>
                    <li><a href="#">FileInput</a></li>
                    <li><a href="#">HTMLEditor</a></li>
                    <li><a href="#">ListBox</a></li>
                    <li><a href="#">Mask</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <ul>
                    <li><a href="#">Numeric</a></li>
                    <li><a href="#">Password</a></li>
                    <li><a href="#">RadioButtonList</a></li>
                    <li><a href="#">Rating</a></li>
                    <li><a href="#">SelectBar</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">SplitButton</a></li>
                    <li><a href="#">Switch</a></li>
                    <li><a href="#">TemplateForm</a></li>
                    <li><a href="#">TextArea</a></li>
                    <li><a href="#">TextBox</a></li>
                    <li><a href="#">Upload</a></li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="col-sm-12 col-md-4">
              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <h4>Data Visualization</h4>
                  <ul>
                    <li><a href="#">Area Chart</a></li>
                    <li><a href="#">Bar Chart</a></li>
                    <li><a href="#">Column Chart</a></li>
                    <li><a href="#">Donut Chart</a></li>
                    <li><a href="#">Line Chart</a></li>
                    <li><a href="#">Pie Chart</a></li>
                    <li><a href="#">Chart</a></li>
                    <li><a href="#">Arc Gauge</a></li>
                    <li><a href="#">Radial Gauge</a></li>
                    <li><a href="#">Styling Gauge</a></li>
                    <li><a href="#">GoogleMap</a></li>
                  </ul>
                </div>

                <div class="col-sm-6 col-md-12 col-lg-6">
                  <h4>Feedback</h4>
                  <ul>
                    <li><a href="#">Badge</a></li>
                    <li><a href="#">Notification</a></li>
                    <li><a href="#">ProgressBar</a></li>
                    <li><a href="#">Tooltip</a></li>
                  </ul>
                  <h4>Validators</h4>
                  <ul>
                    <li><a href="#">CompareValidator</a></li>
                    <li><a href="#">EmailValidator</a></li>
                    <li><a href="#">LengthValidator</a></li>
                    <li><a href="#">NumericRangeValidator</a></li>
                    <li><a href="#">RegexValidator</a></li>
                    <li><a href="#">RequiredValidator</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid stage dark">
    <div class="container">

      <div class="row text-center">
        <div class="col-md-12">
          <h1>Boost your Blazor development</h1>
          <h2 class="subtitle">Radzen provides tons of productivity gains for Blazor developers</h2>
        </div>
      </div>

      <video width="100%" controls autoplay muted loop playsinline>
        <source src="images/radzen.mp4" type="video/mp4">
      </video>

      <div class="row mt-5 radzen-features">
        <div class="col-md-6 col-lg-5 offset-lg-1">
          <ul>
            <li>Quickly create Blazor pages with the <strong>first</strong> <a href="https://www.radzen.com/documentation/design-time/introduction/" target="_blank">WYSIWYG Blazor designer</a> in the industry.</li>
            <li>Scaffold a complete CRUD application from your <a href="https://www.radzen.com/documentation/blazor/ms-sql/" target="_blank">MSSQL</a>, <a href="https://www.radzen.com/documentation/blazor/mysql/" target="_blank">MySQL</a>, <a href="https://www.radzen.com/documentation/blazor/postgresql/" target="_blank">Postgres</a> or <a href="https://www.radzen.com/documentation/blazor/oracle/" target="_blank">Oracle</a> database.</li>
            <li>Consume your <a href="https://www.radzen.com/documentation/blazor/swagger/" target="_blank">Swagger</a>, <a href="https://www.radzen.com/documentation/blazor/odata/" target="_blank">OData</a> or <a href="https://www.radzen.com/documentation/blazor/rest/" target="_blank">REST</a> servicep painlessly.</li>
            <li>Get access to the <a href="https://www.radzen.com/documentation/premium-themes/" target="_blank">premium themes</a>.</li>
            <li><a href="https://www.radzen.com/documentation/theme-customization/" target="_blank">Customize</a> the Radzen Blazor Components look and feel to match your or your customer's branding.</li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-5">
          <ul>
            <li>Authentication, authorization, user and role management are built-in. <a href="https://www.radzen.com/documentation/azure-ad/" target="_blank">Azure AD</a>, <a href="https://www.radzen.com/documentation/active-directory/" taret="_blank">Active Directory</a>, 
            <a href="https://www.radzen.com/documentation/windows-security/" target="_blank">Windows Authentication</a> or <a href="https://www.radzen.com/documentation/security/" target="_blank">ASP.NET Identity</a>.</li>
            <li>Run your Radzen Blazor application directly from <a href="https://www.radzen.com/documentation/run-with-visual-studio/" target="_blank">Visual Studio Code or Visual Studio Professional</a>.</li>
            <li>Deploy your Blazor applications to <a href="https://www.radzen.com/documentation/blazor/deploy/" target="_blank">IIS</a> and <a href="https://www.radzen.com/documentation/deploy-to-azure/" target="_blank">Azure</a> with a single click.</li>
            <li>Dedicated support with 24 hour response time (or even less).</li>
            <li>Get help from the active <a href="https://forum.radzen.com/" target="_blank">community</a>.</li>
          </ul>
        </div>
      </div>

      <div class="row text-center mt-5">
        <div class="col-md-12">
            <h3>Get started today. Radzen is free to use.</h3>
            <p class="description">You can also test the premium features for 15 days.</p>
            <NavLink class="cta-button primary" href="https://www.radzen.com/download/">Download Radzen</NavLink>
        </div>
      </div>

      <div class="row text-center copyright">
        <div class="col-md-12">
            <p>
              <RadzenLabel Text="Radzen Blazor Components, &copy; 2021 Radzen."></RadzenLabel>
              <a href="https://github.com/radzenhq/radzen-blazor" target="_blank">Source Code</a> licensed 
              <a href="https://github.com/radzenhq/radzen-blazor/blob/master/LICENSE" target="_blank">MIT</a>
            </p>
            <Social /> 
            <p class="mt-5">
              <a href="https://www.radzen.com" title="Radzen - Create .NET Core web applications fast & easy" target="_blank"><img src="images/easier-than-you-think.svg" /></a>
            </p>
        </div>
      </div>

    </div>
  </div>
</div>