<div class="rz-p-12 rz-text-align-center">
    <RadzenLink Path="https://www.radzen.com" Text="Go to url" target="_blank">
        <RadzenImage Path="https://www.radzen.com/assets/radzen-logo-top-b2d6e9dcacf7d344bbab515b8748c5f4d702c6c5bfc349bd9ff9003016a3a6ee.svg" Style="width: 50%">
        </RadzenImage>
    </RadzenLink>
</div>