@page "/login"

<RadzenExample Name="Login">
<div class="container-fluid">
    <div class="row d-flex px-3">
        <div class="col-xl-6 d-flex p-3">
            <RadzenCard Style="width: 100%;">
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
                    Simple login
                </RadzenText>
                <RadzenTemplateForm Data=@("SimpleLogin") Action="http://www.google.com">
                    <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login=@(args => OnLogin(args, "Simple login")) />
                </RadzenTemplateForm>
            </RadzenCard>
        </div>
        <div class="col-xl-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
                    Login with register
                </RadzenText>
                <RadzenTemplateForm Data=@("LoginWithRegister")>
                <RadzenLogin AllowResetPassword="false" 
                                Login=@(args => OnLogin(args, "Login with register")) 
                                Register=@(args => OnRegister("Login with register")) />
                </RadzenTemplateForm>
            </RadzenCard>
        </div>
        <div class="col-xl-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
                    Register and password reset
                </RadzenText>
                <RadzenTemplateForm Data=@("LoginWithRegisterAndReset")>
                <RadzenLogin Login=@(args => OnLogin(args, "Login with register and password reset")) 
                                ResetPassword=@(args => OnResetPassword(args, "Login with register and password reset"))
                                Register=@(args => OnRegister("Login with register and password reset")) />
                </RadzenTemplateForm>
            </RadzenCard>
        </div>
        <div class="col-xl-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
                    Default values
                </RadzenText>
                <RadzenTemplateForm Data=@("LoginWithDefaultValues")>
                <RadzenLogin AllowRegister="true" AllowResetPassword="true" Username=@userName Password=@password
                                Login=@(args => OnLogin(args, "Login with default values"))
                                ResetPassword=@(args => OnResetPassword(args, "Login with default values"))
                                Register=@(args => OnRegister("Login with default values")) />
                </RadzenTemplateForm>
            </RadzenCard>
        </div>
        <div class="col-xl-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
                    Localization
                </RadzenText>
                <RadzenTemplateForm Data=@("Localization")>
                <RadzenLogin AllowRegister="true" AllowResetPassword="true"
                                LoginText="Einloggen" UserText="Benutzername" PasswordText="Passwort"
                                UserRequired="Benutzername erforderlich"
                                PasswordRequired="Passwort erforderlich"
                                RegisterText="Registrieren"
                                RegisterMessageText="Sie haben noch keinen Account?"
                                ResetPasswordText="Passwort zurücksetzen"
                                Login=@(args => OnLogin(args, "Localized login"))
                                ResetPassword=@(args => OnResetPassword(args, "Localized login"))
                                Register=@(args => OnRegister("Localized login")) />
                </RadzenTemplateForm>
            </RadzenCard>
        </div>
    </div>
</div>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {
    string userName = "admin";
    string password = "admin";
    EventConsole console;

    void OnLogin(LoginArgs args, string name)
    {
        console.Log($"{name} -> Username: {args.Username} and password: {args.Password}");
    }

    void OnRegister(string name)
    {
        console.Log($"{name} -> Register");
    }

    void OnResetPassword(string value, string name)
    {
        console.Log($"{name} -> ResetPassword for user: {value}");
    }
}
