@page "/menu"

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8">
    Menu
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-pb-4">
    Demonstration and configuration of the Radzen Blazor <strong>Menu</strong> component.
</RadzenText>

<RadzenExample ComponentName="Menu" Example="MenuConfig">
    <MenuConfig />
</RadzenExample>

<RadzenText Anchor="menu#keyboard-navigation" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Keyboard Navigation
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
    The following keys or key combinations provide a way for users to navigate and interact with Radzen Blazor Menu component.
</RadzenText>

<div class="rz-data-grid rz-datatable rz-datatable-scrollable" style="width: 100%;">
    <div class="rz-data-grid-data">
        <table class="rz-grid-table">
            <thead>
                <tr>
                    <th style="padding: var(--rz-grid-cell-padding)">Press this key</th>
                    <th style="padding: var(--rz-grid-cell-padding)">To do this</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Tab" /></span></td>
                    <td><span class="rz-cell-data">Navigate to a Menu.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Right Arrow" /></span></td>
                    <td><span class="rz-cell-data">Focus next top Menu item.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Left Arrow" /></span></td>
                    <td><span class="rz-cell-data">Focus previous top Menu item.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Down Arrow" /></span></td>
                    <td><span class="rz-cell-data">Focus next child Menu item.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Up Arrow" /></span></td>
                    <td><span class="rz-cell-data">Focus previous child Menu item.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Space" /> or <RadzenBadge Text="Enter" /> on an expandable Menu item</span></td>
                    <td><span class="rz-cell-data">Expand the Menu item.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Esc" />on an expandable Menu item</span></td>
                    <td><span class="rz-cell-data">Collapse the Menu item.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Space" /> or <RadzenBadge Text="Enter" /> on a non-expandable Menu item</span></td>
                    <td><span class="rz-cell-data">Navigate.</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>