<div class="rz-p-12 rz-text-align-center">
    <RadzenNumeric TValue="double" @bind-Value=@value Format="0.00" AllowBothCommaAndDotAsDecimalSeparator="true" />
</div>

@code {
    double value = 0.0;
}