@page "/password"

<RadzenExample Name="Password">
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4 class="mb-4">Password</h4>
                <RadzenPassword Change=@(args => OnChange(args, "Password")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4 class="mb-4">Password with placeholder</h4>
                <RadzenPassword Placeholder="Enter password..." Change=@(args => OnChange(args, "Password with placeholder")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <h4 class="mb-4">Disabled Password with placeholder</h4>
                <RadzenPassword Disabled="true" Placeholder="Enter password..." Class="w-100" />
            </RadzenCard>
        </div>
    </div>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;

    void OnChange(string value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}