<div class="container-fluid">
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Password</RadzenText>
                <RadzenPassword Change=@(args => OnChange(args, "Password")) class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Password with placeholder</RadzenText>
                <RadzenPassword Placeholder="Enter password..." Change=@(args => OnChange(args, "Password with placeholder")) class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Disabled Password with placeholder</RadzenText>
                <RadzenPassword Disabled="true" Placeholder="Enter password..." class="w-100" />
            </RadzenCard>
        </div>
    </div>
</div>

<EventConsole @ref=@console />

@code {
    EventConsole console;

    void OnChange(string value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}