<div class="rz-p-12 rz-text-align-center">
    <RadzenPassword @bind-Value=@value Placeholder="Enter password..." Immediate="true" Change="@(_ => OnChange())" aria-label="enter password" />
</div>

<EventConsole @ref=@console />

@code{
    string value;
    EventConsole console;

    void OnChange()
    {
	    console.Log($"password was changed");
    }
}