@page "/password"

<RadzenExample Name="Password">
<div class="row">
    <div class="col-xl-6">
        <h3>Password</h3>
        <RadzenPassword Change=@(args => OnChange(args, "Password")) />
        <h3 style="margin-top: 2rem">Password with placeholder</h3>
        <RadzenPassword Placeholder="Enter password..." Change=@(args => OnChange(args, "Password with placeholder")) />
        <h3 style="margin-top: 2rem">Disabled Password with placeholder</h3>
        <RadzenPassword Disabled="true" Placeholder="Enter password..." />
    </div>
    <div class="col-xl-6">
        <EventConsole @ref=@console />
    </div>
</div>
</RadzenExample>

@code {
    EventConsole console;

    void OnChange(string value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}