<div class="container-fluid">
    <div class="row px-3">
        <div class="col-12 col-lg-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Rating with 5 stars</RadzenText>
                <RadzenRating Change=@(args => OnChange(args, "Rating with 5 stars")) />
            </RadzenCard>
        </div>
        <div class="col-12 col-lg-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Rating with 10 stars</RadzenText>
                <RadzenRating Stars="10" Change=@(args => OnChange(args, "Rating with 10 stars")) />
            </RadzenCard>
        </div>
        <div class="col-12 col-lg-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Disabled Rating with 10 stars</RadzenText>
                <RadzenRating Disabled="true" Stars="10" />
            </RadzenCard>
        </div>
        <div class="col-12 col-lg-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">ReadOnly Rating</RadzenText>
                <RadzenRating ReadOnly="true" Stars="5" Value="4" />
            </RadzenCard>
        </div>
    </div>
</div>

<EventConsole @ref=@console class="mt-4" />

@code {
    EventConsole console;

    void OnChange(int value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}