@page "/ripple"

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8">
    Ripple
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" class="rz-pb-4">
    Apply the ripple effect to various UI elements.
</RadzenText>

<RadzenExample Name="Ripple" Heading="false" Documentation="false">
<div class="container-fluid mb-3">
    <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-pb-4">
        Ripple effect applied to RadzenButton via <code>class="rz-ripple"</code>. Material theme buttons have the ripple effect applied by default.
    </RadzenText>
    <div class="my-4">
        <RadzenButton Text="Click me!" class="rz-ripple" />
    </div>

    <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-pb-4">
        Ripple effect applied to RadzenLink via <code>class="rz-ripple"</code>.
    </RadzenText>
    <div class="my-4">
        <RadzenLink Text="Click me!" class="rz-ripple" />
    </div>

    <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-pb-4">
        Ripple effect applied to a simple <code>&lt;div&gt;</code> element via <code>class="rz-ripple"</code>. The ripple color inherits the element's text color.
    </RadzenText>
    <div class="my-4 p-4 rz-color-success-dark rz-ripple" style="display: inline-block; background-color: var(--rz-input-background-color)">
        Click me!
    </div>
</div>
</RadzenExample>
