@page "/row"

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8">
    Row
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" class="rz-pb-4">
    The <code>RadzenRow</code> component is used to create a row in a responsive grid layout. It is primarily used in conjunction with <a href="/column">RadzenColumn</a> component, but can also be used with other Radzen components, such as RadzenCard, to create responsive, visually appealing layouts.
</RadzenText>

<RadzenExample ComponentName="Row" Example="RowConfig">
    <RowConfig />
</RadzenExample>
