<RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.Center" Class="shadows rz-p-12" Gap="3rem">
    <div style="box-shadow: var(--rz-shadow-0);"><span>--rz-shadow-0</span></div>
    <div style="box-shadow: var(--rz-shadow-1);"><span>--rz-shadow-1</span></div>
    <div style="box-shadow: var(--rz-shadow-2);"><span>--rz-shadow-2</span></div>
    <div style="box-shadow: var(--rz-shadow-3);"><span>--rz-shadow-3</span></div>
    <div style="box-shadow: var(--rz-shadow-4);"><span>--rz-shadow-4</span></div>
    <div style="box-shadow: var(--rz-shadow-5);"><span>--rz-shadow-5</span></div>
    <div style="box-shadow: var(--rz-shadow-6);"><span>--rz-shadow-6</span></div>
    <div style="box-shadow: var(--rz-shadow-7);"><span>--rz-shadow-7</span></div>
    <div style="box-shadow: var(--rz-shadow-8);"><span>--rz-shadow-8</span></div>
    <div style="box-shadow: var(--rz-shadow-9);"><span>--rz-shadow-9</span></div>
    <div style="box-shadow: var(--rz-shadow-10);"><span>--rz-shadow-10</span></div>
</RadzenStack>
<style>
    .shadows div {
        padding: 1rem;
        width: 10rem;
        text-align: center;
    }
</style>