@page "/slider"

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8">
    Slider
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-pb-4">
    Demonstration and configuration of the Radzen Blazor <strong>Slider</strong> component.
</RadzenText>

<RadzenText Anchor="slider#get-set-value" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-8">
    Get and Set the value of Slider
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
    As all Radzen Blazor input components the <strong>Slider</strong> has a Value property which gets and sets the value of the component. Use <code>@@bind-Value</code> to get the user input.
</RadzenText>
<RadzenExample ComponentName="Slider" Example="SliderBindValue">
    <SliderBindValue />
</RadzenExample>

<RadzenText  Anchor="slider#value-and-change-event"TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-8">
    Get and Set the value of Slider using Value and Change event
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
    Value property can be used to set the value of the component and <code>Change</code> event to get the user input.
</RadzenText>
<RadzenExample ComponentName="Slider" Example="SliderChangeEvent">
    <SliderChangeEvent />
</RadzenExample>

<RadzenText Anchor="slider#min-max-value" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-8">
    Slider from -100 to 100
</RadzenText>
<RadzenExample ComponentName="Slider" Example="SliderMinMax">
    <SliderMinMax />
</RadzenExample>

<RadzenText Anchor="slider#step" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-8">
    Slider with Step=10
</RadzenText>
<RadzenExample ComponentName="Slider" Example="SliderStep">
    <SliderStep />
</RadzenExample>

<RadzenText Anchor="slider#range-slider" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-8">
    Range Slider
</RadzenText>
<RadzenExample ComponentName="Slider" Example="SliderRange">
    <SliderRange />
</RadzenExample>

<RadzenText Anchor="slider#disabled-slider" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-8">
    Disabled Slider
</RadzenText>
<RadzenExample ComponentName="Slider" Example="SliderDisabled">
    <SliderDisabled />
</RadzenExample>

<RadzenText Anchor="slider#keyboard-navigation" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Keyboard Navigation
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
    The following keys or key combinations provide a way for users to navigate and interact with Radzen Blazor Slider component.
</RadzenText>

<div class="rz-data-grid rz-datatable rz-datatable-scrollable" style="width: 100%;">
    <div class="rz-data-grid-data">
        <table class="rz-grid-table">
            <thead>
                <tr>
                    <th style="padding: var(--rz-grid-cell-padding)">Press this key</th>
                    <th style="padding: var(--rz-grid-cell-padding)">To do this</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Tab" /></span></td>
                    <td><span class="rz-cell-data">Navigate to a Slider handle.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Right arrow" /> on a focused Slider handle.</span></td>
                    <td><span class="rz-cell-data">Increase the Slider value with the Step configured.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Left arrow" /> on a focused Slider handle.</span></td>
                    <td><span class="rz-cell-data">Decrease the Slider value with the Step configured.</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>