@page "/speechtotextbutton"

<RadzenExample Name="SpeechToTextButton">
    <div class="container-fluid">
        <div class="row px-3">
            <div class="col-md-6 col-lg-4 p-3">
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Speech To Text</RadzenText>
                    <RadzenSpeechToTextButton Change="@(args => OnSpeechCaptured(args, false))"></RadzenSpeechToTextButton>
                </RadzenCard>
            </div>
            <div class="col-md-6 col-lg-4 p-3">
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Update TextArea</RadzenText>
                    <RadzenTextArea @bind-Value=@value Change=@(args => OnTextAreaChange(args, "TextArea")) Class="w-100" />
                    <RadzenSpeechToTextButton Change="@(args => OnSpeechCaptured(args, true))"></RadzenSpeechToTextButton>
                </RadzenCard>
            </div>
        </div>
    </div>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {

    string value;

    EventConsole console;

    void OnTextAreaChange(string value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }

    void OnSpeechCaptured(string speechValue, bool updateTextArea)
    {
        console.Log($"Speech Captured: {speechValue}");

        if (updateTextArea)
        {
            value += speechValue;
        }
    }
}