@page "/support"

<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="my-4">
    Support
</RadzenText>

<RadzenCard class="docu px-lg-5 pb-5">
    <div class="row">
        <div class="col-lg-12 col-xl-4 offset-xl-1">
            <a name="#community"></a>
            <img class="illustration" src="images/community.svg">
            <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" Class="my-4 text-center"><a href="#community">Community Support</a></RadzenText>
            <RadzenText>
                Everybody is welcome to visit the <a href="https://forum.radzen.com" target="_blank">Radzen Community forum</a>. Join the growing community and participate in the discussions!
            </RadzenText>
            <RadzenText>
                The Radzen team monitors the forum threads but does not guarantee a response to every question. For guaranteed responses
                you may consider the <a href="#dedicated">Dedicated support</a> option.
            </RadzenText>
        </div>
        <div class="col-lg-12 col-xl-4 offset-xl-2">
            <a name="#dedicated"></a><img class="illustration" src="images/premium.svg">
            <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" Class="my-4 text-center"><a href="#dedicated">Dedicated Support</a></RadzenText>

            <RadzenText>
                Radzen Ltd. offers dedicated support with the Radzen Professional and Enterprise subscriptions. 
            </RadzenText>
            <RadzenText class="text-center">
                <a class="rz-button rz-button-lg rz-secondary ml-0 mb-4" href="https://www.radzen.com/pricing/">See Pricing</a>
            </RadzenText>
            <RadzenText class="text-center">
                A Radzen subscription provides:
            </RadzenText>
            <ul class="rz-text-body1">
                <li>Dedicated support over email with guaranteed response time (24 hours for Radzen Professional and 16 hours for Radzen Enterprise).</li>
                <li>Full access to Radzen - the first WYSIWYG Blazor development environment on the market.</li>
                <li><a href="https://www.radzen.com/documentation/premium-themes/" target="_blank">Premium themes</a> and visual <a href="https://www.radzen.com/documentation/theme-customization/" target="_blank">theme customization</a>.</li>
                <li>Complete Blazor application scaffolding from the most commonly used databases - MSSQL, Oracle, MySQL and PostgreSQL.</li>
                <li>Built-in deploy to IIS, FTP, Zip and Azure.</li>
                <li>Multi-tenancy support</li>
            </ul>
        </div>
    </div>
</RadzenCard>