@page "/support"

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8 rz-mb-12">
    Support
</RadzenText>

<RadzenRow>
    <RadzenColumn Size="12" SizeMD="4" OffsetMD="1">
        <a name="#community"></a>
        <svg viewBox="0 0 987.58708 714.02784" class="illustration rz-display-block rz-mx-auto">
            <use xlink:href="images/community.svg#community"></use>
        </svg>
        <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" TextAlign="TextAlign.Center" class="rz-pt-8">
            Community Support
        </RadzenText>
        <RadzenText>
            Everybody is welcome to visit the <a href="https://forum.radzen.com" target="_blank">Radzen Community forum</a>. Join the growing community and participate in the discussions!
        </RadzenText>
        <RadzenText>
            The Radzen team monitors the forum threads but does not guarantee a response to every question. For guaranteed responses
            you may consider the <a href="support/#dedicated">Dedicated support</a> option.
        </RadzenText>
    </RadzenColumn>
    <RadzenColumn Size="12" SizeMD="4" OffsetMD="2">
        <a name="#dedicated"></a>
        <svg viewBox="0 0 943 601.74159" class="illustration rz-display-block rz-mx-auto">
            <use xlink:href="images/premium.svg#premium"></use>
        </svg>
        <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" TextAlign="TextAlign.Center" class="rz-pt-8">
            Dedicated Support
        </RadzenText>
        <RadzenText>
            Radzen Ltd. offers dedicated support with the Radzen Professional and Enterprise subscriptions. 
        </RadzenText>
        <RadzenText TextAlign="TextAlign.Center">
            <a class="rz-button rz-button-lg rz-secondary rz-m-4" href="https://www.radzen.com/blazor-studio/pricing/">See Pricing</a>
        </RadzenText>
        <RadzenText TextAlign="TextAlign.Center">
            A Radzen subscription provides:
        </RadzenText>
        <ul class="rz-text-body1">
            <li>Dedicated support over email with guaranteed response time (24 hours for Radzen Professional and 16 hours for Radzen Enterprise).</li>
            <li>Full access to Radzen Blazor Studio - a rapid application development solution for Blazor Server and WebAssembly applications.</li>
            <li>Premium themes</li>
            <li>Complete Blazor application scaffolding from the most commonly used databases - MSSQL, Oracle, MySQL and PostgreSQL.</li>
            <li>Built-in deploy to IIS, FTP, Zip and Azure.</li>
            <li>Multi-tenancy support</li>
        </ul>
    </RadzenColumn>
</RadzenRow>