<div class="rz-p-12">
    <RadzenText TextStyle="TextStyle.H1">Radzen Heading 1</RadzenText>
    <RadzenText TextStyle="TextStyle.H2">Radzen Heading 2</RadzenText>
    <RadzenText TextStyle="TextStyle.H3">Radzen Heading 3</RadzenText>
    <RadzenText TextStyle="TextStyle.H4">Radzen Heading 4</RadzenText>
    <RadzenText TextStyle="TextStyle.H5">Radzen Heading 5</RadzenText>
    <RadzenText TextStyle="TextStyle.H6">Radzen Heading 6</RadzenText>
    <RadzenText TextStyle="TextStyle.Subtitle1">Radzen Subtitle 1</RadzenText>
    <RadzenText TextStyle="TextStyle.Subtitle2">Radzen Subtitle 2</RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
        <strong>Radzen Body 1</strong> Radzen Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Body2">
        <strong>Radzen Body 2</strong> Radzen Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Button">Radzen Button</RadzenText><br />
    <RadzenText TextStyle="TextStyle.Caption">Radzen Caption</RadzenText><br />
    <RadzenText TextStyle="TextStyle.Overline">Radzen Overline</RadzenText><br />
</div>