<div class="rz-p-12">
    <RadzenText TextStyle="TextStyle.DisplayH1" TagName="TagName.P">Radzen Display 1</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH2" TagName="TagName.P">Radzen Display 2</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.P">Radzen Display 3</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH4" TagName="TagName.P">Radzen Display 4</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH5" TagName="TagName.P">Radzen Display 5</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.P">Radzen Display 6</RadzenText>
</div>