<div class="rz-p-12">
    <RadzenText TextStyle="TextStyle.DisplayH1">Radzen Display 1</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH2">Radzen Display 2</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH3">Radzen Display 3</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH4">Radzen Display 4</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH5">Radzen Display 5</RadzenText>
    <RadzenText TextStyle="TextStyle.DisplayH6">Radzen Display 6</RadzenText>
</div>