<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="3rem" Class="rz-p-12">
    <span style="color: var(--rz-text-color)">--rz-text-color</span>
    <span style="color: var(--rz-text-secondary-color)">--rz-text-secondary-color</span>
    <span style="color: var(--rz-text-tertiary-color)">--rz-text-tertiary-color</span>
    <span style="color: var(--rz-text-disabled-color)">--rz-text-disabled-color</span>
    <div class="rz-background-color-black rz-p-4">
        <span style="color: var(--rz-text-contrast-color)">--rz-text-contrast-color</span>
    </div>
</RadzenStack>