<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="2rem" Class="rz-p-12">
    <div class="rz-text-wrap" style="width: 100px; background-color: rgba(0,0,0,.2)">This text wraps.</div>
    <div class="rz-text-nowrap" style="width: 100px; background-color: rgba(0,0,0,.2)">This text does not wrap.</div>
    <div class="rz-text-truncate" style="width: 100px; background-color: rgba(0,0,0,.2)">This text is truncated.</div>
</RadzenStack>