<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="3rem" Class="rz-p-12">
    <div class="rz-text-capitalize">This is capitalized</div>
    <div class="rz-text-uppercase">This is uppercase</div>
    <div class="rz-text-lowercase">This is lowercase</div>
</RadzenStack>