<div class="rz-timeline rz-display-flex rz-flex-column">
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled rz-timeline-stop-primary"></div>
        </div>
        <div class="rz-timeline-content-end">
            Primary
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled rz-timeline-stop-secondary"></div>
        </div>
        <div class="rz-timeline-content-end">
            Secondary
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled rz-timeline-stop-info"></div>
        </div>
        <div class="rz-timeline-content-end">
            Info
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled rz-timeline-stop-warning"></div>
        </div>
        <div class="rz-timeline-content-end">
            Warning
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled rz-timeline-stop-error"></div>
        </div>
        <div class="rz-timeline-content-end">
            Error
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled rz-timeline-stop-success"></div>
        </div>
        <div class="rz-timeline-content-end">
            Success
        </div>
    </div>
</div>