<div class="rz-timeline rz-display-flex rz-flex-column">
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point  rz-timeline-point-filled rz-shadow-0"></div>
        </div>
        <div class="rz-timeline-content-end">
            Shadow 0
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-filled rz-shadow-1"></div>
        </div>
        <div class="rz-timeline-content-end">
            Shadow 1
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-filled rz-shadow-2"></div>
        </div>
        <div class="rz-timeline-content-end">
            Shadow 2
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-filled rz-shadow-3"></div>
        </div>
        <div class="rz-timeline-content-end">
            Shadow 3
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-filled rz-shadow-4"></div>
        </div>
        <div class="rz-timeline-content-end">
            Shadow 4
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-filled rz-shadow-5"></div>
        </div>
        <div class="rz-timeline-content-end">
            Shadow 5
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-filled rz-shadow-6"></div>
        </div>
        <div class="rz-timeline-content-end">
            Shadow 6
        </div>
    </div>
</div>