<div class="rz-timeline rz-display-flex rz-flex-column">
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">NOV 2022</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            Celebrating the official release of Radzen Blazor Studio.
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">JAN 2021</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            Radzen Blazor components open sourced under the MIT license.
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">JUN 2018</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled"></div>
        </div>
        <div class="rz-timeline-content-end">Radzen 2.0 is a fact.</div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">Apr 2017</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            Radzen 1.0 is out the door - automatic page generation and MS SQL support.
        </div>
    </div>
</div>