<div class="rz-timeline rz-display-flex rz-flex-column">
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">Filled</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled rz-timeline-point-primary"></div>
        </div>
        <div class="rz-timeline-content-end">
            Celebrating the official release of Radzen Blazor Studio.
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">Outlined</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-outlined rz-timeline-point-primary"></div>
        </div>
        <div class="rz-timeline-content-end">
            Radzen Blazor components open sourced under the MIT license.
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">Flat</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-flat rz-timeline-point-primary"></div>
        </div>
        <div class="rz-timeline-content-end">Radzen 2.0 is a fact.</div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">Text</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-text rz-timeline-point-primary ">
                <RadzenIcon Icon="alarm_on" />
            </div>
        </div>
        <div class="rz-timeline-content-end">
            Radzen 1.0 is out the door - automatic page generation and MS SQL support.
        </div>
    </div>
</div>