<RadzenTimeline>
    <Items>
        <RadzenTimelineItem Size="PointSize.ExtraSmall">
            <Start>
                XS
            </Start>
            <Point>
                <RadzenIcon Icon="alarm_on" />
            </Point>
            <End>
                RadzenIcon
            </End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Size="PointSize.Small">
            <Start>
                Sm
            </Start>
            <Point>
                <RadzenIcon Icon="alarm_on" />
            </Point>
            <End>
                RadzenIcon
            </End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Size="PointSize.Medium">
            <Start>
                Md
            </Start>
            <Point>
                <RadzenIcon Icon="alarm_on" />
            </Point>
            <End>
                RadzenIcon
            </End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Size="PointSize.Large">
            <Start>
                Lg
            </Start>
            <Point>
                <RadzenIcon Icon="alarm_on" />
            </Point>
            <End>
                RadzenIcon
            </End>
        </RadzenTimelineItem>
    </Items>
</RadzenTimeline>
<div class="rz-timeline rz-display-flex rz-flex-column">
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">XS</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-xs rz-timeline-point-filled">
                <RadzenIcon Icon="alarm_on" />
            </div>
        </div>
        <div class="rz-timeline-content-end">
            RadzenIcon
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">SM</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled">
                <RadzenIcon Icon="alarm_on" />
            </div>
        </div>
        <div class="rz-timeline-content-end">
            RadzenIcon
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">MD</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-md rz-timeline-point-filled">
                <RadzenIcon Icon="alarm_on" />
            </div>
        </div>
        <div class="rz-timeline-content-end">
            RadzenIcon
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">LG</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-lg rz-timeline-point-filled">
                <RadzenIcon Icon="alarm_on" />
            </div>
        </div>
        <div class="rz-timeline-content-end">
            RadzenIcon
        </div>
    </div>
</div>