<div class="rz-timeline rz-display-flex rz-flex-column" style="--rz-timeline-line-width: 32px;">
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-primary rz-timeline-point-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            1
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            2
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-primary rz-timeline-point-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            3
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            4
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-primary rz-timeline-point-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            5
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            6
        </div>
    </div>
</div>