<RadzenTimeline style="--rz-timeline-line-width: 32px;">
    <Items>
        <RadzenTimelineItem Variant="Variant.Flat" Size="PointSize.Small" PointStyle="PointStyle.Info">
            <Point><RadzenIcon Icon="check" /></Point>
            <End>Step 1</End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Variant="Variant.Flat" Size="PointSize.Small" PointStyle="PointStyle.Info">
            <Point><RadzenIcon Icon="check" /></Point>
            <End>Step 2</End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Variant="Variant.Text" PointStyle="PointStyle.Info">
            <Point><RadzenIcon Icon="more_horiz" /></Point>
            <End>
                <span class="rz-color-info">
                    Step 3
                </span>
            </End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Variant="Variant.Text" Size="PointSize.Small">
            <End>Step 4</End>
        </RadzenTimelineItem>
    </Items>
</RadzenTimeline>