<RadzenTimeline>
    <Items>
        <RadzenTimelineItem PointStyle="PointStyle.Primary">Primary</RadzenTimelineItem>
        <RadzenTimelineItem PointStyle="PointStyle.Secondary">Secondary</RadzenTimelineItem>
        <RadzenTimelineItem PointStyle="PointStyle.Info">Info</RadzenTimelineItem>
        <RadzenTimelineItem PointStyle="PointStyle.Warning">Warning</RadzenTimelineItem>
        <RadzenTimelineItem PointStyle="PointStyle.Danger">Error</RadzenTimelineItem>
        <RadzenTimelineItem PointStyle="PointStyle.Base">Base</RadzenTimelineItem>
        <RadzenTimelineItem PointStyle="PointStyle.Success">Success</RadzenTimelineItem>
    </Items>
</RadzenTimeline>
<div class="rz-timeline rz-display-flex rz-flex-column">
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled rz-timeline-point-primary"></div>
        </div>
        <div class="rz-timeline-content-end">
            Primary
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled rz-timeline-point-secondary"></div>
        </div>
        <div class="rz-timeline-content-end">
            Secondary
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled rz-timeline-point-info"></div>
        </div>
        <div class="rz-timeline-content-end">
            Info
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled rz-timeline-point-warning"></div>
        </div>
        <div class="rz-timeline-content-end">
            Warning
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled rz-timeline-point-error"></div>
        </div>
        <div class="rz-timeline-content-end">
            Error
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right"></div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-point rz-timeline-point-sm rz-timeline-point-filled rz-timeline-point-success"></div>
        </div>
        <div class="rz-timeline-content-end">
            Success
        </div>
    </div>
</div>