<RadzenTimeline>
    <Items>
        <RadzenTimelineItem Size="PointSize.ExtraSmall">
            <Start>XS</Start>
            <End>Extra Small</End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Size="PointSize.Small">
            <Start>SM</Start>
            <End>Small</End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Size="PointSize.Medium">
            <Start>M</Start>
            <End>Medium</End>
        </RadzenTimelineItem>
        <RadzenTimelineItem Size="PointSize.Large">
            <Start>L</Start>
            <End>Large</End>
        </RadzenTimelineItem>
    </Items>
</RadzenTimeline>
<div class="rz-timeline rz-display-flex rz-flex-column">
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">XS</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-xs rz-timeline-stop-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            Extra Small
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">SM</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-sm rz-timeline-stop-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            Small
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">MD</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-md rz-timeline-stop-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            Medium
        </div>
    </div>
    <div class="rz-timeline-item rz-display-flex rz-flex-row rz-align-items-center">
        <div class="rz-timeline-content-start rz-text-align-right">LG</div>
        <div class="rz-timeline-axis rz-display-flex rz-align-items-center rz-justify-content-center">
            <div class="rz-timeline-stop rz-timeline-stop-lg rz-timeline-stop-filled"></div>
        </div>
        <div class="rz-timeline-content-end">
            Large
        </div>
    </div>
</div>