<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="Header" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <div class="rz-p-4">
            Sidebar
        </div>
    </RadzenSidebar>
    <RadzenBody class="horizontal-and-vertical-toc" style="position: relative;">
        <RadzenToc Orientation="Orientation.Horizontal" Selector=".horizontal-and-vertical-toc" style="position: sticky; top: 0; z-index: 1;">
            <RadzenTocItem Text="Heading 1" Selector="#orientation-heading1"></RadzenTocItem>
            <RadzenTocItem Text="Heading 2" Selector="#orientation-heading2"></RadzenTocItem>
            <RadzenTocItem Text="Heading 3" Selector="#orientation-heading3"></RadzenTocItem>
            <RadzenTocItem Text="Heading 4" Selector="#orientation-heading4"></RadzenTocItem>
            <RadzenTocItem Text="Heading 5" Selector="#orientation-heading5"></RadzenTocItem>
            <RadzenTocItem Text="HTML Heading" Selector="#orientation-html-heading"></RadzenTocItem>
        </RadzenToc>
        <RadzenRow>
            <RadzenColumn Size="10">
                <RadzenText TextStyle="TextStyle.H2" TagName="TagName.H5">
                    Title
                </RadzenText>
                <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H5" Anchor="toc#orientation-heading1">
                    Heading 1
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-py-8">
                    Heading 1 content
                </RadzenText>
                <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H5" Anchor="toc#orientation-heading2">
                    Heading 2
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-py-8">
                    Heading 2 content
                </RadzenText>
                <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H5" Anchor="toc#orientation-heading3">
                    Heading 3
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-py-8">
                    Heading 3 content
                </RadzenText>
                <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H5" Anchor="toc#orientation-heading4">
                    Heading 4
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-py-8">
                    Heading 4 content
                </RadzenText>
                <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H5" Anchor="toc#orientation-heading5">
                    Heading 5
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-py-8">
                    Heading 5 content
                </RadzenText>
                <h5 id="orientation-html-heading">HTML heading</h5>
                <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-py-8">
                    HTML heading content
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-py-12">
                    Copyright &copy; 2025 Radzen Ltd. All rights reserved.
                </RadzenText>
            </RadzenColumn>
            <RadzenColumn Size="2">
                <RadzenToc Orientation="Orientation.Vertical" Selector=".horizontal-and-vertical-toc" style="position: sticky; top: 5rem; right: 0;">
                    <RadzenTocItem Text="Heading 1" Selector="#orientation-heading1"></RadzenTocItem>
                    <RadzenTocItem Text="Heading 2" Selector="#orientation-heading2"></RadzenTocItem>
                    <RadzenTocItem Text="Heading 3" Selector="#orientation-heading3"></RadzenTocItem>
                    <RadzenTocItem Text="Heading 4" Selector="#orientation-heading4"></RadzenTocItem>
                    <RadzenTocItem Text="Heading 5" Selector="#orientation-heading5"></RadzenTocItem>
                    <RadzenTocItem Text="HTML Heading" Selector="#orientation-html-heading"></RadzenTocItem>
                </RadzenToc>
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}