@page "/tree-data-binding"
@using Microsoft.EntityFrameworkCore
@using RadzenBlazorDemos.Models.Northwind
@inject RadzenBlazorDemos.Data.NorthwindContext Northwind

<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="my-4">
    Tree data-binding
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" Class="my-4">
    Populate RadzenTree from a database via Entity Framework.
</RadzenText>

<RadzenExample Name="Tree" Source="TreeDataBinding" Heading="false">
    <div class="row">
        <div class="col-md-4">
            <RadzenCard>
                <h4>Data-binding to Categories &#8250; Products</h4>
                <p class="mb-3">Data from different tables.</p>
                <RadzenTree Style="height: 300px" Data=@categories>
                    <RadzenTreeLevel TextProperty="CategoryName" ChildrenProperty="Products" />
                    <RadzenTreeLevel TextProperty="ProductName" HasChildren=@(product => false) />
                </RadzenTree>
            </RadzenCard>
        </div>
        <div class="col-md-4">
            <RadzenCard>
                <h4>Data-binding to Employees</h4>
                <p class="mb-3">Data from a single self-referencing table.</p>
                <RadzenTree Data=@employees Style="height: 300px">
                    <RadzenTreeLevel TextProperty="LastName" ChildrenProperty="Employees1" 
                        Expanded=@ShouldExpand HasChildren=@(e => (e as Employee).Employees1.Any()) 
                    />
                </RadzenTree>
            </RadzenCard>
        </div>
        <div class="col-md-4">
            <RadzenCard>
                <h4>Load children on demand</h4>
                <p class="mb-3">Populate children on parent expand.</p>
                <RadzenTree Data=@categories Expand=@OnExpand Style="height: 300px">
                    <RadzenTreeLevel TextProperty="CategoryName"/>
                </RadzenTree>
            </RadzenCard>
        </div>
    </div>
</RadzenExample>

@code {
    IEnumerable<Category> categories;
    IEnumerable<Employee> employees;
    
    bool ShouldExpand(object data)
    {
        var employee = data as Employee;

        return employee.LastName == "Fuller";
    }

    void OnExpand(TreeExpandEventArgs args)
    {
        var category = args.Value as Category;

        args.Children.Data = category.Products;
        args.Children.TextProperty = "ProductName";
        args.Children.HasChildren = (product) => false;

        /* Optional template
        args.Children.Template = context => builder => {
            builder.OpenElement(1, "strong");
            builder.AddContent(2, (context.Value as Product).ProductName);
            builder.CloseElement();
        };
        */
    }

    protected override void OnInitialized()
    {
        categories = Northwind.Categories.Include(c => c.Products);
        var allEmployees = Northwind.Employees.Include(e => e.Employees1).ToList();
        employees = allEmployees.Where(e => e.ReportsTo == null);
    }
}