@page "/tree"
@using System.IO
@using Microsoft.EntityFrameworkCore
@using RadzenBlazorDemos.Models.Northwind
@inject RadzenBlazorDemos.Data.NorthwindContext Northwind
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnvironment

<RadzenExample Name="Tree">
    <RadzenCard Class="my-5 mx-auto" style="max-width: 400px;">
        <h3>Inline definition</h3>
        <RadzenTree Expand=@OnExpand Change=@OnChange Style="width: 100%; height: 300px">
            <RadzenTreeItem Text="BMW">
                <ChildContent>
                    <RadzenTreeItem Text="M3" />
                    <RadzenTreeItem Text="M5" />
                </ChildContent>
                <Template>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" width="24" height="24" />
                    @context.Text
                </Template>
            </RadzenTreeItem>
            <RadzenTreeItem Text="Audi">
                <ChildContent>
                    <RadzenTreeItem Text="RS4" />
                    <RadzenTreeItem Text="RS6" />
                </ChildContent>
                <Template>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Audi-Logo_2016.svg" width="24" height="24" />
                    @context.Text
                </Template>
            </RadzenTreeItem>
            <RadzenTreeItem Text="Mercedes">
                <Template>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/Mercedes-Logo.svg" width="24" height="24" />
                    @context.Text
                </Template>
                <ChildContent>
                    <RadzenTreeItem Text="C63 AMG" />
                    <RadzenTreeItem Text="S63 AMG" />
                </ChildContent>
            </RadzenTreeItem>
        </RadzenTree>
    </RadzenCard>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;

    void Log(string eventName, string value)
    {
        console.Log($"{eventName}: {value}");
    }

    void OnChange(TreeEventArgs args)
    {
        Log("Change", $"Item Text: {args.Text}");
    }

    void OnExpand(TreeExpandEventArgs args)
    {
        if (args.Value is string text)
        {
            Log("Expand", $"Text: {text}");
        }
    }
}