@page "/example-upload"

<RadzenExample Name="Upload">
<div class="row px-3">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4 p-3">
                <RadzenCard>
                    <h4 class="mb-4">Single file upload</h4>
                    <RadzenUpload Url="upload/single" Progress=@(args => OnProgress(args, "Single file upload")) class="w-100">
                    </RadzenUpload>
                </RadzenCard>
            </div>
            <div class="col-md-4 p-3">
                <RadzenCard>
                    <h4 class="mb-4">Custom HTTP headers</h4>
                    <RadzenUpload Url="upload/single" Progress=@(args => OnProgress(args, "Custom HTTP headers")) class="w-100">
                        <RadzenUploadHeader Name="Authorization" Value="Bearer <token>" />
                        <RadzenUploadHeader Name="X-Uploaded-By" Value="Radzen" />
                    </RadzenUpload>
                </RadzenCard>
            </div>
            <div class="col-md-4 p-3">
                <RadzenCard>
                    <h4 class="mb-4">Multiple files upload</h4>
                    <RadzenUpload Multiple="true" Url="upload/multiple" Progress=@(args => OnProgress(args, "Multiple files upload")) class="w-100" />
                </RadzenCard>
            </div>
            <div class="col-md-4 p-3">
                <RadzenCard>
                    <h4 class="mb-4">Upload images only</h4>
                    <RadzenUpload Multiple="true" Accept="image/*" Url="upload/multiple" Progress=@(args => OnProgress(args, "Images only upload")) class="w-100" />
                </RadzenCard>
            </div>
            <div class="col-md-4 p-3">
                <RadzenCard>
                    <h4 class="mb-4">Upload with additional parameter</h4>
                    <RadzenUpload Multiple="true" Accept="image/*" Url=@($"upload/{customParameter}") Progress=@(args => OnProgress(args, "Upload with additional parameter")) Class="w-100" />
                </RadzenCard>
            </div>
            <div class="col-md-4 p-3">
                <RadzenCard>
                    <h4 class="mb-4">Upload Complete event</h4>
                    <RadzenUpload Url="upload/single" Complete=@OnComplete class="w-100" />
                </RadzenCard>
            </div>
            <div class="col-md-4 p-3">
                <RadzenCard>
                    <h4 class="mb-4">Manual Upload</h4>
                    <RadzenUpload @ref="upload" Auto="false" Multiple="true" Url="upload/multiple" Change=@(args => OnChange(args, "Manual Upload"))
                            Progress=@(args => OnProgress(args, "Manual Upload")) class="w-100" />
                    <RadzenButton Text="Upload" Click=@(args => upload.Upload()) class="d-block mt-4" />
                </RadzenCard>
            </div>
            <div class="col-md-4 p-3">
                <RadzenCard>
                    <h4 class="mb-4">Using RadzenProgressBar</h4>
                    <RadzenUpload Url="upload/single" Progress=@TrackProgress Complete=@CompleteUpload class="w-100" />
                    <RadzenProgressBar Value=@progress class="mt-4" Visible=@showProgress />
                    <RadzenLabel Visible=@showComplete class="mt-4" Text="Upload Complete!" />
                </RadzenCard>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col p-3">
            </div>
        </div>
    </div>
</div>
</RadzenExample>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;

    RadzenUpload upload;

    int progress;
    bool showProgress;
    bool showComplete;

    void CompleteUpload()
    {
        showProgress = false;
        showComplete = true;
    }

    void TrackProgress(UploadProgressArgs args)
    {
        showProgress = true;
        showComplete = false;
        progress = args.Progress;
    }

    int customParameter = 1;

    void OnChange(UploadChangeEventArgs args, string name)
    {
        foreach (var file in args.Files)
        {
            console.Log($"File: {file.Name} / {file.Size} bytes");
        }

        console.Log($"{name} changed");
    }

    void OnProgress(UploadProgressArgs args, string name)
    {
        console.Log($"{args.Progress}% '{name}' / {args.Loaded} of {args.Total} bytes.");

        if (args.Progress == 100)
        {
            foreach (var file in args.Files)
            {
                console.Log($"Uploaded: {file.Name} / {file.Size} bytes");
            }
        }
    }

    void OnComplete(UploadCompleteEventArgs args)
    {
        console.Log($"Server response: {args.RawResponse}");
    }
}