@page "/example-upload"

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8">
    Upload
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-pb-4">
    Demonstration and configuration of the Radzen Blazor <strong>Upload</strong> component.
</RadzenText>

<RadzenExample ComponentName="Upload" Example="UploadConfig">
    <UploadConfig />
</RadzenExample>

<RadzenText Anchor="example-upload#keyboard-navigation" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Keyboard Navigation
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
    The following keys or key combinations provide a way for users to navigate and interact with Radzen Blazor Upload component.
</RadzenText>

<div class="rz-data-grid rz-datatable rz-datatable-scrollable" style="width: 100%;">
    <div class="rz-data-grid-data">
        <table class="rz-grid-table">
            <thead>
                <tr>
                    <th style="padding: var(--rz-grid-cell-padding)">Press this key</th>
                    <th style="padding: var(--rz-grid-cell-padding)">To do this</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Tab" /></span></td>
                    <td><span class="rz-cell-data">Navigate forward across Upload buttons.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Shift" /> + <RadzenBadge Text="Tab" /></span></td>
                    <td><span class="rz-cell-data">Navigate backward across Upload buttons.</span></td>
                </tr>
                <tr>
                    <td><span class="rz-cell-data"><RadzenBadge Text="Enter" /> or <RadzenBadge Text="Space" /></span></td>
                    <td><span class="rz-cell-data">Click the focused Upload button.</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>