@using System.Text.RegularExpressions;
@inject IJSRuntime JSRuntime

To preview the source changes switch to Example tab

<div id="editorContainer" style="height:500px;border:1px solid black;overflow:hidden;"></div>

@code {
    private ElementReference pre;
    private string source;
    private RenderFragment childContent;

    [Parameter]
    public string PageName { get; set; }

    public string GetOriginalSource()
    {
        return source;
    }

    protected override async Task OnInitializedAsync()
    {
        var http = new HttpClient();

        source = await http.GetStringAsync($"https://raw.githubusercontent.com/radzenhq/radzen-blazor/master/RadzenBlazorDemos/Pages/{PageName}");
        source = Regex.Replace(source, "</?RadzenExample[^>]*>\n", "");
    }

    bool editorCreated;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!editorCreated && !string.IsNullOrEmpty(source))
        {
            await JSRuntime.InvokeVoidAsync("createEditorAndSetValue", source);
            editorCreated = true;
        }
    }
}
