@using System.Text.RegularExpressions;
@inject IJSRuntime JSRuntime

To preview the source changes switch to Example tab

<div id="editorContainer" style="height:500px;border:1px solid black;overflow:hidden;"></div>

@code {
    private ElementReference pre;
    private RenderFragment childContent;

    [Parameter]
    public string PageName { get; set; }

    public string Source { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Source))
        {
            var http = new HttpClient();

            Source = await http.GetStringAsync($"https://raw.githubusercontent.com/radzenhq/radzen-blazor/master/RadzenBlazorDemos/Pages/{PageName}");
            Source = Regex.Replace(Source, "</?RadzenExample[^>]*>\n", "");
        }
    }

    bool editorCreated;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!editorCreated && !string.IsNullOrEmpty(Source))
        {
            await JSRuntime.InvokeVoidAsync("createEditorAndSetValue", Source);
            editorCreated = true;
        }
    }
}
