@using System.Text.RegularExpressions;
@inject IJSRuntime JSRuntime
@inject CompilerService Compiler

<RadzenButton Click="Run" Icon="play_circle" />
<button class="rz-button rz-button-md rz-button-icon-only" onclick=@Copy>
    <RadzenIcon Icon="content_copy" />
</button>
<RadzenAlert Visible=@(error != null) AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
    @error
</RadzenAlert>
<Monaco @bind-Value="source" @ref="@monaco" />
@code {
    private string Copy => $"copy('{monaco?.Id}')";
    private Monaco monaco;
    private ElementReference pre;
    private string source;
    private string error;

    [Parameter]
    public EventCallback<Type> Compiled { get; set; }

    [Parameter]
    public string PageName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var http = new HttpClient();

        source = await http.GetStringAsync($"https://raw.githubusercontent.com/radzenhq/radzen-blazor/compiler/RadzenBlazorDemos/Pages/{PageName}");
        source = Regex.Replace(source, "</?RadzenExample[^>]*>\n", "");
    }

    private async Task Run()
    {
        try
        {
            error = null;

            var type = await Compiler.CompileAsync(source);

            await Compiled.InvokeAsync(type);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
