<RadzenText TextStyle="TextStyle.Body1">
    <p>
        <strong>NOTE:</strong> Please ensure you have reviewed the instructions in <a href="/get-started">Get Started</a> , as there are pre-requirements when using this component.
    </p>
</RadzenText>