<RadzenText TextStyle="TextStyle.Body1">
    <p>
        <strong>NOTE:</strong> Please ensure you have reviewed the instructions in <RadzenLink Text="Get Started" Path="/get-started" /> , as there are pre-requirements when using this component.
    </p>
</RadzenText>