@inject IJSRuntime JSRuntime

<div class="rz-app-loading">
    <img src="images/radzen-loading.svg" width="240" height="240" />
</div>
@code {
    override protected async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("eval", "document.querySelector('.rz-app-loading').style.display = 'none';");
        }
    }
}