<RadzenTabsItem Text="Edit Source" Icon="lock" Title="View and edit example source code" Style="--rz-tabs-icon-font-size: 1rem;">
    <RadzenRow style="max-width: 600px;" class="rz-my-12 rz-mx-auto">
        <RadzenColumn Size="12">
            <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" TextAlign="TextAlign.Center" class="rz-pt-8">
                UI Blocks <RadzenBadge title="To use it in your application you need an active Radzen Professional or Enterprise subscription." BadgeStyle="BadgeStyle.Danger" Style="vertical-align: top;">PRO</RadzenBadge>
            </RadzenText>
            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.P" TextAlign="TextAlign.Center" class="rz-mb-6" Style="line-height: 1.5">
                UI Blocks are a premium feature of Radzen Blazor Studio and can be used with an active <RadzenLink Text="Radzen Professional or Enterprise subscription" Path="https://www.radzen.com/blazor-studio/pricing/" title="See Radzen Pricing" target="_blank" />.
            </RadzenText>
            <RadzenText TextAlign="TextAlign.Center">
                <a class="rz-button rz-button-lg rz-primary rz-variant-flat rz-m-4" href="https://www.radzen.com/blazor-studio/pricing/">See Pricing</a>
            </RadzenText>
        </RadzenColumn>
    </RadzenRow>
</RadzenTabsItem>