@using NorthwindBlazor.Data
@using NorthwindBlazor.Models.Northwind
@using Microsoft.EntityFrameworkCore
@page "/datagrid"

@inject NorthwindContext dbContext

<h1>DataGrid</h1>

<p>This page demonstrates <b>DataGrid</b> component.</p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenGrid AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" Data="@employees" TItem="Employee">
        <Columns>
            <RadzenGridColumn TItem="Employee" Context="data" Property="EmployeeID" Title="Employee ID" Type="integer">
                <Template Context="data">
                    @data?.EmployeeID
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Format="binary" Property="Photo" Title="Photo" Type="string" Sortable="false" Filterable="false">
                <Template Context="data">
                    <RadzenImage Path="@data?.Photo" />
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="LastName" Title="Last Name" Type="string">
                <Template Context="data">
                    @data?.LastName
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="FirstName" Title="First Name" Type="string">
                <Template Context="data">
                    @data?.FirstName
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="Title" Title="Title" Type="string">
                <Template Context="data">
                    @data?.Title
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="TitleOfCourtesy" Title="Title Of Courtesy" Type="string">
                <Template Context="data">
                    @data?.TitleOfCourtesy
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Format="date-time" Property="BirthDate" Title="Birth Date" Type="string">
                <Template Context="data">
                    @String.Format("{0:d}", data.BirthDate)
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Format="date-time" Property="HireDate" Title="Hire Date" Type="string">
                <Template Context="data">
                    @String.Format("{0:d}", data.HireDate)
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="Address" Title="Address" Type="string">
                <Template Context="data">
                    @data?.Address
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="City" Title="City" Type="string">
                <Template Context="data">
                    @data?.City
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="Region" Title="Region" Type="string">
                <Template Context="data">
                    @data?.Region
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="PostalCode" Title="Postal Code" Type="string">
                <Template Context="data">
                    @data?.PostalCode
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="Country" Title="Country" Type="string">
                <Template Context="data">
                    @data?.Country
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="HomePhone" Title="Home Phone" Type="string">
                <Template Context="data">
                    @data?.HomePhone
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="Extension" Title="Extension" Type="string">
                <Template Context="data">
                    @data?.Extension
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Context="data" Property="Notes" Title="Notes" Type="string">
                <Template Context="data">
                    @data?.Notes
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@functions {
    IEnumerable<Employee> employees;

    protected override async Task OnInitAsync()
    {
        employees = await Task.FromResult(dbContext.Employees.ToList());
    }
}
