a.ui-button:hover {
    color: #fff;
    text-decoration: none;
}

/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/
.hljs {
display: block;
overflow-x: auto;
background: white;
color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
color: #2b91af;
}

.hljs-doctag {
color: #808080;
}

.hljs-attr {
color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
color: #00b0e8;
}


.hljs-emphasis {
font-style: italic;
}

.hljs-strong {
font-weight: bold;
}

.documentation-link {
text-decoration: none !important; 
padding: 6px 0; 
display: flex; 
align-items: center; 
position: relative; 
float: right; 
margin-left: -100%;
}

.social-link {
margin-right: 8px;
text-decoration: none;
}

.console {
    height: 400px;
    background: #fff;
    margin: 16px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 0 0 16px 0;
    color: #000;
}

.console-content {
    flex: 1;
    overflow: auto;
    background-color: #ccc;
}

.console-header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}
.console-title {
    flex: 1;
    text-align: center;
    font-size: 24px;
}

.console-clear {
    appearance: none;
    border: none;
    background: transparent;
    color: #000;
    padding: 0 16px 0 0;
}

.console-message {
    margin: 8px;
    padding: 4px 0;
    display: flex;
    align-items: baseline;
    background: #fff;
    border-radius: 4px;
}

.console-message-time {
    font-size: 12px;
    padding: 2px 4px;
}

/* next-demos */

body {
    background-color: #F4F5F9;
}

.stage {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.light {
    padding-top: 3rem;
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-position: 50% -700px;
    background-attachment: fixed; 
}

.dark {
    background-color: #050A23;
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-bottom: 3rem;
}

.next a {
    color: #FF504D;
}

.next a:hover {
    text-decoration: none;
    color: #FF7371;
}

.dark a {
    color: #FF9C9A;
}

.dark a:hover {
    color: #FF504D;
}

.next h1,
.next h2,
.next h3,
.next h4,
.next h5,
.next h6 {
    line-height: 100%;
    color: #050A23;
}

.next .dark,
.next .dark h1,
.next .dark h2,
.next .dark h3,
.next .dark h4,
.next .dark h5,
.next .dark h6,
.next .dark p {
    color: #ffffff;
}
.next h1 {
    font-weight: bold;
    font-size: 72px;
    letter-spacing: -0.02em;
}

.next .subtitle {
    font-weight: 100;
    font-size: 24px;
    line-height: 1.3em;
    margin: 3rem 0 3.75rem;
}

.next .subtitle strong {
    font-weight: 700;
}

.next .description {
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4rem;
}

.next h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    margin-bottom: 1.25rem;
}

.next p {
    font-size: 18px;
    font-weight: 400;
    color: #515256;
}

/* Top navigation links */
.nav-links a {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    color: #050A23;
    margin: .5rem 0 0 2.5rem;
    transition: all 0.3s;
}

.nav-links a:hover {
    color: #FF504D;
}

/* CTA Buttons */

.cta-strip {
    margin-top: 4rem;
}

.cta-button {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin: 1rem .5rem 0;
    border-radius: .75rem;
    border: 1px solid #050A23;
    box-sizing: border-box;
    color: #050A23 !important;
    transition: all 0.3s ease-in-out;
}

.dark .cta-button {
    border-color: #828491;
    color: #828491 !important;
}

.cta-button.primary {
    font-weight: 600;
    color: #ffffff !important;
    border-color: #FF504D;
    background: #FF504D;
}

.cta-button:hover {
    text-decoration: none;
    color: #ffffff !important;
    border-color: #050A23;
    background: #050A23;
}
.dark .cta-button:hover {
    text-decoration: none;
    color: #050A23 !important;
    border-color: #ffffff;
    background: #ffffff;
}

.cta-button:active {
    color: #c2c2c2 !important;
}
.dark .cta-button:active {
    color: #515256 !important;
}

/* Customer Logos */

.customers {
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-radius: .75rem;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}

.customers h3 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    min-width: 110px;
    margin: 2rem 0;
}

.logos {
    margin: 2rem 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logos img {
    height: 24px;
    margin: 0 12px 32px;
}

.logos .square {
    height: 48px;
}

/* Radzen Features */

video {
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
    background: rgba(0,0,0,.3) url("../images/play.svg") no-repeat 50% 50%;
}

.radzen-features ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-image: url("../images/checkmark.svg");
}

.radzen-features li {
    cursor: default;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    transition: all 0.3s ease-in-out;
}

/* Most Popular Components */

.popular-components {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.popular-components a {
    font-size: 1.125rem;
    font-weight: 600;
    color: #050A23;
    transition: all 0.2s;
}

.popular-components a:hover {
    color: #FF504D;
}

.popular-components .component-icon {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto 1rem;
}


/* All Components */

.all-components ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.all-components h4 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    margin: 1.25rem 0 0.25rem;
}

.all-components a {
    font-weight: 300;
    line-height: 200%;
    color: #050A23;
    transition: all 0.2s;
}

/* Footer */

.copyright {
    margin-top: 6rem;
    opacity: .2;
    transition: all 0.4s ease-in-out;
}
.copyright p {
    font-size: 1rem;
    font-weight: 300;
    color: #ACAFB9;
}

.copyright:hover {
    opacity: 1;
}

/* Demos Content */

p code,
ul code {
    display: inline-block;
}

p code,
ul code,
pre {
    padding: 0 0.5rem;
    font-size: 0.8125rem !important;
    line-height: 1.5rem;
    background:rgba(0,0,0,.08);
    border-radius: 0.25rem;
}




/* Responsive */

@media (max-width: 767px) {
    .nav-links a {
        margin-left: 1rem;
    }
}

@media (max-width: 576px) {
    .next h1 {
        font-size: 3.5rem;
    }
    .all-components h4 {
        font-size: 1.25rem;
        font-weight: 700;
    }
    .all-components a {
        font-size: 1.25rem;
        font-weight: 400;
    }
    .popular-components a {
        width: 7rem;
        margin-bottom: 2rem;
    }
    .customers h3 {
        margin: 1rem 0 0;
    }
    .copyright {
        opacity: 1;
    }
}