// Common colors
$pinkish-orange: #ff6d41;
$default-link: #479cc8 !default;
$cool-grey: #88989b;
$greyish-brown: #414141;
$black: #040404;
$soft-green: #5dbf74;
$dev: #cb6992;
$dull-yellow: #e6c54f;
$charcoal-grey: #3a474d;
$slate-grey: #5d717b;
$tip: #68d5c8;
$white: #ffffff;
$dark-link: #4db9f2;
$blockquote: #80a4ab;
$blue-grey: #598087;
$battleship-grey: #6d787d;
