$bootstrap: false !default; 

// Headings

$headings: (
  h1: (font-size: 2.25rem, font-weight: bold),
  h2: (font-size: 1.5rem, font-weight: 600),
  h3: (font-size: 1.25rem, font-weight: normal),
  h4: (font-size: 1.125rem, font-weight: 600),
  h5: (font-size: 1rem, font-weight: 600),
  h6: (font-size: 0.875rem, font-weight: 600)
) !default;

@each $name, $heading in $headings {
  #{$name}.rz-heading {
    @each $name, $value in $heading {
      #{$name}: #{$value};
    }
  }
}

@if $bootstrap {
  @each $name, $heading in $headings {
    #{$name},
    .#{$name} {
      @each $name, $value in $heading {
        #{$name}: #{$value};
      }
    }
  }
}

// Paragraph
$paragraph-line-height: 1.38 !default;

@if $bootstrap {
  p {
    line-height: $paragraph-line-height;
  }
}

// Label

.rz-label {
  margin-bottom: 0;
}

@if $bootstrap {
  label {
    margin-bottom: 0;
  }
}

// Link
$link-color: $default-link !default;