$bootstrap: false !default; 

// Headings

$heading-color: inherit !default;

$headings: (
  h1: (font-size: 2rem, line-height: 1.1875em, font-weight: 700, letter-spacing: -0.04em, color: $heading-color, margin-bottom: 1rem),
  h2: (font-size: 1.5rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.03em, color: $heading-color, margin-bottom: 1rem),
  h3: (font-size: 1.125rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: $heading-color, margin-bottom: 0.75rem),
  h4: (font-size: 1rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: $heading-color, margin-bottom: 0.5rem),
  h5: (font-size: 0.875rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: $heading-color, margin-bottom: 0.5rem),
  h6: (font-size: 0.75rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: $heading-color, margin-bottom: 0.5rem)
) !default;

@each $name, $heading in $headings {
  #{$name}.rz-heading {
    @each $name, $value in $heading {
      #{$name}: #{$value};
    }
  }
}

@if $bootstrap {
  @each $name, $heading in $headings {
    #{$name},
    .#{$name} {
      @each $name, $value in $heading {
        #{$name}: #{$value};
      }
    }
  }
}

$headings-thin: (
  h1: (font-size: 3rem, font-weight: 300),
  h2: (font-size: 2rem, font-weight: 300),
  h3: (font-size: 1.25rem, font-weight: 300),
  h4: (font-size: 1rem, font-weight: 300),
  h5: (font-size: 0.875rem, font-weight: 300),
  h6: (font-size: 0.75rem, font-weight: 300)
) !default;

@each $name, $heading in $headings-thin {
  #{$name}.text-thin,
  .#{$name}.text-thin  {
    @each $name, $value in $heading {
      #{$name}: #{$value};
    }
  }
}

// Paragraph

$paragraph-line-height: 1.429 !default;

@if $bootstrap {
  p {
    line-height: $paragraph-line-height;
  }
}

// Label

.rz-label {
  margin-bottom: 0;
}

@if $bootstrap {
  label {
    margin-bottom: 0;
  }
}

// Link
$link-color: $default-link !default;