$font-size: 1rem !default;
$font-size-base: $font-size;
$input-height: 2.1875rem !default;
$border-radius: 4px !default;
$link-hover-decoration: underline !default;
$material: false !default;
$fluent: false !default;
$standard: false !default;
