:root,
.rz-dark {
  --rz-white: #ffffff;
  --rz-black: #000000;
  --rz-base: #334752;
  --rz-base-50: #ffffff;
  --rz-base-100: #f6f7fa;
  --rz-base-200: #e9edf0;
  --rz-base-300: #dadfe2;
  --rz-base-400: #a8b4b8;
  --rz-base-500: #98a5a9;
  --rz-base-600: #8f9ea3;
  --rz-base-700: #334752;
  --rz-base-800: #212E36;
  --rz-base-900: #17262c;
  --rz-base-light: #a8b4b8;
  --rz-base-lighter: #ffffff;
  --rz-base-dark: #212E36;
  --rz-base-darker: #17262c;
  --rz-primary: #bf540d;
  --rz-primary-light: #c7692a;
  --rz-primary-lighter: rgba(191, 84, 13, 0.16);
  --rz-primary-dark: #b04d0c;
  --rz-primary-darker: #8f3f0a;
  --rz-secondary: #076a9c;
  --rz-secondary-light: #257ca8;
  --rz-secondary-lighter: rgba(7, 106, 156, 0.2);
  --rz-secondary-dark: #066290;
  --rz-secondary-darker: #055075;
  --rz-info: #026969;
  --rz-info-light: #2a8181;
  --rz-info-lighter: rgba(2, 105, 105, 0.2);
  --rz-info-dark: #025858;
  --rz-info-darker: #024f4f;
  --rz-success: #0f6c23;
  --rz-success-light: #358446;
  --rz-success-lighter: rgba(15, 108, 35, 0.16);
  --rz-success-dark: #0d5b1d;
  --rz-success-darker: #0b511a;
  --rz-warning: #fac152;
  --rz-warning-light: #fbcb6e;
  --rz-warning-lighter: rgba(250, 193, 82, 0.2);
  --rz-warning-dark: #d2a245;
  --rz-warning-darker: #bc913e;
  --rz-danger: #b2242e;
  --rz-danger-light: #be474f;
  --rz-danger-lighter: rgba(178, 36, 46, 0.2);
  --rz-danger-dark: #961e27;
  --rz-danger-darker: #861b23;
  --rz-on-base: #ffffff;
  --rz-on-base-light: #000000;
  --rz-on-base-lighter: #000000;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #ffffff;
  --rz-on-primary-light: #ffffff;
  --rz-on-primary-lighter: #c2350a;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #ffffff;
  --rz-on-secondary-light: #ffffff;
  --rz-on-secondary-lighter: #076a9c;
  --rz-on-secondary-dark: #ffffff;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #ffffff;
  --rz-on-info-light: #ffffff;
  --rz-on-info-lighter: #026969;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #ffffff;
  --rz-on-success-light: #ffffff;
  --rz-on-success-lighter: #0f6c23;
  --rz-on-success-dark: #ffffff;
  --rz-on-success-darker: #ffffff;
  --rz-on-warning: #000000;
  --rz-on-warning-light: #000000;
  --rz-on-warning-lighter: #fac152;
  --rz-on-warning-dark: #000000;
  --rz-on-warning-darker: #000000;
  --rz-on-danger: #ffffff;
  --rz-on-danger-light: #ffffff;
  --rz-on-danger-lighter: #b2242e;
  --rz-on-danger-dark: #ffffff;
  --rz-on-danger-darker: #ffffff;
  --rz-link-color: #3b9fd5;
  --rz-link-hover-color: #2184ba;
}