@import 'variables';
@import 'mixins';
$theme-dark: true;
$base: true;

// Legacy Theme Tokens

$primary: #ff6d41 !default;
$secondary: #3b9fd5 !default;
$danger: #f9777f !default;
$info: #2cc8c8 !default;
$success: #5dbf74 !default;
$warning: #fac152 !default;
$body-color: #f6f7fa !default;
$body-bg: #28363c !default;
$font-size: 16px !default;

// Legacy Tokens Map

$rz-base-100: $body-color !default;
$rz-base-900: $body-bg !default;
$rz-primary: $primary !default;
$rz-secondary: $secondary !default;
$rz-info: $info !default;
$rz-success: $success !default;
$rz-warning: $warning !default;
$rz-danger: $danger !default;
$rz-root-font-size: $font-size !default;

// Theme Colors

$rz-white: #ffffff !default;
$rz-black: #000000 !default;

$rz-base-50: #ffffff !default;
$rz-base-100: #f6f7fa !default;
$rz-base-200: #e9edf0 !default;
$rz-base-300: #dadfe2 !default;
$rz-base-400: #a8b4b8 !default;
$rz-base-500: #7b8a8e !default;
$rz-base-600: #63737a !default;
$rz-base-700: #45565e !default;
$rz-base-800: #38474e !default;
$rz-base-900: #28363c !default;

$rz-primary: #ff6d41 !default;
$rz-secondary: #3b9fd5 !default;
$rz-info: #2cc8c8 !default;
$rz-success: #5dbf74 !default;
$rz-warning: #fac152 !default;
$rz-danger: #f9777f !default;

$rz-series-1: #376df5 !default;
$rz-series-2: #64dfdf !default;
$rz-series-3: #f68769 !default;
$rz-series-4: #c161e2 !default;
$rz-series-5: #fdd07a !default;
$rz-series-6: #f8629b !default;
$rz-series-7: #74d062 !default;
$rz-series-8: #84a7ff !default;
$rz-series-9: #4d99f9 !default;
$rz-series-10: #8cecec !default;
$rz-series-11: #fab793 !default;
$rz-series-12: #da88ee !default;
$rz-series-13: #fee3ab !default;
$rz-series-14: #fb89c3 !default;
$rz-series-15: #a2e389 !default;
$rz-series-16: #b5caff !default;
$rz-series-17: #1750f3 !default;
$rz-series-18: #46d7d7 !default;
$rz-series-19: #f46e4c !default;
$rz-series-20: #b343db !default;
$rz-series-21: #fdc55f !default;
$rz-series-22: #f64485 !default;
$rz-series-23: #58c544 !default;
$rz-series-24: #6a93ff !default;

$rz-primary-light: mix($rz-white, $rz-primary, 12%)!default;
$rz-primary-lighter: rgba($rz-primary, .16) !default;
$rz-primary-dark: mix($rz-black, $rz-primary, 8%) !default;
$rz-primary-darker: mix($rz-black, $rz-primary, 25%) !default;

$rz-secondary-light: mix($rz-white, $rz-secondary, 12%) !default;
$rz-secondary-lighter: rgba($rz-secondary, .20) !default;
$rz-secondary-dark: mix($rz-black, $rz-secondary, 8%) !default;
$rz-secondary-darker: mix($rz-black, $rz-secondary, 25%) !default;

$rz-info-light: mix($rz-white, $rz-info, 16%) !default;
$rz-info-lighter: rgba($rz-info, .20) !default;
$rz-info-dark: mix($rz-black, $rz-info, 16%) !default;
$rz-info-darker: mix($rz-black, $rz-info, 25%) !default;

$rz-success-light: mix($rz-white, $rz-success, 16%) !default;
$rz-success-lighter: rgba($rz-success, .16) !default;
$rz-success-dark: mix($rz-black, $rz-success, 16%) !default;
$rz-success-darker: mix($rz-black, $rz-success, 25%) !default;

$rz-warning-light: mix($rz-white, $rz-warning, 16%) !default;
$rz-warning-lighter: rgba($rz-warning, .20) !default;
$rz-warning-dark: mix($rz-black, $rz-warning, 16%) !default;
$rz-warning-darker: mix($rz-black, $rz-warning, 25%) !default;

$rz-danger-light: mix($rz-white, $rz-danger, 16%) !default;
$rz-danger-lighter: rgba($rz-danger, .20) !default;
$rz-danger-dark: mix($rz-black, $rz-danger, 16%) !default;
$rz-danger-darker: mix($rz-black, $rz-danger, 25%) !default;

// Theme Constants

$rz-border-width: 1px !default;
$rz-border-radius: 4px !default;
$rz-root-font-size: 16px !default;
$rz-body-font-size: 0.875rem !default;
$rz-body-line-height: 1.429 !default;
$rz-body-background-color: var(--rz-base-900) !default;
$rz-text-font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$rz-icon-font-family: 'Material Icons' !default;
$rz-icon-size: 1.25rem !default;

// Utilities

// Text Color
$rz-text-title-color: var(--rz-base-50) !default;
$rz-text-color: var(--rz-base-100) !default;
$rz-text-secondary-color: var(--rz-base-300) !default;
$rz-text-tertiary-color: var(--rz-base-400) !default; //cool-grey
$rz-text-disabled-color: var(--rz-base-600) !default;
$rz-text-contrast-color: var(--rz-white) !default;

// Link Color
$rz-link-color: var(--rz-secondary) !default;
$rz-link-hover-color: var(--rz-secondary-dark) !default;
$rz-link-hover-decoration: underline !default;

// Background Color
$rz-base-background-color: var(--rz-base-800) !default;

// Borders
$rz-border-normal: var(--rz-border-width) solid var(--rz-base-700) !default;
$rz-border-hover: var(--rz-border-width) solid var(--rz-base-600) !default;
$rz-border-focus: var(--rz-border-width) solid var(--rz-base-600) !default;
$rz-border-disabled: var(--rz-border-width) solid var(--rz-base-700) !default;

// Base Styles Map

$base-styles-map: () !default;
$base-styles-map: map-merge(
  (
    base: (
      background-color: var(--rz-base-700),
      color: var(--rz-text-contrast-color)
    ),
    light: (
      background-color: var(--rz-base-700),
      color: var(--rz-text-contrast-color)
    ),
    dark: (
      background-color: var(--rz-base-900),
      color: var(--rz-text-contrast-color)
    )
  ),
  $base-styles-map
);

// Components

// Button
$button-styles: () !default;
$button-styles: map-merge(
  (
    primary: (
      background-color: var(--rz-primary),
      color: var(--rz-text-contrast-color)
    ),
    light: (
      background-color: var(--rz-base-700),
      color: var(--rz-text-contrast-color)
    ),
    dark: (
      background-color: var(--rz-base-900),
      color: var(--rz-text-contrast-color)
    ),
    secondary: (
      background-color: var(--rz-secondary),
      color: var(--rz-text-contrast-color)
    ),
    info: (
      background-color: var(--rz-info),
      color: var(--rz-text-contrast-color)
    ),
    warning: (
      background-color: var(--rz-warning),
      color: var(--rz-text-contrast-color)
    ),
    error: (
      background-color: var(--rz-danger),
      color: var(--rz-text-contrast-color)
    ),
    danger: (
      background-color: var(--rz-danger),
      color: var(--rz-text-contrast-color)
    ),
    success: (
      background-color: var(--rz-success),
      color: var(--rz-text-contrast-color)
    )
  ),
  $button-styles
);

// Chip
$chip-background-color: var(--rz-base-700) !default;

// Header
$header-border: var(--rz-border-base-700) !default;

// Sidebar
$sidebar-border-right: var(--rz-border-base-800) !default;
$sidebar-background-color: var(--rz-base-background-color) !default;

// SidebarToggle
$sidebar-toggle-border: var(--rz-border-base-700) !default;
$sidebar-toggle-hover-color: var(--rz-secondary) !default;
$sidebar-toggle-background-color: var(--rz-base-background-color) !default;
$sidebar-toggle-color: var(--rz-text-color) !default;

// Card
$card-flat-background-color: var(--rz-base-700) !default;

// ProfileMenu
$profile-menu-border: var(--rz-border-base-900) !default;
$profile-menu-toggle-button-color: var(--rz-text-color) !default;

// Steps
$steps-number-background-color: var(--rz-base-700) !default;

// Panel
$panel-toggle-icon-background-color: var(--rz-base-700) !default;

// Input components
$input-background-color: var(--rz-base-900) !default;
$input-disabled-background-color: var(--rz-base-800) !default;

// Fieldset
$fieldset-border: var(--rz-border-base-700) !default;
$fieldset-toggle-background-color: var(--rz-base-700) !default;

// Dropdown
$dropdown-filter-border: var(--rz-border-base-700) !default;

// Slider
$slider-background-color: var(--rz-base-900) !default;
$slider-range-background-color: var(--rz-secondary-dark) !default;
$slider-disabled-range-background-color: var(--rz-base-700) !default;
$slider-disabled-range-border: var(--rz-border-base-700) !default;
$slider-disabled-handle-background-color: var(--rz-base-700) !default;

// Numeric
$numeric-button-disabled-background-color: var(--rz-base-700) !default;

// DatePicker
$datepicker-header-background-color: var(--rz-base-800) !default;
$datepicker-calendar-border: var(--rz-border-base-700) !default;
$timepicker-background-color: var(--rz-base-900) !default;

// Upload
$upload-button-bar-background-color: var(--rz-base-700) !default;
$upload-files-remove-background-color: var(--rz-base-700) !default;

// Grid
$grid-header-background-color: var(--rz-base-900) !default;
$grid-header-color: var(--rz-text-secondary-color) !default;
$grid-stripe-background-color: var(--rz-base-700) !default;
$grid-header-sorted-background-color: var(--rz-base-800) !default;
$grid-filter-background-color: var(--rz-base-800) !default;
$grid-filter-buttons-background-color: var(--rz-base-900) !default;
$grid-detail-template-background-color: var(--rz-base-900) !default;

// Paginator
$paginator-back-button-background-color: var(--rz-base-700) !default;
$paginator-next-button-background-color: var(--rz-base-700) !default;
$paginator-numeric-button-background-color: var(--rz-base-700) !default;
$paginator-numeric-button-selected-color: var(--rz-text-contrast-color) !default;
$paginator-numeric-button-selected-background-color: var(--rz-base-900) !default;
$paginator-numeric-button-selected-border: var(--rz-border-base-900) !default;

// DataList
$datalist-item-border: none !default;
$datalist-border: var(--rz-border-base-700) !default;
$datalist-item-shadow: 0 22px 64px 0 rgba(0, 0, 0, 0.22);

// Scheduler
$scheduler-toolbar-background-color: var(--rz-base-900) !default;
$scheduler-header-background-color: var(--rz-base-700) !default;
$scheduler-header-border: none !default;
$scheduler-border-color: var(--rz-base-700) !default;
$scheduler-minor-border-color: var(--rz-base-700) !default;
$scheduler-weekend-color: var(--rz-text-tertiary-color) !default;
$scheduler-weekend-background-color: var(--rz-base-700) !default;
$scheduler-other-month-background-color: var(--rz-base-900) !default;

.rz-slot-minor {
  border-top: 1px dotted var(--rz-scheduler-minor-border-color) !important;
}

// Tabs
$tabs-tab-background-color: var(--rz-base-700) !default;
$tabs-tab-hover-background-color: var(--rz-base-800);
$tabs-tab-color: var(--rz-text-secondary-color) !default;
$tabs-tab-hover-color: var(--rz-text-color) !default;
$tabs-border: none !default;

// Dialog
$dialog-title-background-color: var(--rz-base-background-color) !default;

// Overlay
$overlay-background-color: var(--rz-base-background-color) !default;

// Footer
$footer-border: var(--rz-border-base-700) !default;

// Scrollbar
$scrollbar-color: var(--rz-base-600) !default;

//Login
$login-register-background-color: var(--rz-base-700) !default;

// ProgressBar
$progressbar-background-color: var(--rz-base-700) !default;

// Chart
$chart-axis-color: var(--rz-base-600) !default ;
$chart-axis-label-color: var(--rz-text-secondary-color) !default;

// Timeline
$rz-timeline-point-background-color: var(--rz-base-600) !default;
$rz-timeline-point-color: var(--rz-text-color) !default;
$rz-timeline-line-color: var(--rz-base-600) !default;

// Editor
$editor-separator-background-color: var(--rz-base-700) !default;

// Splitter
$splitter-bar-background-color: var(--rz-base-700) !default;
$splitter-bar-hover-opacity: 0.8 !default;

// FormField
$form-field-filled-background-color: var(--rz-base-700) !default;
$form-field-filled-hover-background-color: var(--rz-base-700) !default;

@import 'fonts';
@import 'components';
