@import 'variables';

//---- Global Theme Colors

$rz-white: #ffffff !default;
$rz-black: #000000 !default;

$rz-base-50: #ffffff !default;
$rz-base-100: #f6f7fa !default;
$rz-base-200: #e9edf0 !default;
$rz-base-300: #dadfe2 !default;
$rz-base-400: #A8B4B8 !default;
$rz-base-500: #7B8A8E !default;
$rz-base-600: #63737A !default;
$rz-base-700: #45565E !default;
$rz-base-800: #38474E !default;
$rz-base-900: #28363c !default;

$rz-primary: #ff6d41 !default;
$rz-secondary: #3b9fd5 !default;
$rz-info: #2cc8c8 !default;
$rz-success: #5dbf74 !default;
$rz-warning: #fac152 !default;
$rz-danger: #f9777f !default;

$rz-series-1: #376df5 !default;
$rz-series-2: #64dfdf !default;
$rz-series-3: #f68769 !default;
$rz-series-4: #c161e2 !default;
$rz-series-5: #fdd07a !default;
$rz-series-6: #f8629b !default;
$rz-series-7: #74d062 !default;
$rz-series-8: #84a7ff !default;

$rz-primary-light: mix($rz-white, $rz-primary, 12%)!default;
$rz-primary-lighter: rgba($rz-primary, .16) !default;
$rz-primary-dark: mix($rz-black, $rz-primary, 8%) !default;

$rz-secondary-light: mix($rz-white, $rz-secondary, 12%) !default;
$rz-secondary-lighter: rgba($rz-secondary, .20) !default;
$rz-secondary-dark: mix($rz-black, $rz-secondary, 8%) !default;

$rz-info-light: mix($rz-white, $rz-info, 16%) !default;
$rz-info-lighter: rgba($rz-info, .20) !default;
$rz-info-dark: mix($rz-black, $rz-info, 16%) !default;

$rz-success-light: mix($rz-white, $rz-success, 16%) !default;
$rz-success-lighter: rgba($rz-success, .16) !default;
$rz-success-dark: mix($rz-black, $rz-success, 16%) !default;

$rz-warning-light: mix($rz-white, $rz-warning, 16%) !default;
$rz-warning-lighter: rgba($rz-warning, .20) !default;
$rz-warning-dark: mix($rz-black, $rz-warning, 16%) !default;

$rz-danger-light: mix($rz-white, $rz-danger, 16%) !default;
$rz-danger-lighter: rgba($rz-danger, .20) !default;
$rz-danger-dark: mix($rz-black, $rz-danger, 16%) !default;

$rz-theme-colors: () !default;
$rz-theme-colors: map-merge(
  (
    "rz-white": $rz-white,
    "rz-black": $rz-black,
    
    "rz-base-50": $rz-base-50,
    "rz-base-100": $rz-base-100,
    "rz-base-200": $rz-base-200,
    "rz-base-300": $rz-base-300,
    "rz-base-400": $rz-base-400,
    "rz-base-500": $rz-base-500,
    "rz-base-600": $rz-base-600,
    "rz-base-700": $rz-base-700,
    "rz-base-800": $rz-base-800,
    "rz-base-900": $rz-base-900,
    
    "rz-primary": $rz-primary,
    "rz-primary-light": $rz-primary-light,
    "rz-primary-lighter": $rz-primary-lighter,
    "rz-primary-dark": $rz-primary-dark,
    
    "rz-secondary": $rz-secondary,
    "rz-secondary-light": $rz-secondary-light,
    "rz-secondary-lighter": $rz-secondary-lighter,
    "rz-secondary-dark": $rz-secondary-dark,
    
    "rz-info": $rz-info,
    "rz-info-light": $rz-info-light,
    "rz-info-lighter": $rz-info-lighter,
    "rz-info-dark": $rz-info-dark,
    
    "rz-success": $rz-success,
    "rz-success-light": $rz-success-light,
    "rz-success-lighter": $rz-success-lighter,
    "rz-success-dark": $rz-success-dark,
    
    "rz-warning": $rz-warning,
    "rz-warning-light": $rz-warning-light,
    "rz-warning-lighter": $rz-warning-lighter,
    "rz-warning-dark": $rz-warning-dark,
    
    "rz-danger": $rz-danger,
    "rz-danger-light": $rz-danger-light,
    "rz-danger-lighter": $rz-danger-lighter,
    "rz-danger-dark": $rz-danger-dark,
    
    "rz-series-1": $rz-series-1,
    "rz-series-2": $rz-series-2,
    "rz-series-3": $rz-series-3,
    "rz-series-4": $rz-series-4,
    "rz-series-5": $rz-series-5,
    "rz-series-6": $rz-series-6,
    "rz-series-7": $rz-series-7,
    "rz-series-8": $rz-series-8,
  ),
  $rz-theme-colors
);

//---- Global Theme Constants

$rz-border-width: 1px !default;
$rz-border-radius: 4px !default;
$rz-root-font-size: 16px !default;
$rz-body-font-size: 0.875rem !default;
$rz-body-line-height: 1.429 !default;
$rz-icon-size: 1.25rem !default;

$rz-theme-constants: () !default;
$rz-theme-constants: map-merge(
  (
    "rz-border-width": $rz-border-width,
    "rz-border-radius": $rz-border-radius,
    "rz-root-font-size": $rz-root-font-size,
    "rz-body-font-size": $rz-body-font-size,
    "rz-body-line-height": $rz-body-line-height,
    "rz-icon-size": $rz-icon-size,
  ),
  $rz-theme-constants
);

// Global CSS Variables

@import 'css-variables';

//---- Bootstrap variable overrides. DO NOT USE IN COMPONENTS!

$font-size: 0.875rem !default;
$font-size-base: $font-size !default;
$border-radius: 4px !default;
$primary: $rz-primary !default;
$secondary: $rz-secondary !default;
$danger: $rz-danger !default;
$info: $rz-info !default;
$success: $rz-success !default;
$warning: $rz-warning !default;
$light: $rz-base-200 !default;
$body-color: $rz-base-50 !default;
$link-color: $rz-secondary !default;
$link-hover-color: $rz-secondary !default;
$link-hover-decoration: underline !default;
$state-success-bg: $rz-success !default;
$state-warning-bg: $rz-warning !default;
$state-danger-bg: $rz-danger !default;
$state-info-bg: $rz-info !default;

// Bootstrap component overrides. We need these because bootstrap is overriding them in components.

$card-border-radius: var(--rz-border-radius);
$input-height: 2.25rem;
$input-line-height: 1.429;
$input-border-radius: var(--rz-border-radius);
$input-placeholder-color: var(--rz-text-tertiary-color);
$tooltip-color: var(--rz-text-contrast-color);
$tooltip-border-radius: var(--rz-border-radius);
$tooltip-font-size: 0.875rem;
$body-bg: var(--rz-base-900) !default;
$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;


// Utilities

// Text Color
$rz-text-title-color: var(--rz-base-50) !default;
$rz-text-color: var(--rz-base-100) !default;
$rz-text-secondary-color: var(--rz-base-300) !default;
$rz-text-tertiary-color: var(--rz-base-400) !default; //cool-grey
$rz-text-disabled-color: var(--rz-base-600) !default;
$rz-text-contrast-color: var(--rz-white) !default;

// Link Color
$rz-link-color: var(--rz-secondary) !default;
$rz-link-hover-color: var(--rz-secondary-dark) !default;
$rz-link-hover-decoration: underline !default;

// Background Color
$rz-base-background-color: var(--rz-base-800) !default;

// Borders
$rz-border-normal: var(--rz-border-width) solid var(--rz-base-700) !default;
$rz-border-hover: var(--rz-border-width) solid var(--rz-base-600) !default;
$rz-border-focus: var(--rz-border-width) solid var(--rz-base-600) !default;
$rz-border-disabled: var(--rz-border-width) solid var(--rz-base-700) !default;

// Components

// Button
$button-styles: () !default;
$button-styles: map-merge(
  (
    primary: (
      background-color: var(--rz-primary),
      color: var(--rz-text-contrast-color)
    ),
    light: (
      background-color: var(--rz-base-700),
      color: var(--rz-text-contrast-color)
    ),
    secondary: (
      background-color: var(--rz-secondary),
      color: var(--rz-text-contrast-color)
    ),
    info: (
      background-color: var(--rz-info),
      color: var(--rz-text-contrast-color)
    ),
    warning: (
      background-color: var(--rz-warning),
      color: var(--rz-text-contrast-color)
    ),
    error: (
      background-color: var(--rz-danger),
      color: var(--rz-text-contrast-color)
    ),
    danger: (
      background-color: var(--rz-danger),
      color: var(--rz-text-contrast-color)
    ),
    success: (
      background-color: var(--rz-success),
      color: var(--rz-text-contrast-color)
    )
  ),
  $button-styles
);

// Header
$header-border: var(--rz-border-700) !default;

// Sidebar
$sidebar-border-right: var(--rz-border-800) !default;
$sidebar-background-color: var(--rz-base-background-color) !default;

// SidebarToggle
$sidebar-toggle-border: var(--rz-border-700) !default;
$sidebar-toggle-hover-color: var(--rz-secondary) !default;
$sidebar-toggle-background-color: var(--rz-base-background-color) !default;
$sidebar-toggle-color: var(--rz-text-color) !default;

// ProfileMenu
$profile-menu-border: var(--rz-border-900) !default;
$profile-menu-toggle-button-color: var(--rz-text-color) !default;

// Steps
$steps-number-background-color: var(--rz-base-700) !default;

// Panel
$panel-toggle-icon-background-color: var(--rz-base-700) !default;

// Input components
$input-background-color: var(--rz-base-900) !default;
$input-disabled-background-color: var(--rz-base-800) !default;

// Fieldset
$fieldset-border: var(--rz-border-700) !default;
$fieldset-toggle-background-color: var(--rz-base-700) !default;

// Dropdown
$dropdown-filter-border: var(--rz-border-700) !default;

// Slider
$slider-background-color: var(--rz-base-900) !default;
$slider-range-background-color: var(--rz-secondary-dark) !default;
$slider-disabled-range-background-color: var(--rz-base-700) !default;
$slider-disabled-range-border: var(--rz-base-700) !default;
$slider-disabled-handle-background-color: var(--rz-base-700) !default;

// Numeric
$numeric-button-disabled-background-color: var(--rz-base-700) !default;

// DatePicker
$datepicker-header-background-color: var(--rz-base-800) !default;
$datepicker-calendar-border: var(--rz-border-700) !default;

// Upload
$upload-button-bar-background-color: var(--rz-base-700) !default;

// Grid
$grid-header-background-color: var(--rz-base-900) !default;
$grid-header-color: var(--rz-text-secondary-color) !default;
$grid-stripe-background-color: var(--rz-base-700) !default;
$grid-header-sorted-background-color: var(--rz-base-800) !default;
$grid-filter-background-color: var(--rz-base-800) !default;
$grid-detail-template-background-color: var(--rz-base-900) !default;


// Paginator
$paginator-back-button-background-color: var(--rz-base-700) !default;
$paginator-next-button-background-color: var(--rz-base-700) !default;
$paginator-numeric-button-background-color: var(--rz-base-700) !default;
$paginator-numeric-button-selected-color: var(--rz-text-contrast-color) !default;
$paginator-numeric-button-selected-background-color: var(--rz-base-900) !default;
$paginator-numeric-button-selected-border: var(--rz-border-700) !default;

// DataList
$datalist-item-border: none !default;
$datalist-border: var(--rz-border-700) !default;
$datalist-item-shadow: 0 22px 64px 0 rgba(0, 0, 0, 0.22);

// Scheduler
$scheduler-toolbar-background-color: var(--rz-base-900) !default;
$scheduler-header-background-color: var(--rz-base-700) !default;
$scheduler-header-border: none !default;
$scheduler-border-color: var(--rz-base-700) !default;
$scheduler-minor-border-color: var(--rz-base-700) !default;

.rz-slot-minor {
  border-top: 1px dotted var(--rz-scheduler-minor-border-color) !important;
}

// Tabs
$tabs-tab-background-color: var(--rz-base-700) !default;
$tabs-tab-hover-background-color: var(--rz-base-800);
$tabs-tab-color: var(--rz-text-secondary-color) !default;
$tabs-tab-hover-color: var(--rz-text-color) !default;
$tabs-border: none !default;

// Dialog
$dialog-title-background-color: var(--rz-base-background-color) !default;

// Footer
$footer-border: var(--rz-border-700) !default;

// Scrollbar
$scrollbar-color: var(--rz-base-600) !default;

// ProgressBar
$progressbar-background-color: var(--rz-base-700) !default;

// Chart
$chart-axis-color: var(--rz-base-600) !default ;
$chart-axis-label-color: var(--rz-text-secondary-color) !default;

// Editor
$editor-separator-background-color: var(--rz-base-700) !default;

// Splitter
$splitter-bar-background-color: var(--rz-base-700) !default;
$splitter-bar-hover-opacity: 0.8 !default;

@import 'fonts';
@import 'components';
