@import 'variables';
@import 'mixins';
$base: true;

// Legacy Theme Tokens

$primary: #ff6d41 !default;
$secondary: #35a0d7 !default;
$danger: #f9777f !default;
$info: #2cc8c8 !default;
$success: #5dbf74 !default;
$warning: #fac152 !default;
$body-color: #3a474d !default;
$body-bg: #f6f7fa !default;
$font-size: 16px !default;

// Legacy Tokens Map

$rz-base-100: $body-bg !default;
$rz-base-800: $body-color !default;
$rz-primary: $primary !default;
$rz-secondary: $secondary !default;
$rz-info: $info !default;
$rz-success: $success !default;
$rz-warning: $warning !default;
$rz-danger: $danger !default;
$rz-root-font-size: $font-size !default;

// Theme Colors

$rz-white: #ffffff !default;
$rz-black: #000000 !default;

$rz-base-50: #ffffff !default;
$rz-base-100: #f6f7fa !default;
$rz-base-200: #e9edf0 !default;
$rz-base-300: #dadfe2 !default;
$rz-base-400: #c1c9cb !default;
$rz-base-500: #95a4a8 !default;
$rz-base-600: #77858b !default;
$rz-base-700: #545e61 !default;
$rz-base-800: #3a474d !default;
$rz-base-900: #28363c !default;

$rz-primary: #ff6d41 !default;
$rz-secondary: #35a0d7 !default;
$rz-info: #2cc8c8 !default;
$rz-success: #5dbf74 !default;
$rz-warning: #fac152 !default;
$rz-danger: #f9777f !default;

$rz-series-1: #0479cc !default;
$rz-series-2: #68d5c8 !default;
$rz-series-3: #ff6d41 !default;
$rz-series-4: #cb6992 !default;
$rz-series-5: #e6c54f !default;
$rz-series-6: #f9777f !default;
$rz-series-7: #5dbf74 !default;
$rz-series-8: #4db9f2 !default;
$rz-series-9: #06a9e0 !default;
$rz-series-10: #92e6de !default;
$rz-series-11: #ff995b !default;
$rz-series-12: #e093be !default;
$rz-series-13: #f0dc6f !default;
$rz-series-14: #fba7b2 !default;
$rz-series-15: #82d9a2 !default;
$rz-series-16: #6cd5f7 !default;
$rz-series-17: #0063c2 !default;
$rz-series-18: #50cdbe !default;
$rz-series-19: #ff5628 !default;
$rz-series-20: #c1527f !default;
$rz-series-21: #e1ba36 !default;
$rz-series-22: #f8616a !default;
$rz-series-23: #45b35e !default;
$rz-series-24: #34acef !default;

$rz-primary-light: mix($rz-white, $rz-primary, 12%)!default;
$rz-primary-lighter: rgba($rz-primary, .16) !default;
$rz-primary-dark: mix($rz-black, $rz-primary, 8%) !default;
$rz-primary-darker: mix($rz-black, $rz-primary, 25%) !default;

$rz-secondary-light: mix($rz-white, $rz-secondary, 12%) !default;
$rz-secondary-lighter: rgba($rz-secondary, .20) !default;
$rz-secondary-dark: mix($rz-black, $rz-secondary, 8%) !default;
$rz-secondary-darker: mix($rz-black, $rz-secondary, 25%) !default;

$rz-info-light: mix($rz-white, $rz-info, 16%) !default;
$rz-info-lighter: rgba($rz-info, .20) !default;
$rz-info-dark: mix($rz-black, $rz-info, 16%) !default;
$rz-info-darker: mix($rz-black, $rz-info, 25%) !default;

$rz-success-light: mix($rz-white, $rz-success, 16%) !default;
$rz-success-lighter: rgba($rz-success, .16) !default;
$rz-success-dark: mix($rz-black, $rz-success, 16%) !default;
$rz-success-darker: mix($rz-black, $rz-success, 25%) !default;

$rz-warning-light: mix($rz-white, $rz-warning, 16%) !default;
$rz-warning-lighter: rgba($rz-warning, .20) !default;
$rz-warning-dark: mix($rz-black, $rz-warning, 16%) !default;
$rz-warning-darker: mix($rz-black, $rz-warning, 25%) !default;

$rz-danger-light: mix($rz-white, $rz-danger, 16%) !default;
$rz-danger-lighter: rgba($rz-danger, .20) !default;
$rz-danger-dark: mix($rz-black, $rz-danger, 16%) !default;
$rz-danger-darker: mix($rz-black, $rz-danger, 25%) !default;

// Theme Constants

$rz-border-width: 1px !default;
$rz-border-radius: 4px !default;
$rz-root-font-size: 16px !default;
$rz-body-font-size: 0.875rem !default;
$rz-body-line-height: 1.429 !default;
$rz-body-background-color: var(--rz-base-100) !default;
$rz-text-font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$rz-icon-font-family: 'Material Icons' !default;
$rz-icon-size: 1.25rem !default;

@import 'fonts';
@import 'components';