:root,
.rz-humanistic {
  --rz-white: #ffffff;
  --rz-black: #000000;
  --rz-base: #d9e1ea;
  --rz-base-50: #ffffff;
  --rz-base-100: #f3f5f7;
  --rz-base-200: #ebeef2;
  --rz-base-300: #d9e1ea;
  --rz-base-400: #87a4c4;
  --rz-base-500: #466791;
  --rz-base-600: #3f618d;
  --rz-base-700: #395374;
  --rz-base-800: #30445f;
  --rz-base-900: #2b3a50;
  --rz-base-light: #ebeef2;
  --rz-base-lighter: #ffffff;
  --rz-base-dark: #3f618d;
  --rz-base-darker: #2b3a50;
  --rz-primary: #a9352d;
  --rz-primary-light: #b34d46;
  --rz-primary-lighter: rgba(169, 53, 45, 0.16);
  --rz-primary-dark: #9b3129;
  --rz-primary-darker: #7f2822;
  --rz-secondary: #005fad;
  --rz-secondary-light: #1f72b7;
  --rz-secondary-lighter: rgba(0, 95, 173, 0.2);
  --rz-secondary-dark: #00579f;
  --rz-secondary-darker: #004782;
  --rz-info: #026969;
  --rz-info-light: #2a8181;
  --rz-info-lighter: rgba(2, 105, 105, 0.2);
  --rz-info-dark: #025858;
  --rz-info-darker: #024f4f;
  --rz-success: #0f6c23;
  --rz-success-light: #358446;
  --rz-success-lighter: rgba(15, 108, 35, 0.16);
  --rz-success-dark: #0d5b1d;
  --rz-success-darker: #0b511a;
  --rz-warning: #fac152;
  --rz-warning-light: #fbcb6e;
  --rz-warning-lighter: rgba(250, 193, 82, 0.2);
  --rz-warning-dark: #d2a245;
  --rz-warning-darker: #bc913e;
  --rz-danger: #b2242e;
  --rz-danger-light: #be474f;
  --rz-danger-lighter: rgba(178, 36, 46, 0.2);
  --rz-danger-dark: #961e27;
  --rz-danger-darker: #861b23;
  --rz-on-base: #000000;
  --rz-on-base-light: #000000;
  --rz-on-base-lighter: #000000;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #ffffff;
  --rz-on-primary-light: #ffffff;
  --rz-on-primary-lighter: #a9352d;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #ffffff;
  --rz-on-secondary-light: #ffffff;
  --rz-on-secondary-lighter: #005fad;
  --rz-on-secondary-dark: #ffffff;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #ffffff;
  --rz-on-info-light: #ffffff;
  --rz-on-info-lighter: #026969;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #ffffff;
  --rz-on-success-light: #ffffff;
  --rz-on-success-lighter: #0f6c23;
  --rz-on-success-dark: #ffffff;
  --rz-on-success-darker: #ffffff;
  --rz-on-warning: #000000;
  --rz-on-warning-light: #000000;
  --rz-on-warning-lighter: #fac152;
  --rz-on-warning-dark: #000000;
  --rz-on-warning-darker: #000000;
  --rz-on-danger: #ffffff;
  --rz-on-danger-light: #ffffff;
  --rz-on-danger-lighter: #b2242e;
  --rz-on-danger-dark: #ffffff;
  --rz-on-danger-darker: #ffffff;
}