@import 'variables';

//---- Global Theme Colors

$rz-white: #ffffff !default;
$rz-black: #000000 !default;

$rz-base-50: #ffffff !default;
$rz-base-100: #f3f5f7 !default;
$rz-base-200: #ebeef2 !default;
$rz-base-300: #d9e1ea !default;
$rz-base-400: #87a4c4 !default;
$rz-base-500: #7293b6 !default;
$rz-base-600: #466791 !default;
$rz-base-700: #395374 !default;
$rz-base-800: #30445f !default;
$rz-base-900: #2b3a50 !default;

$rz-primary: #d64d42 !default;
$rz-secondary: #3ba5fc !default;
$rz-info: #2cc8c8 !default;
$rz-success: #5dbf74 !default;
$rz-warning: #fac152 !default;
$rz-danger: #f9777f !default;

$rz-series-1: #376df5 !default;
$rz-series-2: #64dfdf !default;
$rz-series-3: #f68769 !default;
$rz-series-4: #c161e2 !default;
$rz-series-5: #fdd07a !default;
$rz-series-6: #f8629b !default;
$rz-series-7: #74d062 !default;
$rz-series-8: #84a7ff !default;

$rz-primary-light: mix($rz-white, $rz-primary, 12%)!default;
$rz-primary-lighter: rgba($rz-primary, .16) !default;
$rz-primary-dark: mix($rz-black, $rz-primary, 8%) !default;

$rz-secondary-light: mix($rz-white, $rz-secondary, 12%) !default;
$rz-secondary-lighter: rgba($rz-secondary, .20) !default;
$rz-secondary-dark: mix($rz-black, $rz-secondary, 8%) !default;

$rz-info-light: mix($rz-white, $rz-info, 16%) !default;
$rz-info-lighter: rgba($rz-info, .20) !default;
$rz-info-dark: mix($rz-black, $rz-info, 16%) !default;

$rz-success-light: mix($rz-white, $rz-success, 16%) !default;
$rz-success-lighter: rgba($rz-success, .16) !default;
$rz-success-dark: mix($rz-black, $rz-success, 16%) !default;

$rz-warning-light: mix($rz-white, $rz-warning, 16%) !default;
$rz-warning-lighter: rgba($rz-warning, .20) !default;
$rz-warning-dark: mix($rz-black, $rz-warning, 16%) !default;

$rz-danger-light: mix($rz-white, $rz-danger, 16%) !default;
$rz-danger-lighter: rgba($rz-danger, .20) !default;
$rz-danger-dark: mix($rz-black, $rz-danger, 16%) !default;

$rz-theme-colors: () !default;
$rz-theme-colors: map-merge(
  (
    "rz-white": $rz-white,
    "rz-black": $rz-black,
    
    "rz-base-50": $rz-base-50,
    "rz-base-100": $rz-base-100,
    "rz-base-200": $rz-base-200,
    "rz-base-300": $rz-base-300,
    "rz-base-400": $rz-base-400,
    "rz-base-500": $rz-base-500,
    "rz-base-600": $rz-base-600,
    "rz-base-700": $rz-base-700,
    "rz-base-800": $rz-base-800,
    "rz-base-900": $rz-base-900,
    
    "rz-primary": $rz-primary,
    "rz-primary-light": $rz-primary-light,
    "rz-primary-lighter": $rz-primary-lighter,
    "rz-primary-dark": $rz-primary-dark,
    
    "rz-secondary": $rz-secondary,
    "rz-secondary-light": $rz-secondary-light,
    "rz-secondary-lighter": $rz-secondary-lighter,
    "rz-secondary-dark": $rz-secondary-dark,
    
    "rz-info": $rz-info,
    "rz-info-light": $rz-info-light,
    "rz-info-lighter": $rz-info-lighter,
    "rz-info-dark": $rz-info-dark,
    
    "rz-success": $rz-success,
    "rz-success-light": $rz-success-light,
    "rz-success-lighter": $rz-success-lighter,
    "rz-success-dark": $rz-success-dark,
    
    "rz-warning": $rz-warning,
    "rz-warning-light": $rz-warning-light,
    "rz-warning-lighter": $rz-warning-lighter,
    "rz-warning-dark": $rz-warning-dark,
    
    "rz-danger": $rz-danger,
    "rz-danger-light": $rz-danger-light,
    "rz-danger-lighter": $rz-danger-lighter,
    "rz-danger-dark": $rz-danger-dark,
    
    "rz-series-1": $rz-series-1,
    "rz-series-2": $rz-series-2,
    "rz-series-3": $rz-series-3,
    "rz-series-4": $rz-series-4,
    "rz-series-5": $rz-series-5,
    "rz-series-6": $rz-series-6,
    "rz-series-7": $rz-series-7,
    "rz-series-8": $rz-series-8,
  ),
  $rz-theme-colors
);

//---- Global Theme Constants

$rz-border-width: 1px !default;
$rz-border-radius: 0 !default;
$rz-root-font-size: 16px !default;
$rz-body-font-size: 0.875rem !default;
$rz-body-line-height: 1.429 !default;
$rz-icon-size: 1.25rem !default;

$rz-theme-constants: () !default;
$rz-theme-constants: map-merge(
  (
    "rz-border-width": $rz-border-width,
    "rz-border-radius": $rz-border-radius,
    "rz-root-font-size": $rz-root-font-size,
    "rz-body-font-size": $rz-body-font-size,
    "rz-body-line-height": $rz-body-line-height,
    "rz-icon-size": $rz-icon-size,
  ),
  $rz-theme-constants
);

// Global CSS Variables

@import 'css-variables';

@import 'fonts';
@import 'components';
