:root,
.rz-material {
  --rz-white: #ffffff;
  --rz-black: #000000;
  --rz-base: #eeeeee;
  --rz-base-50: #fafafa;
  --rz-base-100: #f5f5f5;
  --rz-base-200: #eeeeee;
  --rz-base-300: #e0e0e0;
  --rz-base-400: #bdbdbd;
  --rz-base-500: #757575;
  --rz-base-600: #707070;
  --rz-base-700: #616161;
  --rz-base-800: #424242;
  --rz-base-900: #212121;
  --rz-base-light: #f5f5f5;
  --rz-base-lighter: #ffffff;
  --rz-base-dark: #424242;
  --rz-base-darker: #212121;
  --rz-primary: #4340D2;
  --rz-primary-light: #6966db;
  --rz-primary-lighter: rgba(67, 64, 210, 0.12);
  --rz-primary-dark: #3633a8;
  --rz-primary-darker: #2e2c8f;
  --rz-secondary: #ad1357;
  --rz-secondary-light: #bd4279;
  --rz-secondary-lighter: rgba(173, 19, 87, 0.12);
  --rz-secondary-dark: #8a0f46;
  --rz-secondary-darker: #760d3b;
  --rz-info: #0d47a1;
  --rz-info-light: #3d6cb4;
  --rz-info-lighter: rgba(13, 71, 161, 0.2);
  --rz-info-dark: #0a3981;
  --rz-info-darker: #09306d;
  --rz-success: #1b5e20;
  --rz-success-light: #497e4d;
  --rz-success-lighter: rgba(27, 94, 32, 0.16);
  --rz-success-dark: #164b1a;
  --rz-success-darker: #124016;
  --rz-warning: #ffa726;
  --rz-warning-light: #ffb951;
  --rz-warning-lighter: rgba(255, 167, 38, 0.2);
  --rz-warning-dark: #cc861e;
  --rz-warning-darker: #ad721a;
  --rz-danger: #b71b1b;
  --rz-danger-light: #c54949;
  --rz-danger-lighter: rgba(183, 27, 27, 0.2);
  --rz-danger-dark: #921616;
  --rz-danger-darker: #7c1212;
  --rz-on-base: #212121;
  --rz-on-base-light: #212121;
  --rz-on-base-lighter: #212121;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #ffffff;
  --rz-on-primary-light: #ffffff;
  --rz-on-primary-lighter: #4340D2;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #ffffff;
  --rz-on-secondary-light: #ffffff;
  --rz-on-secondary-lighter: #ad1357;
  --rz-on-secondary-dark: #ffffff;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #ffffff;
  --rz-on-info-light: #ffffff;
  --rz-on-info-lighter: #0d47a1;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #ffffff;
  --rz-on-success-light: #ffffff;
  --rz-on-success-lighter: #1b5e20;
  --rz-on-success-dark: #ffffff;
  --rz-on-success-darker: #ffffff;
  --rz-on-warning: #000000;
  --rz-on-warning-light: #000000;
  --rz-on-warning-lighter: #ffa726;
  --rz-on-warning-dark: #000000;
  --rz-on-warning-darker: #000000;
  --rz-on-danger: #ffffff;
  --rz-on-danger-light: #ffffff;
  --rz-on-danger-lighter: #b71b1b;
  --rz-on-danger-dark: #ffffff;
  --rz-on-danger-darker: #ffffff;
}