:root,
.rz-material-dark {
  --rz-white: #ffffff;
  --rz-black: #000000;
  --rz-base: #383838;
  --rz-base-50: #e0e0e0;
  --rz-base-100: #bdbdbd;
  --rz-base-200: #9E9E9E;
  --rz-base-300: #858585;
  --rz-base-400: #383838;
  --rz-base-500: #333333;
  --rz-base-600: #2e2e2e;
  --rz-base-700: #252525;
  --rz-base-800: #1e1e1e;
  --rz-base-900: #121212;
  --rz-base-light: #a0a0a0;
  --rz-base-lighter: #ffffff;
  --rz-base-dark: #252525;
  --rz-base-darker: #000000;
  --rz-primary: #bb86fc;
  --rz-primary-light: #c99efd;
  --rz-primary-lighter: rgba(187, 134, 252, 0.12);
  --rz-primary-dark: #966bca;
  --rz-primary-darker: #7f5bab;
  --rz-secondary: #01a299;
  --rz-secondary-light: #34b5ad;
  --rz-secondary-lighter: rgba(1, 162, 153, 0.12);
  --rz-secondary-dark: #01827a;
  --rz-secondary-darker: #016e68;
  --rz-info: #2196f3;
  --rz-info-light: #4dabf5;
  --rz-info-lighter: rgba(33, 150, 243, 0.2);
  --rz-info-dark: #1a78c2;
  --rz-info-darker: #1666a5;
  --rz-success: #4caf50;
  --rz-success-light: #70bf73;
  --rz-success-lighter: rgba(76, 175, 80, 0.16);
  --rz-success-dark: #3d8c40;
  --rz-success-darker: #347736;
  --rz-warning: #ff9800;
  --rz-warning-light: #ffad33;
  --rz-warning-lighter: rgba(255, 152, 0, 0.2);
  --rz-warning-dark: #cc7a00;
  --rz-warning-darker: #ad6700;
  --rz-danger: #f44336;
  --rz-danger-light: #f6695e;
  --rz-danger-lighter: rgba(244, 67, 54, 0.2);
  --rz-danger-dark: #c3362b;
  --rz-danger-darker: #a62e25;
  --rz-on-base: #ffffff;
  --rz-on-base-light: #000000;
  --rz-on-base-lighter: #000000;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #000000;
  --rz-on-primary-light: #000000;
  --rz-on-primary-lighter: #ffffff;
  --rz-on-primary-dark: #000000;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #000000;
  --rz-on-secondary-light: #000000;
  --rz-on-secondary-lighter: #34b5ad;
  --rz-on-secondary-dark: #ffffff;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #000000;
  --rz-on-info-light: #000000;
  --rz-on-info-lighter: #4dabf5;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #000000;
  --rz-on-success-light: #000000;
  --rz-on-success-lighter: #70bf73;
  --rz-on-success-dark: #000000;
  --rz-on-success-darker: #ffffff;
  --rz-on-warning: #000000;
  --rz-on-warning-light: #000000;
  --rz-on-warning-lighter: #ffad33;
  --rz-on-warning-dark: #000000;
  --rz-on-warning-darker: #000000;
  --rz-on-danger: #000000;
  --rz-on-danger-light: #000000;
  --rz-on-danger-lighter: #f6695e;
  --rz-on-danger-dark: #ffffff;
  --rz-on-danger-darker: #ffffff;
}