:root,
.rz-software-dark {
  --rz-white: #ffffff;
  --rz-black: #000000;
  --rz-base: #505f65;
  --rz-base-50: #ffffff;
  --rz-base-100: #f5f8f9;
  --rz-base-200: #e9eef0;
  --rz-base-300: #dae0e2;
  --rz-base-400: #c1c8cb;
  --rz-base-500: #95a2a8;
  --rz-base-600: #77858b;
  --rz-base-700: #505f65;
  --rz-base-800: #3a474d;
  --rz-base-900: #28363c;
  --rz-base-light: #c1c9cb;
  --rz-base-lighter: #ffffff;
  --rz-base-dark: #3a474d;
  --rz-base-darker: #28363c;
  --rz-primary: #08697d;
  --rz-primary-light: #267b8d;
  --rz-primary-lighter: rgba(8, 105, 125, 0.16);
  --rz-primary-dark: #076173;
  --rz-primary-darker: #064f5e;
  --rz-secondary: #53666a;
  --rz-secondary-light: #68787c;
  --rz-secondary-lighter: rgba(83, 102, 106, 0.2);
  --rz-secondary-dark: #4c5e62;
  --rz-secondary-darker: #3e4d50;
  --rz-info: #00619e;
  --rz-info-light: #297aae;
  --rz-info-lighter: rgba(0, 97, 158, 0.2);
  --rz-info-dark: #005185;
  --rz-info-darker: #004977;
  --rz-success: #006b15;
  --rz-success-light: #29833a;
  --rz-success-lighter: rgba(0, 107, 21, 0.16);
  --rz-success-dark: #005a12;
  --rz-success-darker: #005010;
  --rz-warning: #ffab2e;
  --rz-warning-light: #ffb84f;
  --rz-warning-lighter: rgba(255, 171, 46, 0.2);
  --rz-warning-dark: #d69027;
  --rz-warning-darker: #bf8023;
  --rz-danger: #bd0039;
  --rz-danger-light: #c82959;
  --rz-danger-lighter: rgba(189, 0, 57, 0.2);
  --rz-danger-dark: #9f0030;
  --rz-danger-darker: #8e002b;
  --rz-on-base: #ffffff;
  --rz-on-base-light: #28363c;
  --rz-on-base-lighter: #28363c;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #ffffff;
  --rz-on-primary-light: #ffffff;
  --rz-on-primary-lighter: #08697d;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #ffffff;
  --rz-on-secondary-light: #ffffff;
  --rz-on-secondary-lighter: #53666a;
  --rz-on-secondary-dark: #ffffff;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #ffffff;
  --rz-on-info-light: #ffffff;
  --rz-on-info-lighter: #00619e;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #ffffff;
  --rz-on-success-light: #ffffff;
  --rz-on-success-lighter: #006b15;
  --rz-on-success-dark: #ffffff;
  --rz-on-success-darker: #ffffff;
  --rz-on-warning: #000000;
  --rz-on-warning-light: #000000;
  --rz-on-warning-lighter: #ffab2e;
  --rz-on-warning-dark: #000000;
  --rz-on-warning-darker: #000000;
  --rz-on-danger: #ffffff;
  --rz-on-danger-light: #ffffff;
  --rz-on-danger-lighter: #bd0039;
  --rz-on-danger-dark: #ffffff;
  --rz-on-danger-darker: #ffffff;
  --rz-link-color: #62c2d5;
  --rz-link-hover-color: #82cfde;
}