@import 'variables';
@import 'mixins';

// Legacy Theme Tokens

$primary: #598087 !default;
$secondary: #80a4ab !default;
$danger: #f9777f !default;
$info: #2cc8c8 !default;
$success: #5dbf74 !default;
$warning: #fac152 !default;
$body-color: #3a474d !default;
$body-bg: #f6f7fa !default;
$font-size: 16px !default;

// Legacy Tokens Map

$rz-base-100: $body-bg !default;
$rz-base-800: $body-color !default;
$rz-primary: $primary !default;
$rz-secondary: $secondary !default;
$rz-info: $info !default;
$rz-success: $success !default;
$rz-warning: $warning !default;
$rz-danger: $danger !default;
$rz-root-font-size: $font-size !default;

// Theme Colors

$rz-white: #ffffff !default;
$rz-black: #000000 !default;

$rz-base-50: #ffffff !default;
$rz-base-100: #f6f7fa !default;
$rz-base-200: #e9edf0 !default;
$rz-base-300: #dadfe2 !default;
$rz-base-400: #c1c9cb !default;
$rz-base-500: #95a4a8 !default;
$rz-base-600: #77858b !default;
$rz-base-700: #545e61 !default;
$rz-base-800: #3a474d !default;
$rz-base-900: #28363c !default;

$rz-primary: #598087 !default;
$rz-secondary: #80a4ab !default;
$rz-info: #2cc8c8 !default;
$rz-success: #5dbf74 !default;
$rz-warning: #fac152 !default;
$rz-danger: #f9777f !default;

$rz-series-1: #376df5 !default;
$rz-series-2: #64dfdf !default;
$rz-series-3: #f68769 !default;
$rz-series-4: #c161e2 !default;
$rz-series-5: #fdd07a !default;
$rz-series-6: #f8629b !default;
$rz-series-7: #74d062 !default;
$rz-series-8: #84a7ff !default;
$rz-series-9: #4d99f9 !default;
$rz-series-10: #8cecec !default;
$rz-series-11: #fab793 !default;
$rz-series-12: #da88ee !default;
$rz-series-13: #fee3ab !default;
$rz-series-14: #fb89c3 !default;
$rz-series-15: #a2e389 !default;
$rz-series-16: #b5caff !default;
$rz-series-17: #1750f3 !default;
$rz-series-18: #46d7d7 !default;
$rz-series-19: #f46e4c !default;
$rz-series-20: #b343db !default;
$rz-series-21: #fdc55f !default;
$rz-series-22: #f64485 !default;
$rz-series-23: #58c544 !default;
$rz-series-24: #6a93ff !default;

$rz-primary-light: mix($rz-white, $rz-primary, 12%)!default;
$rz-primary-lighter: rgba($rz-primary, .16) !default;
$rz-primary-dark: mix($rz-black, $rz-primary, 8%) !default;
$rz-primary-darker: mix($rz-black, $rz-primary, 25%) !default;

$rz-secondary-light: mix($rz-white, $rz-secondary, 12%) !default;
$rz-secondary-lighter: rgba($rz-secondary, .20) !default;
$rz-secondary-dark: mix($rz-black, $rz-secondary, 8%) !default;
$rz-secondary-darker: mix($rz-black, $rz-secondary, 25%) !default;

$rz-info-light: mix($rz-white, $rz-info, 16%) !default;
$rz-info-lighter: rgba($rz-info, .20) !default;
$rz-info-dark: mix($rz-black, $rz-info, 16%) !default;
$rz-info-darker: mix($rz-black, $rz-info, 25%) !default;

$rz-success-light: mix($rz-white, $rz-success, 16%) !default;
$rz-success-lighter: rgba($rz-success, .16) !default;
$rz-success-dark: mix($rz-black, $rz-success, 16%) !default;
$rz-success-darker: mix($rz-black, $rz-success, 25%) !default;

$rz-warning-light: mix($rz-white, $rz-warning, 16%) !default;
$rz-warning-lighter: rgba($rz-warning, .20) !default;
$rz-warning-dark: mix($rz-black, $rz-warning, 16%) !default;
$rz-warning-darker: mix($rz-black, $rz-warning, 25%) !default;

$rz-danger-light: mix($rz-white, $rz-danger, 16%) !default;
$rz-danger-lighter: rgba($rz-danger, .20) !default;
$rz-danger-dark: mix($rz-black, $rz-danger, 16%) !default;
$rz-danger-darker: mix($rz-black, $rz-danger, 25%) !default;

// Theme Constants

$rz-border-width: 1px !default;
$rz-border-radius: 4px !default;
$rz-root-font-size: 16px !default;
$rz-body-font-size: 0.875rem !default;
$rz-body-line-height: 1.429 !default;
$rz-body-background-color: var(--rz-base-100) !default;
$rz-text-font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$rz-icon-font-family: 'Material Icons' !default;
$rz-icon-size: 1.25rem !default;

// Bootstrap variable overrides. DO NOT USE IN COMPONENTS!

$font-size-base: $rz-body-font-size !default;
$border-radius: $rz-border-radius !default;
$primary: $rz-primary !default;
$secondary: $rz-secondary !default;
$danger: $rz-danger !default;
$info: $rz-info !default;
$success: $rz-success !default;
$warning: $rz-warning !default;
$light: $rz-base-200 !default;
$body-color: $rz-base-800 !default;
$link-color: $rz-secondary !default;
$link-hover-color: $rz-secondary !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;
$state-success-bg: $rz-success !default;
$state-warning-bg: $rz-warning !default;
$state-danger-bg: $rz-danger !default;
$state-info-bg: $rz-info !default;
$grid-gutter-width: 2rem !default;

// Bootstrap component overrides.

$badge-font-size: 0.75rem !default;
$badge-border-radius: var(--rz-border-radius) !default;
$card-border-radius: var(--rz-border-radius) !default;
$input-height: 2.25rem !default;
$input-line-height: 1.429 !default;
$input-border-radius: var(--rz-border-radius) !default;
$input-placeholder-color: var(--rz-text-tertiary-color) !default;
$tooltip-color: var(--rz-text-contrast-color) !default;
$tooltip-border-radius: var(--rz-border-radius) !default;
$tooltip-font-size: 0.875rem !default;
$body-bg: var(--rz-base-100) !default;
$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;

@import 'bootstrap';
$bootstrap: true;

@import 'fonts';
@import 'components';
