:root,
.rz-standard {
  --rz-white: #ffffff;
  --rz-black: #000000;
  --rz-base: #e0e1e4;
  --rz-base-50: #ffffff;
  --rz-base-100: #f4f5f9;
  --rz-base-200: #e9eaed;
  --rz-base-300: #e0e1e4;
  --rz-base-400: #c9cacd;
  --rz-base-500: #6f6f76;
  --rz-base-600: #68686a;
  --rz-base-700: #5b5b5d;
  --rz-base-800: #4f4f50;
  --rz-base-900: #262526;
  --rz-base-light: #e9eaed;
  --rz-base-lighter: #f4f5f9;
  --rz-base-dark: #5b5b5d;
  --rz-base-darker: #262526;
  --rz-primary: #002ea3;
  --rz-primary-light: #294fb2;
  --rz-primary-lighter: rgba(0, 46, 163, 0.16);
  --rz-primary-dark: #002789;
  --rz-primary-darker: #00237c;
  --rz-secondary: #2a56c6;
  --rz-secondary-light: #4c71cf;
  --rz-secondary-lighter: rgba(42, 86, 198, 0.16);
  --rz-secondary-dark: #2348a6;
  --rz-secondary-darker: #204196;
  --rz-info: #006094;
  --rz-info-light: #2979a5;
  --rz-info-lighter: rgba(0, 96, 148, 0.16);
  --rz-info-dark: #00517c;
  --rz-info-darker: #004970;
  --rz-success: #006b37;
  --rz-success-light: #298357;
  --rz-success-lighter: rgba(0, 107, 55, 0.16);
  --rz-success-dark: #005a2e;
  --rz-success-darker: #00512a;
  --rz-warning: #ffae11;
  --rz-warning-light: #ffbb37;
  --rz-warning-lighter: rgba(255, 174, 17, 0.16);
  --rz-warning-dark: #d6920e;
  --rz-warning-darker: #c2840d;
  --rz-danger: #c40e44;
  --rz-danger-light: #cd3562;
  --rz-danger-lighter: rgba(196, 14, 68, 0.16);
  --rz-danger-dark: #a50c39;
  --rz-danger-darker: #950b34;
  --rz-on-base: #262526;
  --rz-on-base-light: #262526;
  --rz-on-base-lighter: #262526;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #ffffff;
  --rz-on-primary-light: #ffffff;
  --rz-on-primary-lighter: #002ea3;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #ffffff;
  --rz-on-secondary-light: #ffffff;
  --rz-on-secondary-lighter: #2a56c6;
  --rz-on-secondary-dark: #ffffff;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #ffffff;
  --rz-on-info-light: #ffffff;
  --rz-on-info-lighter: #006094;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #ffffff;
  --rz-on-success-light: #ffffff;
  --rz-on-success-lighter: #006b37;
  --rz-on-success-dark: #ffffff;
  --rz-on-success-darker: #ffffff;
  --rz-on-warning: #000000;
  --rz-on-warning-light: #000000;
  --rz-on-warning-lighter: #ffae11;
  --rz-on-warning-dark: #000000;
  --rz-on-warning-darker: #000000;
  --rz-on-danger: #ffffff;
  --rz-on-danger-light: #ffffff;
  --rz-on-danger-lighter: #c40e44;
  --rz-on-danger-dark: #ffffff;
  --rz-on-danger-darker: #ffffff;
}