@import 'colors';
@import 'variables';

// Color tokens

$rz-white: #ffffff;

$rz-base-100: #f4f5f9;
$rz-base-200: #e9eaed;
$rz-base-300: #e0e1e4;
$rz-base-400: #c9cacd;
$rz-base-500: #afafb2;
$rz-base-600: #8d8e90;
$rz-base-700: #707072;
$rz-base-800: #4f4f50;
$rz-base-900: #262526;

$rz-primary: #1151F3;
$rz-primary-light: #376df5; /*lighten($rz-primary, 8%);*/
$rz-primary-dark: #0e44cc; /*darken($rz-primary, 10%);*/

$rz-secondary: rgba($rz-primary, .16);

$rz-info: #12a4f5;

$rz-info-light: #38b3f7;
$rz-info-dark: #0f8ace;
$rz-info-secondary: rgba($rz-info, .16);

$rz-success: #009B51;
$rz-success-light: #29AB6D;
$rz-success-dark: #008244;
$rz-success-secondary: rgba($rz-success, .16);

$rz-warning: #FFAE11;
$rz-warning-light: #FFBE41;
$rz-warning-dark: #EBA010;
$rz-warning-secondary: rgba($rz-warning, .16);

$rz-danger: #F31155;
$rz-danger-light: #F53770;
$rz-danger-dark: #CC0E47;
$rz-danger-secondary: rgba($rz-danger, .16);

$rz-series-1: $rz-primary;
$rz-series-2: #64DFDF;
$rz-series-3: #3809A3;
$rz-series-4: #8611D3;
$rz-series-5: #F72585;


// Shadows

$rz-shadow-level-1: 0px 2px 2px rgba(0, 0, 0, 0.08);
$rz-shadow-level-2: 0 4px 12px 0 rgba(0, 0, 0, 0.04);

$rz-shadow-inset-level-1: inset 0px 0px 2px rgba(0, 0, 0, 0.2);

// Theme colors
$primary-color: $rz-primary !default;
$secondary: $rz-secondary !default;
$tertiary: $rz-base-200 !default;
$additional-1: $rz-success !default;
$additional-2: $rz-success !default;
$additional-3: $rz-danger !default;
$contrast: $rz-base-900 !default;

$default-background-color: $rz-white !default;
$button-hover-background-color: $rz-primary-light !default;
$button-active-background-color: $rz-primary-dark !default;

// Bootstrap overrides
$primary: $primary-color !default;
$danger: $rz-danger !default;
$info: $rz-info !default;
$success: $rz-success !default;
$warning: $rz-warning !default;
$default-link: $primary-color;

$light: $rz-base-200 !default;
$body-color: $rz-base-800 !default;
$link-color: $rz-primary;
$link-hover-color: $rz-primary-dark;

$state-success-bg: $success;
$state-warning-bg: $warning;
$state-danger-bg: $danger;
$state-info-bg: $info;

$body-bg: $rz-base-100 !default;
$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$rz-border-radius: 0.25rem !default;


// Button

$button-hover-shadow: none !default;
$button-hover-gradient: linear-gradient(to bottom, rgba(255,255,255,0.08) 0%, rgba(255,255,255,0.08) 50%, rgba(255,255,255,0) 100%), linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.08) 50%, rgba(0,0,0,0) 100%) !default;
$button-active-shadow: none !default;
$button-active-gradient: $button-hover-gradient !default;
$button-border-radius: $rz-border-radius !default;
$button-shadow: none !default;
$button-transition: all .1s linear !default;
$button-disabled-opacity: 0.5 !default;
$button-line-height: 1.25rem !default;
$button-vertical-align: top !default;
$button-background-size: 100% 0%, 100% 0% !default;
$button-hover-background-size: 100% 200%, 100% 0%  !default;
$button-active-background-size: 100% 0%, 100% 200%  !default;

$button-sizes: (
  md: (
    font-size: 0.875rem,
    padding: 0.5rem 1rem,
    line-height: 1.25rem,
    height: auto,
    font-weight: 600,
    icon: (
      font-size: 1.25rem,
      line-height: 1.25rem,
      width: 1.25rem,
      height: 1.25rem
    ),
    text-with-icon-padding: 0.5rem 1rem 0.5rem 0.5rem,
    icon-only-padding: 0.5rem
  ),
  sm: (
    font-size: 0.875rem,
    padding: 0.25rem 0.75rem,
    line-height: 1.25rem,
    height: auto,
    icon: (
      font-size: 1.25rem,
      line-height: 1.25rem,
      width: 1.25rem,
      height: 1.25rem
    ),
    text-with-icon-padding: 0.25rem 0.75rem 0.25rem 0.25rem,
    icon-only-padding: 0.25rem
  )
) !default;

$button-styles: () !default;
$button-styles: map-merge(
  (
    primary: (
      background-color: $rz-primary
    ),
    light: (
      background-color: $rz-base-200,
      color: $rz-base-800
    ),
    secondary: (
      background-color: $rz-secondary,
      color: $rz-primary
    ),
    info: (
      background-color: $rz-info
    ),
    warning: (
      background-color: $rz-warning
    ),
    error: (
      background-color: $rz-danger
    ),
    danger: (
      background-color: $rz-danger
    ),
    success: (
      background-color: $rz-success
    )
  ),
  $button-styles
);

$button-hover-styles: () !default;
$button-hover-styles: map-merge(
  (
    primary: (
      background-color: $rz-primary-light,
      color: $rz-white
    ),
    light: (
      background-color: $rz-base-300,
      color: $rz-base-900
    ),
    secondary: (
      background-color: $rz-primary-light,
      color: $rz-white
    ),
    info: (
      background-color: $rz-info-light,
      color: $rz-white
    ),
    warning: (
      background-color: $rz-warning-light,
      color: $rz-white
    ),
    error: (
      background-color: $rz-danger-light,
      color: $rz-white
    ),
    danger: (
      background-color: $rz-danger-light,
      color: $rz-white
    ),
    success: (
      background-color: $rz-success-light,
      color: $rz-white
    )
  ),
  $button-hover-styles
);

$button-active-styles: () !default;
$button-active-styles: map-merge(
  (
    primary: (
      background-color: $rz-primary-dark,
      color: $rz-white
    ),
    light: (
      background-color: $rz-base-400,
      color: $rz-base-900
    ),
    secondary: (
      background-color: $rz-primary-dark,
      color: $rz-white
    ),
    info: (
      background-color: $rz-info-dark,
      color: $rz-white
    ),
    warning: (
      background-color: $rz-warning-dark,
      color: $rz-white
    ),
    error: (
      background-color: $rz-danger-dark,
      color: $rz-white
    ),
    danger: (
      background-color: $rz-danger-dark,
      color: $rz-white
    ),
    success: (
      background-color: $rz-success-dark,
      color: $rz-white
    )
  ),
  $button-active-styles
);

$rz-primary-focus: 0px 0px 0px 1px $rz-white, 0px 0px 0px 3px rgba($rz-primary, 0.2) !default;
$rz-info-focus: 0px 0px 0px 1px $rz-white, 0px 0px 0px 3px rgba($rz-info, 0.3) !default;
$rz-warning-focus: 0px 0px 0px 1px $rz-white, 0px 0px 0px 3px rgba($rz-warning, 0.4) !default;
$rz-danger-focus: 0px 0px 0px 1px $rz-white, 0px 0px 0px 3px rgba($rz-danger, 0.3) !default;
$rz-success-focus: 0px 0px 0px 1px $rz-white, 0px 0px 0px 3px rgba($rz-success, 0.3) !default;


$button-focus-styles: () !default;
$button-focus-styles: map-merge(
  (
    primary: (box-shadow: $rz-primary-focus),
    light: (box-shadow: $rz-primary-focus),
    secondary: (box-shadow: $rz-primary-focus),
    info: (box-shadow: $rz-info-focus),
    warning: (box-shadow: $rz-warning-focus),
    error:  (box-shadow: $rz-danger-focus),
    danger:  (box-shadow: $rz-danger-focus),
    success:  (box-shadow: $rz-success-focus)
  ),
  $button-focus-styles
);

.rz-button {

  &:not(.rz-state-disabled) {

    &:hover {
      &:not(:active) {
        background-color: $rz-base-300;
        color: $rz-base-900;
      }
    }
  
    &:active {
      background-color: $rz-base-400;
      color: $rz-base-900;
    }
    
    @each $style, $shadow in $button-focus-styles {
      &.btn-#{$style} {
        &:focus {
          @each $name, $value in $shadow {
            #{$name}: #{$value};
          }

          &:hover {
            @each $name, $value in $shadow {
              #{$name}: #{$value};
            }

            &:not(:active) {
              @each $name, $value in $shadow {
                #{$name}: #{$value};
              }
            }
          }
        }
      }
    }

    @each $style, $button in $button-hover-styles {
      &.btn-#{$style} {
        &:hover {
          &:not(:active) {
            @each $name, $value in $button {
              #{$name}: #{$value};
            }
          }
        }
      }
    }

    @each $style, $button in $button-active-styles {
      &.btn-#{$style} {
        &:active {
          @each $name, $value in $button {
            #{$name}: #{$value};
          }
        }
      }
    }
  }

  &:not(.rz-button-icon-only) .rz-button-icon-left {
    margin-right: 0.25rem;
  }

  &:not(.rz-button-icon-only) .rz-button-icon-left {
    margin-right: 0.25rem;
  }

}

// PanelMenu

$panel-menu-color: $rz-base-800 !default;
$panel-menu-background-color: $rz-white !default;
$panel-menu-hover-background-color: $rz-secondary !default;
$panel-menu-hover-color: $rz-primary !default;

$panel-menu-item-line-height: 1.25rem !default;
$panel-menu-item-margin: 0 1rem !default;
$panel-menu-item-padding: 0.5rem 0 !default;
$panel-menu-item-border: solid 1px $rz-base-200 !default;
$panel-menu-item-active-background-color: $rz-white !default;
$panel-menu-item-offset: 0.75rem !default;

$panel-menu-item-2nd-level-padding: 0.25rem 0 !default;
$panel-menu-item-2nd-level-offset: 3.625rem !default;
$panel-menu-item-2nd-level-font-size: 0.875rem !default;
$panel-menu-item-2nd-level-hover-background-color: $rz-secondary !default;
$panel-menu-item-2nd-level-hover-color: inherit !default;
$panel-menu-item-2nd-level-color: inherit !default;
$panel-menu-item-3rd-level-hover-background-color: $rz-secondary !default;
$panel-menu-item-3rd-level-hover-color: inherit !default;

$panel-menu-icon-width: 1.25rem !default;
$panel-menu-icon-font-size: 1.25rem !default;
$panel-menu-icon-color: $panel-menu-color !default;
$panel-menu-icon-height: $panel-menu-icon-width !default;
$panel-menu-icon-margin: 0 0.5rem 0 0 !default;
$panel-menu-icon-2nd-level-margin: 0 0.75rem 0 -2.25rem !default;

$panel-menu-font-size: 0.875rem !default;

// Accordion

$accordion-item-padding: 0.25rem 0 !default;
$accordion-item-margin: 0 !default;
$accordion-item-background-color: $rz-white !default;
$accordion-item-color: $body-color !default;
$accordion-item-line-height: 1.25rem !default;
$accordion-item-font-size: 0.875rem !default;
$accordion-item-font-weight: normal !default;
$accordion-icon-width: 1.25rem !default;
$accordion-icon-height: $accordion-icon-width !default;
$accordion-icon-font-size: 1.25rem !default;
$accordion-icon-margin: 0 0.25rem 0 0 !default;
$accordion-selected-color: $rz-base-900 !default;
$accordion-hover-color: $rz-primary !default;
$accordion-content-padding: 0.5rem 0.5rem 0.5rem 1.5rem !default;
$accordion-content-font-size: $accordion-item-font-size;
$accordion-border-radius: $border-radius !default;
$accordion-item-border: none !default;
$accordion-shadow: none !default;

// Tabs

$tabs-tab-background-color: $rz-base-200 !default;
$tabs-shadow: none !default;
$tabs-border: 1px solid $rz-base-200 !default;
$tabs-tab-color: $rz-base-800 !default;
$tabs-selected-tab-color: $rz-base-900 !default;
$tabs-tab-font-size: 0.875rem !default;
$tabs-tab-font-weight: normal !default;
$tabs-background-color: $rz-white !default;
$tabs-tab-padding: 0.5rem 1rem !default;
$tabs-padding: 1.25rem !default;
$tabs-tab-selected-top-border-color: $default-link !default;
$tabs-hover-color: $default-link !default;
$tabs-hover-background-color: $tabs-background-color !default;
$tabs-border-radius: $rz-border-radius !default;
$tabs-icon-font-size: 1.25rem !default;
$tabs-icon-margin: 0 0.25rem 0 -0.25rem !default;
$tabs-transition: all 0.1s linear !default;


// Grid

$grid-border-radius: 0;

$grid-data-border-shadow: 0 1px 0 0 $rz-base-200, 0 -1px 0 0 $rz-base-200;

$grid-cell-border: 1px solid $rz-base-200 !default;
$grid-right-cell-border: 1px solid $rz-base-200 !default;
$grid-bottom-cell-border: $grid-cell-border !default;
$grid-cell-padding: 0.5rem !default;
$grid-cell-color: $rz-base-800 !default;
$grid-cell-font-size: 0.875rem !default;

$grid-hover-background-color: $rz-secondary !default;
$grid-hover-color: $rz-primary!default;

$grid-selected-background-color: lighten($rz-secondary, 20%) !default;
$grid-selected-color: $rz-primary !default;

$grid-stripe-background-color: lighten($rz-base-100, 1%) !default;

$grid-toolbar-background-color: $rz-white !default;
$grid-header-cell-border: 1px solid $rz-base-200  !default;
$grid-header-background-color: $rz-base-100 !default;
$grid-header-font-size: $grid-cell-font-size !default;
$grid-header-line-height: 1.25rem !default;
$grid-header-font-weight: 600 !default;
$grid-header-text-transform: none !default;
$grid-header-color: $rz-base-900 !default;
$grid-header-cell-padding: 0.5rem 0 !default;
$grid-header-title-padding: 0 0.125rem 0 0.5rem !default;
$grid-header-title-vertical-align: middle !default;
$grid-header-sorted-background-color: $rz-base-100 !default;

$grid-header-padding: 1rem !default;

$grid-foot-cell-color: $rz-base-900 !default;
$grid-foot-background-color: $rz-base-200 !default;

$grid-filter-background-color: $rz-base-100 !default;
$grid-filter-padding: 0 0.5rem !default;
$grid-filter-margin: -0.5rem 0 !default;
$grid-filter-border: none !default;
$grid-filter-font-size: 0.875rem !default;
$grid-filter-icon-width: 1.25rem !default;
$grid-filter-icon-height: 1.25rem !default;
$grid-filter-icon-margin: 0 0.25rem 0 0 !default;
$grid-filter-icon-font-size: 1.25rem !default;
$grid-filter-color: $rz-base-800 !default;
$grid-filter-focus-color: $rz-base-900 !default;
$grid-filter-operator-margin: 1rem !default;
$grid-filter-buttons-padding: 1rem !default;
$grid-filter-buttons-border: 1px solid $rz-base-200 !default;
$grid-filter-buttons-background-color: $white !default;

$grid-clear-filter-button-background-color: $rz-base-200 !default;
$grid-clear-filter-button-color: $rz-base-800 !default;
$grid-apply-filter-button-background-color: $rz-primary !default;

$grid-header-filter-icon-margin: 0.25rem 0.5rem 0 0 !default;
$grid-header-filter-icon-hover-color: $rz-base-900 !default;

$grid-border: none !default;

$grid-sort-icon-width: 1rem !default;
$grid-sort-icon-height: $grid-sort-icon-width !default;
$grid-sort-icon-color: $rz-base-400 !default;

$grid-shadow: none !default;
$grid-background-color: $rz-white !default;

$grid-column-resizer-width: 0.5rem !default;
$grid-column-resizer-helper-width: 0.25rem !default;
$grid-column-resizer-helper-background-color: $default-link !default;

$grid-column-icon-width: 2rem !default;
$grid-column-icon-padding: 0 !default;

$grid-detail-template-border: 1px solid rgba(71, 156, 200, 0.2) !default;
$grid-detail-template-border-radius: 2px !default;
$grid-detail-template-padding: 0.625rem !default;
$grid-detail-template-background-color: $white !default;

$grid-loading-indicator-background-color: $rz-secondary !default;
$grid-button-icon-only-padding: 0 0.25rem !default;
$grid-button-text-padding: 0 0.6875rem !default;
$grid-button-font-size: 0.75rem !default;
$grid-button-icon-width: 0.75rem !default;
$grid-button-icon-height: $grid-button-icon-width !default;
$grid-button-height: 1.25rem !default;
$grid-button-line-height: $grid-button-height !default;

$grid-frozen-cell-border: 1px solid $rz-base-200 !default;
$grid-frozen-cell-background-color: $rz-base-100 !default;

$grid-state-transition: all 0.1s linear !default;

$grid-group-header-padding: 0.5rem !default;
$grid-group-header-item-padding: 0.5rem !default;
$grid-group-header-item-margin: 0 0.5rem 0 0 !default;

$column-drag-handle-color: $rz-base-400 !default;

$column-drag-handle-hover-color: $rz-base-900 !default;

.rz-selectable {
  .rz-datatable-even,
  .rz-datatable-odd {
    td,
    .rz-cell-data {
      transition: background-color 0.1s linear, color 0.1s linear;
    }

    &:hover {
      > td:not(.rz-frozen-cell) {
        background-color: $grid-hover-background-color;
        
      }

      .rz-cell-data {
        color: $grid-hover-color;
      }
    }
  }
}

// Overlay Panel

$overlay-shadow: $rz-shadow-level-2 !default;
$overlay-border: solid 1px $rz-base-200 !default;
$overlay-background-color: $body-bg !default;

// Pager

$paginator-background-color: transparent !default;
$paginator-padding: 0.5rem !default;

$paginator-numeric-button-background-color: $rz-base-200 !default;
$paginator-numeric-button-color: $rz-base-800 !default;
$paginator-numeric-button-margin: 0 0.125rem !default;
$paginator-numeric-button-padding: 0.5rem 1rem !default;
$paginator-numeric-button-selected-background-color: $rz-secondary !default;
$paginator-numeric-button-selected-color: $primary-color !default;
$paginator-numeric-button-selected-border: none !default;
$paginator-numeric-button-selected-padding: $paginator-numeric-button-padding !default;

$paginator-back-button-background-color: $rz-base-200 !default;
$paginator-back-button-color: $rz-base-800 !default;

$paginator-first-button-margin: 0 0.5rem 0 0 !default;
$paginator-last-button-margin: 0 0 0 0.5rem !default;

$paginator-next-button-background-color: $rz-base-200 !default;
$paginator-next-button-color: $rz-base-800 !default;

$paginator-dropdown-width: 80px !default;
$paginator-dropdown-margin: $paginator-last-button-margin !default;

$paginator-button-size: ".rz-button-md" !default;


// Switch
$switch-background-color: $rz-base-200 !default;
$switch-checked-background-color: $rz-primary !default;

// Header

$header-background-color: $rz-white !default;
$header-min-height: 3.25rem !default;
$header-z: 2 !default;
$header-border: none !default;
$header-color: $body-color !default;
$header-shadow: $rz-shadow-level-2 !default;

// Sidebar
$sidebar-border-right: 1px solid $rz-base-300 !default;
$sidebar-background-color: $rz-white !default;

// SidebarToggle
$sidebar-toggle-border: 1px solid $rz-base-200 !default;
$sidebar-toggle-hover-color: $rz-base-900 !default;
$sidebar-toggle-background-color: $rz-white !default;
$sidebar-toggle-color: $rz-base-800 !default;
$sidebar-toggle-hover-background-color: $rz-white !default;
$sidebar-toggle-hover-border-radius: 0 !default;

// Input components
$input-font-size: 0.875rem !default;
$input-height: 2.25rem;
$input-line-height: 1.429 !default;
$input-padding: 0.4375rem !default;
$input-value-color: $rz-base-800 !default;
$input-placeholder-color: $rz-base-600 !default;
$input-background-color: $rz-white !default;
$input-border: 1px solid $rz-base-300 !default;
$input-border-radius: $border-radius !default;
$input-shadow: none !default;

$input-hover-shadow: none !default;
$input-value-hover-color: $rz-base-800 !default;
$input-hover-border: 1px solid $rz-primary-light !default;

$input-focus-border: 1px solid $rz-primary-light !default;
$input-focus-shadow: 0px 0px 0px 1px $rz-white, 0px 0px 0px 3px rgba($rz-primary, 0.2) !default;

$input-disabled-border: 1px solid rgba($rz-base-300, .5) !default;
$input-disabled-background-color: transparent !default;
$input-disabled-shadow: none !default;
$input-disabled-color: rgba($rz-base-800, .5) !default;

$input-transition: all 0.1s linear !default; 

// Numeric

$numeric-line-height: 1.25rem !default;
$numeric-input-padding: 0.5rem 0.75rem 0.5rem 0.5rem;
$numeric-button-width: 1rem !default;
$numeric-button-height: $numeric-button-width !default;
$numeric-button-offset: 1px !default;
$numeric-button-border-radius: $rz-border-radius / 2 !default;
$numeric-button-background-color: $rz-white !default;
$numeric-button-disabled-background-color: $rz-white !default;
$numeric-button-disabled-color: rgba($rz-base-800, .5) !default;
$numeric-button-color: $rz-base-800 !default;


// Forms

$form-error-color: $rz-danger !default;
$form-error-font-size: 0.75rem !default;
$validator-background-color: $danger !default;
$validator-color: $white !default;
$validator-shadow: 0 6px 14px 0 rgba($rz-danger, 0.3) !default;
$validator-text-padding: 0.25rem 0 0 0 !default;
$validator-padding: 0.5rem !default;
$validator-pointer-size: 0.25rem !default;
$validator-transform: translateY(12px) !default;

// Fieldset

$fieldset-border: 1px solid $rz-base-300 !default;
$fieldset-border-radius: $rz-border-radius !default;
$fieldset-padding: 1.25rem !default;
$fieldset-legend-color: $rz-base-800 !default;
$fieldset-legend-font-size: 0.875rem !default;
$fieldset-legend-padding: 0 1rem !default;

$fieldset-toggle-width: 1.125rem !default;
$fieldset-toggle-margin: 0 0.5rem 0 0 !default;
$fieldset-toggle-height: $fieldset-toggle-width !default;
$fieldset-toggle-background-color: $rz-base-200 !default;
$fieldset-toggle-color: $rz-base-800 !default;
$fieldset-toggle-font-size: 1rem !default;
$fieldset-toggle-border: none !default;

// Slider

$slider-border: 1px solid $rz-base-300 !default;
$slider-background-color: $rz-white !default;

$slider-horizontal-height: 0.75rem !default;
$slider-horizontal-width: 10rem !default;

$slider-range-background-color: $rz-secondary !default;
$slider-range-border: 1px solid $rz-secondary !default;

$slider-handle-background-color: $rz-white !default;
$slider-handle-width: 1.25rem !default;
$slider-handle-height: 1.25rem !default;
$slider-handle-border: 0.25rem solid $rz-primary;
$slider-handle-border-radius: $rz-border-radius*4 !default;
$slider-handle-hover-border: $slider-handle-border !default;
$slider-handle-hover-background-color: $rz-primary !default;
$slider-handle-hover-shadow: none !default;
$slider-handle-color: $rz-white !default;
$slider-handle-icon-display: none !default;
$slider-handle-transition: background-color 0.1s linear, color 0.1s linear, border 0.1s linear !default;

$slider-disabled-range-background-color: rgba(211, 217, 219, 0.5) !default;
$slider-disabled-range-border: solid 1px rgba(211, 217, 219, 0.3) !default;
$slider-disabled-background-color: rgba(211, 217, 219, 0.1) !default;
$slider-disabled-border: solid 1px #dadfe2 !default;
$slider-disabled-handle-background-color: #d3d9db !default;
$slider-border-radius: $rz-border-radius*2 !default;

// Checkbox

$checkbox-width: 1.25rem !default;
$checkbox-height: $checkbox-width !default;
$checkbox-border-radius: $rz-border-radius;
$checkbox-label-margin: 0 1rem 0 0.5rem;
$checkbox-margin: 1rem 0;

$checkbox-checked-background-color: $rz-white !default;
$checkbox-checked-hover-background-color: $rz-white !default;
$checkbox-checked-color: $rz-white !default;
$checkbox-checked-shadow: none !default;
$checkbox-checked-border: $input-border !default;
$checkbox-checked-icon-background-color: $rz-primary !default;
$checkbox-checked-icon-border-radius: $rz-border-radius/2 !default;

$checkbox-icon-width: 0.875rem !default;
$checkbox-icon-height: $checkbox-icon-width !default;
$checkbox-icon-font-size: 0.875rem !default;

.rz-checkbox-list-vertical,
.rz-checkbox-list-horizontal {

  &.rz-state-disabled > div > .rz-chkbox-label {
    opacity: 0.5;
  }

  &:not(.rz-state-disabled) > div > .rz-chkbox-label:hover {
    color: $rz-primary-light;
    cursor: pointer;
  }
}

// Radio Button

$radio-width: 1.25rem !default;
$radio-height: $radio-width !default;
$radio-border-radius: 50%;
$radio-label-margin: 0 1rem 0 0.5rem;
$radio-margin: 1rem 0;

$radio-active-background-color: $rz-white !default;
$radio-active-shadow: none !default;

$radio-checked-background-color: $rz-white !default;
$radio-checked-hover-background-color: $rz-white !default;
$radio-checked-hover-shadow: none !default;

$radio-checked-color: $rz-white !default;

$radio-circle-background-color: $rz-primary !default;
$radio-circle-shadow: none;
$radio-circle-hover-background-color: $rz-primary-light !default;

$radio-icon-width: 0.75rem !default;
$radio-icon-height: $radio-icon-width !default;
$radio-checked-border: $input-border !default;

.rz-radio-button-list-vertical,
.rz-radio-button-list-horizontal {

  &.rz-state-disabled > div > .rz-radiobutton-label {
    opacity: 0.5;
  }

  &:not(.rz-state-disabled) > div > .rz-radiobutton-label:hover {
    color: $rz-primary-light;
    cursor: pointer;
  }
}

// DropDown

$dropdown-trigger-icon-width: 1.25rem !default;
$dropdown-trigger-icon-height: $dropdown-trigger-icon-width !default;
$dropdown-trigger-icon-margin: 0 0.5rem 0 0 !default;

$dropdown-horizontal-padding: 0.5rem !default;
$dropdown-panel-padding: 0 $dropdown-horizontal-padding !default;
$dropdown-items-margin: 0 (-$dropdown-horizontal-padding) !default;

$dropdown-item-padding: 0.25rem $dropdown-horizontal-padding !default;
$dropdown-item-font-size: $input-font-size !default;
$dropdown-item-hover-background-color: $rz-secondary !default;
$dropdown-item-selected-background-color: lighten($rz-secondary, 20%) !default;
$dropdown-item-selected-shadow: none !default;
$dropdown-item-hover-color: $rz-primary !default;
$dropdown-item-selected-color: $rz-primary !default;
$dropdown-item-selected-hover-background-color: $rz-secondary !default;
$dropdown-item-selected-hover-color: $dropdown-item-selected-color !default;
$dropdown-item-transition: all 0.1s linear !default;

$multiselect-checkbox-margin: 0 0.5rem 0 0 !default;
$dropdown-label-padding: 0 $dropdown-trigger-icon-width 0 0 !default;
$dropdown-filter-border: 1px solid rgba(#979797, 0.1) !default;
$dropdown-filter-padding: 0.5rem 0 !default;

$dropdown-open-background-color: $input-background-color !default;
$dropdown-open-border: $input-border !default;
$dropdown-panel-border: $dropdown-open-border !default;

// ListBox

$listbox-background-color: $input-background-color !default;
$listbox-border-radius: $input-border-radius !default;
$listbox-border: $input-border !default;
$listbox-filter-border: $input-border !default;
$listbox-padding: 0 !default;

$listbox-item-padding: $dropdown-item-padding !default;
$listbox-item-margin: 0 !default;

$listbox-checkbox-margin: 0 0.5rem 0 0 !default;

$listbox-header-padding: 0.5rem !default;
$listbox-header-icon-width: 1.25rem !default;
$listbox-header-icon-height: $listbox-header-icon-width !default;
$listbox-header-icon-margin: 0 !default;

// ColorPicker

$colorpicker-panel-border: $overlay-border !default;
$colorpicker-panel-background-color: $rz-white !default;
$colorpicker-panel-shadow: $rz-shadow-level-2 !default;
$colorpicker-panel-padding: 0.5rem !default;
$colorpicker-panel-max-width: 20rem !default;
$colorpicker-saturation-height: 200px !default;

$colorpicker-value-border-radius: 50% !default;

$colorpicker-item-size: 1.25rem !default;
$colorpicker-item-border-radius: 50% !default;
$colorpicker-item-margin: 0.25rem !default;
$colorpicker-item-shadow: $rz-shadow-inset-level-1 !default;

$colorpicker-handle-size: 12px !default;
$colorpicker-handle-border: 2px solid $rz-white !default;
$colorpicker-handle-shadow: $rz-shadow-inset-level-1, $rz-shadow-level-1, 0 0 0 1px rgba(0,0,0,.08);

$colorpicker-hex-input-padding: 0.25rem 0.5rem !default;
$colorpicker-hex-input-height: 2rem !default;
$colorpicker-rgba-input-padding: 0.25rem 0.5rem !default;
$colorpicker-rgba-input-height: 2rem !default;

// Rating

$rating-color: $rz-base-500 !default;
$rating-opacity: 1 !default;
$rating-font-size: 1.25rem !default;
$rating-selected-color: $rz-primary !default;
$rating-disabled-color: $rating-color !default;
$rating-disabled-opacity: 0.5 !default;
$rating-ban-icon: "highlight_off" !default;

// Upload

$upload-button-bar-background-color: $rz-base-100 !default;
$upload-button-bar-padding: 0.5rem !default;

$upload-files-background-color: $rz-white !default;
$upload-files-padding: 0.5rem 0 !default;
$upload-files-remove-background-color: #dadfe2 !default;
$upload-files-remove-color: $rz-white !default;

$upload-files-margin: 0 0.5rem !default;

$upload-choose-background-color: $rz-primary !default;
$upload-cancel-background-color: $rz-base-300 !default;
$upload-cancel-color: $rz-base-800 !default;
$upload-button-background-color: $primary !default;

// Scrollbar

$scrollbar-background-color: $rz-base-100 !default;
$scrollbar-color: $rz-base-400 !default;

// Tooltip

$tooltip-background-color: $rz-base-900 !default;
$tooltip-color: $rz-white !default;
$tooltip-shadow: $rz-shadow-level-2 !default;
$tooltip-padding: 0.25rem 0.5rem !default;
$tooltip-border-radius: $input-border-radius !default;
$tooltip-font-size: 0.875rem !default;

// Charts

$chart-axis-color: $rz-base-300 !default;
$chart-axis-label-color: $rz-base-600 !default;
$chart-axis-font-size: 0.75rem !default;
$chart-tooltip-background: $rz-white !default;
$chart-tooltip-color: $rz-base-900 !default;

$color-schemes: (
  palette: (
    #240093,
    #5a0a8e,
    #8f1389,
    #c41d84,
    #f9267f,
    #fc695a,
    #fe8e50,
    #ffa14b,
    #ffb346    
  ),
  pastel: (
    #376DF5,
    #64DFDF,
    #F68769,
    #C161E2,
    #FDD07A,
    #F8629B,
    #74D062,
    #84A7FF
  ),
  monochrome: (
    #04247b,
    #0734a6,
    #0d45d4,
    #2659fa,
    #5a74fb,
    #7d8efc,
    #9ca8fd,
    #b9c0fd
  ),
  divergent: (
    #5d07d7,
    #8436ca,
    #ac67bb,
    #d397ad,
    #fdca9f,
    #ffab83,
    #ff8564,
    #ff5e44,
    #ff3725,
  )
) !default;


@import 'bootstrap';
@import 'fonts';
@import 'typography';
@import 'components';

// Paragraph
$paragraph-line-height: 1.25rem !default;

body {
  line-height: $paragraph-line-height;
}


// Headings

$heading-color: $rz-base-900;

$headings: (
  h1: (font-size: 2rem, line-height: 1.1875em, font-weight: 700, letter-spacing: -0.04em, color: $heading-color, margin-bottom: 1rem),
  h2: (font-size: 1.5rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.03em, color: $heading-color, margin-bottom: 1rem),
  h3: (font-size: 1.25rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: $heading-color, margin-bottom: 0.75rem),
  h4: (font-size: 1rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: $heading-color, margin-bottom: 0.5rem),
  h5: (font-size: 0.875rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: $heading-color, margin-bottom: 0.5rem),
  h6: (font-size: 0.75rem, line-height: 1.25em,  font-weight: 700, letter-spacing: -0.02em, color: $heading-color, margin-bottom: 0.5rem)
);

@each $name, $heading in $headings {
  #{$name} {
    @each $name, $value in $heading {
      #{$name}: #{$value};
    }
  }
}

$headings-light: (
  h1: (font-size: 3rem, font-weight: 300),
  h2: (font-size: 2rem, font-weight: 300),
  h3: (font-size: 1.25rem, font-weight: 300),
  h4: (font-size: 1rem, font-weight: 300),
  h5: (font-size: 0.875rem, font-weight: 300),
  h6: (font-size: 0.75rem, font-weight: 300)
);

@each $name, $heading in $headings-light {
  #{$name}.text-thin {
    @each $name, $value in $heading {
      #{$name}: #{$value};
    }
  }
}