:root,
.rz-standard-dark {
  --rz-white: #ffffff;
  --rz-black: #000000;
  --rz-base: #4f5154;
  --rz-base-50: #f6f6f7;
  --rz-base-100: #eaebec;
  --rz-base-200: #e1e2e3;
  --rz-base-300: #c9cacd;
  --rz-base-400: #b0b2b5;
  --rz-base-500: #6d6f74;
  --rz-base-600: #4f5154;
  --rz-base-700: #3b3c3f;
  --rz-base-800: #242527;
  --rz-base-900: #19191a;
  --rz-base-light: #e1e2e3;
  --rz-base-lighter: #ffffff;
  --rz-base-dark: #3b3c3f;
  --rz-base-darker: #000000;
  --rz-primary: #2965ff;
  --rz-primary-light: #88aaff;
  --rz-primary-lighter: rgba(56, 113, 255, 0.2);
  --rz-primary-dark: #2254d3;
  --rz-primary-darker: #1948bd;
  --rz-secondary: #2a3c68;
  --rz-secondary-light: #4c5b80;
  --rz-secondary-lighter: rgba(42, 60, 104, 0.2);
  --rz-secondary-dark: #233257;
  --rz-secondary-darker: #202e4f;
  --rz-info: #006094;
  --rz-info-light: #2979a5;
  --rz-info-lighter: rgba(0, 96, 148, 0.16);
  --rz-info-dark: #00517c;
  --rz-info-darker: #004970;
  --rz-success: #006b37;
  --rz-success-light: #298357;
  --rz-success-lighter: rgba(0, 107, 55, 0.16);
  --rz-success-dark: #005a2e;
  --rz-success-darker: #00512a;
  --rz-warning: #ffae11;
  --rz-warning-light: #ffbb37;
  --rz-warning-lighter: rgba(255, 174, 17, 0.16);
  --rz-warning-dark: #d6920e;
  --rz-warning-darker: #c2840d;
  --rz-danger: #c40e44;
  --rz-danger-light: #cd3562;
  --rz-danger-lighter: rgba(196, 14, 68, 0.16);
  --rz-danger-dark: #a50c39;
  --rz-danger-darker: #950b34;
  --rz-on-base: #ffffff;
  --rz-on-base-light: #19191a;
  --rz-on-base-lighter: #19191a;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #ffffff;
  --rz-on-primary-light: #000000;
  --rz-on-primary-lighter: #88aaff;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #ffffff;
  --rz-on-secondary-light: #ffffff;
  --rz-on-secondary-lighter: #ffffff;
  --rz-on-secondary-dark: #ffffff;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #ffffff;
  --rz-on-info-light: #ffffff;
  --rz-on-info-lighter: #006094;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #ffffff;
  --rz-on-success-light: #ffffff;
  --rz-on-success-lighter: #006b37;
  --rz-on-success-dark: #ffffff;
  --rz-on-success-darker: #ffffff;
  --rz-on-warning: #000000;
  --rz-on-warning-light: #000000;
  --rz-on-warning-lighter: #ffae11;
  --rz-on-warning-dark: #000000;
  --rz-on-warning-darker: #000000;
  --rz-on-danger: #ffffff;
  --rz-on-danger-light: #ffffff;
  --rz-on-danger-lighter: #c40e44;
  --rz-on-danger-dark: #ffffff;
  --rz-on-danger-darker: #ffffff;
}