@using Radzen.Blazor
@using Radzen.Documents.Spreadsheet
@using Microsoft.AspNetCore.Components.Web
@using Radzen.Blazor.Rendering
<ul class="rz-menu rz-spreadsheet-cell-menu">
    <CellMenuItem Text=@(Spreadsheet?.Localize(nameof(RadzenStrings.Spreadsheet_SortAscending)) ?? "Sort ascending") Icon="sort" Click=@OnSortAscendingAsync />
    <CellMenuItem Text=@(Spreadsheet?.Localize(nameof(RadzenStrings.Spreadsheet_SortDescending)) ?? "Sort descending") Icon="sort" Click=@OnSortDescendingAsync />
    <CellMenuItem Text=@(Spreadsheet?.Localize(nameof(RadzenStrings.Spreadsheet_ClearFilter)) ?? "Clear Filter") Icon="filter_alt_off" Click=@OnClearFilterAsync Disabled=@(!HasFilterApplied()) />
    <CellMenuItem Text=@(Spreadsheet?.Localize(nameof(RadzenStrings.Spreadsheet_CustomFilter)) ?? "Custom filter...") Icon="filter_alt" Click=@OnCustomFilterAsync />
    <CellMenuItem Text="Top 10..." Icon="leaderboard" Click=@OnTop10FilterAsync />
    <CellMenuItem Text="Above average" Icon="north_east" Click=@(() => OnDynamicFilterAsync(DynamicFilterType.AboveAverage)) />
    <CellMenuItem Text="Below average" Icon="south_east" Click=@(() => OnDynamicFilterAsync(DynamicFilterType.BelowAverage)) />
    <div class="rz-spreadsheet-cell-menu-filter">
        <CellMenuItem>
            <RadzenCheckBox TValue="bool?" Value=@IsSelectAllChecked() Change=@OnSelectAllChanged TriState="true" />
            <RadzenLabel Text=@(Spreadsheet?.Localize(nameof(RadzenStrings.Spreadsheet_SelectAll)) ?? "(Select All)") />
        </CellMenuItem>
        @foreach (var item in LoadAvailableValues())
        {
            <CellMenuItem>
                <RadzenCheckBox TValue="bool" Value=@IsValueSelected(item.Value) Change=@(isChecked => OnValueSelectionChanged(item.Value, isChecked)) />
                <RadzenLabel Text=@item.Text />
            </CellMenuItem>
        }
        @if (ShouldShowBlankOption())
        {
            <CellMenuItem>
                <RadzenCheckBox TValue="bool" Value=@IsBlankSelected() Change=@OnBlankSelectionChanged />
                <RadzenLabel Text=@(Spreadsheet?.Localize(nameof(RadzenStrings.Spreadsheet_Blank)) ?? "(Blank)") />
            </CellMenuItem>
        }
    </div>
    <RadzenStack Orientation="Orientation.Horizontal" Gap="10px" JustifyContent="JustifyContent.End">
        <RadzenButton Text=@(Spreadsheet?.Localize(nameof(RadzenStrings.Spreadsheet_OK)) ?? "OK") Click=@OnApplyFilterAsync ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Disabled=@(!CanApplyFilter()) />
        <RadzenButton Text=@(Spreadsheet?.Localize(nameof(RadzenStrings.Spreadsheet_Cancel)) ?? "Cancel") Click=@OnCancelFilterAsync ButtonStyle="ButtonStyle.Base" Size="ButtonSize.Small" />
    </RadzenStack>
</ul>