@using Microsoft.AspNetCore.Components.Web
@using Radzen.Blazor.Rendering
@using Radzen.Blazor.Spreadsheet.Tools
@inherits CellBase
<div class=@Class style=@Style data-row=@Row data-column=@Column>
    @cell?.Value
    @if (ShouldShowCellMenu)
    {
        <RadzenButton @ref=@cellMenuButton class="rz-spreadsheet-cell-chevron" Variant="Variant.Outlined"
            ButtonStyle="ButtonStyle.Base" Size="ButtonSize.ExtraSmall" Icon="expand_more" Click=@OnToggleAsync />
    }
</div>