@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Radzen.Blazor.Spreadsheet
@using Radzen.Documents.Spreadsheet
@inject Microsoft.JSInterop.IJSRuntime JSRuntime

@if (Editor.Mode != EditMode.None)
{
<div class=@className style=@cellStyle>
    <SheetEditor @bind-Value=@Editor.Value AutoFocus=@(Editor.Mode == EditMode.Cell) Blur=@(this.AsNonRenderingEventHandler(OnBlurAsync))
        Worksheet=@Worksheet Focus=@(this.AsNonRenderingEventHandler(OnFocus)) />
</div>
}