<li class="rz-navigation-item">
    <div class="rz-navigation-item-wrapper" @onclick=@OnClickAsync>
        <div class="rz-navigation-item-link">
            <i class="notranslate rzi rz-navigation-item-icon">@Icon</i>
            <span class="rz-navigation-item-text">@Text</span>
        </div>
    </div>
</li>
@code {
    [Parameter]
    public EventCallback Click { get; set; }

    [Parameter] 
    public string Icon { get; set; }

    [Parameter]
    public string Text { get; set; }

    private async Task OnClickAsync()
    {
        await Click.InvokeAsync(null);
    }
}