@using Microsoft.AspNetCore.Components.Web
@inherits CellBase
<div class=@Class style=@Style data-column=@Column>
    @ColumnRef.ToString(Column)
</div>
<div data-column=@Column style=@ResizeHandleStyle class="rz-spreadsheet-column-resize-handle"></div>