@using Radzen.Documents.Spreadsheet

@if (Clipboard?.GetSource(Worksheet) is { } sourceRange && sourceRange != RangeRef.Invalid)
{
    @foreach (var rangeInfo in Context.GetRanges(sourceRange))
    {
        var rect = Context.GetRectangle(rangeInfo.Range.Start.Row, rangeInfo.Range.Start.Column, rangeInfo.Range.End.Row, rangeInfo.Range.End.Column);
        var cssClass = "rz-spreadsheet-copy-overlay";
        
        if (rangeInfo.FrozenRow) cssClass += " rz-spreadsheet-frozen-row";
        if (rangeInfo.FrozenColumn) cssClass += " rz-spreadsheet-frozen-column";

        <div class="@cssClass" style="@rect.ToStyle()">
            @if (rangeInfo.Top) { <div class="rz-copy-edge rz-copy-edge-top"></div> }
            @if (rangeInfo.Bottom) { <div class="rz-copy-edge rz-copy-edge-bottom"></div> }
            @if (rangeInfo.Left) { <div class="rz-copy-edge rz-copy-edge-left"></div> }
            @if (rangeInfo.Right) { <div class="rz-copy-edge rz-copy-edge-right"></div> }
        </div>
    }
}
