@using Radzen.Blazor.Spreadsheet

@foreach (var image in Sheet.Images)
{
    var imageRange = GetImageRange(image);
    @foreach (var zone in Sheet.GetRanges(imageRange))
    {
        <div class=@GetClass(image, zone.FrozenRow, zone.FrozenColumn) style=@GetZoneStyle(image, imageRange, zone) @onpointerdown=@(e => OnImagePointerDown(e, image)) @onpointerdown:stopPropagation>
            <img src=@GetDataUri(image) alt=@(image.Description ?? image.Name ?? "") style=@GetImgStyle(image, imageRange, zone) />
        </div>
    }
}
