<div class="rz-chart-tooltip rz-chart-shared-tooltip @Class">
    <div class="rz-chart-tooltip-content">
        <div class="rz-chart-tooltip-title">@Title</div>
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Title { get; set; }
}