@page "/arc-gauge"
@using Radzen

<RadzenExample Name="ArcGauge">
<div class="row">
    <div class="col-md-6">
        <RadzenArcGauge Style="width: 100%; height: 500px;">
            <RadzenArcGaugeScale></RadzenArcGaugeScale>
        </RadzenArcGauge>
    </div>
    <div class="col-md-6"></div>
</div>
</RadzenExample>

@code {
    protected override void OnInitialized()
    {
    }
}