@page "/icon"

<RadzenExample Name="Icon">
<h3>Material Icons</h3>
<RadzenIcon Icon="facebook" />
<RadzenIcon Icon="accessibility" />
<RadzenIcon Icon="3d_rotation" />
<RadzenIcon Icon="accessible" />
<RadzenIcon Icon="account_balance" />
<RadzenIcon Icon="account_balance_wallet" />
<RadzenIcon Icon="account_box" />
<RadzenIcon Icon="account_circle" />
<RadzenIcon Icon="add_shopping_cart" />
<RadzenIcon Icon="alarm" />
<RadzenIcon Icon="alarm_add" />
<RadzenIcon Icon="alarm_off" />
<RadzenIcon Icon="alarm_on" />
<RadzenIcon Icon="all_out" />
<RadzenIcon Icon="android" />
<RadzenIcon Icon="announcement" />
<RadzenIcon Icon="aspect_ratio" />
<RadzenIcon Icon="assessment" />
<RadzenIcon Icon="assignment" />
<RadzenIcon Icon="assignment_ind" />
<RadzenIcon Icon="assignment_late" />
<RadzenIcon Icon="assignment_return" />
<RadzenIcon Icon="assignment_returned" />
<RadzenIcon Icon="assignment_turned_in" />
<RadzenIcon Icon="autorenew" />
<RadzenIcon Icon="backup" />
<RadzenIcon Icon="book" />
<RadzenIcon Icon="bookmark" />
<RadzenIcon Icon="bookmark_border" />
<RadzenIcon Icon="bug_report" />
<RadzenIcon Icon="build" />
<RadzenIcon Icon="cached" />
<RadzenIcon Icon="camera_enhance" />
<RadzenIcon Icon="card_giftcard" />
<RadzenIcon Icon="card_membership" />
<RadzenIcon Icon="card_travel" />
<RadzenIcon Icon="change_history" />
<RadzenIcon Icon="check_circle" />
<RadzenIcon Icon="chrome_reader_mode" />
<RadzenIcon Icon="class" />
<RadzenIcon Icon="code" />
<RadzenIcon Icon="compare_arrows" />
<RadzenIcon Icon="copyright" />
<RadzenIcon Icon="credit_card" />
<RadzenIcon Icon="dashboard" />
<RadzenIcon Icon="date_range" />
<RadzenIcon Icon="delete" />
<RadzenIcon Icon="delete_forever" />
<RadzenIcon Icon="description" />
<RadzenIcon Icon="dns" />
<RadzenIcon Icon="done" />
<RadzenIcon Icon="done_all" />
<RadzenIcon Icon="donut_large" />
<RadzenIcon Icon="donut_small" />
<RadzenIcon Icon="eject" />
<RadzenIcon Icon="euro_symbol" />
<RadzenIcon Icon="event" />
<RadzenIcon Icon="event_seat" />
<RadzenIcon Icon="exit_to_app" />
<RadzenIcon Icon="explore" />
<RadzenIcon Icon="extension" />
<RadzenIcon Icon="face" />
<RadzenIcon Icon="favorite" />
<RadzenIcon Icon="favorite_border" />
<RadzenIcon Icon="feedback" />
<RadzenIcon Icon="find_in_page" />
<RadzenIcon Icon="find_replace" />
<RadzenIcon Icon="fingerprint" />
<RadzenIcon Icon="flight_land" />
<RadzenIcon Icon="flight_takeoff" />
<RadzenIcon Icon="flip_to_back" />
<RadzenIcon Icon="flip_to_front" />
<RadzenIcon Icon="g_translate" />
<RadzenIcon Icon="gavel" />
<RadzenIcon Icon="get_app" />
<RadzenIcon Icon="gif" />
<RadzenIcon Icon="grade" />
<RadzenIcon Icon="group_work" />
<RadzenIcon Icon="help" />
<RadzenIcon Icon="help_outline" />
<RadzenIcon Icon="highlight_off" />
<RadzenIcon Icon="history" />
<RadzenIcon Icon="home" />
<RadzenIcon Icon="hourglass_empty" />
<RadzenIcon Icon="hourglass_full" />
<RadzenIcon Icon="http" />
<RadzenIcon Icon="https" />
<RadzenIcon Icon="input" />
<RadzenIcon Icon="invert_colors" />
<RadzenIcon Icon="label" />
<RadzenIcon Icon="label_outline" />
<RadzenIcon Icon="language" />
<RadzenIcon Icon="launch" />
<RadzenIcon Icon="lightbulb_outline" />
<RadzenIcon Icon="line_style" />
<RadzenIcon Icon="line_weight" />
<RadzenIcon Icon="list" />
<RadzenIcon Icon="lock" />
<RadzenIcon Icon="lock_open" />
<RadzenIcon Icon="lock_outline" />
<RadzenIcon Icon="loyalty" />
<RadzenIcon Icon="markunread_mailbox" />
<RadzenIcon Icon="motorcycle" />
<RadzenIcon Icon="note_add" />
<RadzenIcon Icon="offline_pin" />
<RadzenIcon Icon="opacity" />
<RadzenIcon Icon="open_in_browser" />
<RadzenIcon Icon="open_in_new" />
<RadzenIcon Icon="open_with" />
<RadzenIcon Icon="pageview" />
<RadzenLink Path="https://material.io/tools/icons/" Text="More icons..." target="_blank" />
</RadzenExample>
