@page "/image"

<RadzenExample Name="Image">
<h3>Image from application assets</h3>
<RadzenImage Path="images/hero.png" Style="width:600px" />
<br />
<h3>Image from url</h3>
<RadzenImage Path="https://www.radzen.com/assets/hero-40b90af93c7bda2d44608c74e2b8eeb6785e273e02340ec44583d097b5dfb896.png" Style="width:600px">
</RadzenImage>
</RadzenExample>