@page "/"

<div class="p-lg-5">
<div class="row my-3">
  <div class="col-xl-4 text-xl-left text-center">
    <h1 class="my-4">The Blazor Component Library</h1>
    <h2>
      Radzen Blazor Components is a <strong>free</strong> set of 60+ native Blazor UI controls.
    </h2>
    <p>
      <NavLink class="ui-button btn-primary" style="padding: .5rem 1rem; margin: 1rem 0; display: inline-block;" href="/get-started">Get started</NavLink>
    </p>
  </div>
  <div class="col">
    <img src="images/hero.png" alt="Application created with Radzen" style="width:100%">
  </div>
</div>
<h3 class="text-center my-5">Why choose Radzen Blazor Components?</h3>
<div class="row">
  <div class="col-lg-4 mb-4">
    <RadzenCard style="height: 100%;margin-bottom:1rem">
      <h4>Free</h4>
      <p>
        Radzen Blazor Components are free for commercial use. You can install them from nuget without registration.
      </p>
      <p class="my-4">
        Paid support is also available as part of the <a href="https://www.radzen.com/pricing/">Radzen Professional subscription</a>.
      </p>
    </RadzenCard>
  </div>
  <div class="col-lg-4 mb-4">
    <RadzenCard style="height: 100%">
      <h4>Native</h4>
      <ul style="padding:1rem">
        <li>The components are implemented in C# and take full advantage of the Blazor framework.</li>
        <li>They do not depend on or wrap existing JavaScript frameworks or libraries.</li>
        <li>Both server-side and client-side (WASM) Blazor are supported.</li>
      </ul>
    </RadzenCard>
  </div>
  <div class="col-lg-4 mb-4">
    <RadzenCard style="height: 100%">
      <h4>Growing</h4>
      <p>
        We add new components and features on a regular basis.
      </p>
      <p class="my-4">
        Short development cycle. We release as soon as new stuff is available. No more quarterly releases.
      </p>
    </RadzenCard>
  </div>
</div>
<h3 class="text-center my-5">Do you want to boost your Blazor development even more?</h3>
<RadzenCard>
<div class="row">
  <div class="col-md-6">
    <h4>
      Then you must definitely check Radzen! It provides tons of productivity gains for Blazor developers:
    </h4>
    <ul style="padding:1rem">
      <li>Quickly create Blazor pages with the <strong>first</strong> <a href="https://www.radzen.com/documentation/design-time/introduction/" target="_blank">WYSIWYG Blazor designer</a> in the industry.</li>
      <li>Scaffold a complete CRUD application from your <a href="https://www.radzen.com/documentation/blazor/ms-sql/" target="_blank">MSSQL</a>, <a href="https://www.radzen.com/documentation/blazor/mysql/" target="_blank">MySQL</a>, <a href="https://www.radzen.com/documentation/blazor/postgresql/" target="_blank">Postgres</a> or <a href="https://www.radzen.com/documentation/blazor/oracle/" target="_blank">Oracle</a> database.</li>
      <li>Consume your <a href="https://www.radzen.com/documentation/blazor/swagger/" target="_blank">Swagger</a>, <a href="https://www.radzen.com/documentation/blazor/odata/" target="_blank">OData</a> or <a href="https://www.radzen.com/documentation/blazor/rest/" target="_blank">REST</a> servicep painlessly.</li>
      <li>Get access to the <a href="https://www.radzen.com/documentation/premium-themes/" target="_blank">premium themes</a>.</li>
      <li><a href="https://www.radzen.com/documentation/theme-customization/" target="_blank">Customize</a> the Radzen Blazor Components look and feel to match your or your customer's branding.</li>
      <li>Authentication, authorization, user and role management are built-in. <a href="https://www.radzen.com/documentation/azure-ad/" target="_blank">Azure AD</a>, <a href="https://www.radzen.com/documentation/active-directory/" taret="_blank">Active Directory</a>, 
      <a href="https://www.radzen.com/documentation/windows-security/" target="_blank">Windows Authentication</a> or <a href="https://www.radzen.com/documentation/security/" target="_blank">ASP.NET Identity</a>.</li>
      <li><a href="https://www.radzen.com/documentation/run-with-visual-studio/" target="_blank">Run your Radzen Blazor application directly from Visual Studio Code or Visual Studio Professional</a>.</li>
      <li>Deploy your Blazor applications to <a href="https://www.radzen.com/documentation/blazor/deploy/" target="_blank">IIS</a> and <a href="https://www.radzen.com/documentation/deploy-to-azure/" target="_blank">Azure</a> with a single click.</li>
      <li>Dedicated support with 24 hour response time (or even less).</li>
      <li>Get help from the active <a href="https://forum.radzen.com/" target="_blank">community</a>.</li>
    </ul>
    <p>
      Sounds good, doesn't it? 
    </p>
    <NavLink class="ui-button btn-primary" style="padding: .5rem 1rem; margin: 1rem 0; display: inline-block;" href="https://www.radzen.com/download/">DOWNLOAD NOW</NavLink>
  </div>
  <div class="col-md-6">
    <video width="100%" controls autoplay muted loop playsinline>
        <source src="images/radzen.mp4" type="video/mp4">
    </video>
  </div>
</div>
</RadzenCard>
</div>
