@page "/"

<RadzenCard>
    <h1 class="my-4">The first component suite for Blazor</h1>
    <p>
        Radzen Blazor Components is a free component suite developed by <a href="https://www.radzen.com">Radzen Ltd.</a> for <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/">ASP.NET Core Blazor</a>
    </p>
    <p>
        <NavLink class="btn-primary" style="padding: .5rem 1rem; margin: 1rem 0; display: inline-block;" href="/get-started">Get started</NavLink>
    </p>
</RadzenCard>
<h2 class="text-center my-4">Why choose Radzen Blazor Components?</h2>
<div class="row">
    <div class="col-md-4">
        <RadzenCard style="height: 100%">
            <h3>Free</h3>
            <p>
                Radzen components for Blazor are free for commercial use. You can get them from nuget.org right now!
            </p>
            <p>
                Paid support is available as part of the <a href="https://www.radzen.com/pricing/">Radzen Professional subscription</a>.
            </p>
        </RadzenCard>
    </div>
    <div class="col-md-4">
        <RadzenCard style="height: 100%">
        <h3>Native</h3>
        <p>
            The components are implemented in C# and leverage the Blazor framework. They do not depent on or wrap existing JavaScript frameworks or suites.
            Both server-side and client-side (WASM) Blazor are supported.
        </p>
        </RadzenCard>
    </div>
    <div class="col-md-4">
        <RadzenCard style="height: 100%">
        <h3>Evolving</h3>
        <p>
            Radzen Blazor Components are updated on a regular basis. We release updates often.
        </p>
        </RadzenCard>
    </div>
</div>
<h2 class="text-center my-5">Do you want to boost your Blazor development productivity even more?</h2>
<RadzenCard>
<div class="row">
    <div class="col-md-6">
        <p>
            Our flagship product Radzen provides tons of productivity features for Blazor developers:
        </p>
        <ul>
            <li>The first in the industry WYSIWYG Blazor design time canvas</li>
            <li>Scaffolding a complete CRUD applications from a database</li>
            <li>Built-in security - authentication and authorization</li>
            <li>Visual Studio Code and Professional support</li>
            <li>Deployment to IIS and Azure</li>
            <li>Dedicated support with 24 hour guaranteed response time</li>
            <li>Active community forum</li>
        </ul>
    </div>
    <div class="col-md-6">
        <img style="width: 100%" src="https://www.radzen.com/assets/blazor-designer-expressions-a3849277d32e32ea4156feccf5fc3173273694f8909e9afef6d71e65d40caba2.gif">
    </div>
</div>
</RadzenCard>