@page "/link"

<RadzenExample Name="Link">
<h3>Link to path in application</h3>
<RadzenLink Path="buttons" Text="Go to Buttons page" />
<h3 style="margin-top:20px">Link to path in application with icon</h3>
<RadzenLink Icon="accessibility" Path="button" Text="Go to the Button component page" />
<h3 style="margin-top:20px">Link to url</h3>
<RadzenLink Path="https://www.radzen.com" Text="Go to url" target="_blank" />
</RadzenExample>