@page "/listbox"

@using NorthwindBlazor.Data
@using NorthwindBlazor.Models.Northwind
@using Microsoft.EntityFrameworkCore

@inject NorthwindContext dbContext

<h1 style="display:inline">ListBox</h1><a style="margin-left: 10px" href="https://github.com/akorchev/blazor.radzen.com/blob/master/Pages/ListBoxPage.razor" target="_blank">[source code]</a>

<p>This page demonstrates <b>ListBox</b> component.</p>
<RadzenCard>
    <div class="row">
        <div class="col-md-6">
            <h3>ListBox</h3>
            <RadzenListBox Data="@customers" TextProperty="CompanyName" ValueProperty="CustomerID" Style="margin-bottom: 20px; height:500px;" Change="@(args => Change(args, "ListBox"))" />
        </div>
        <div class="col-md-6">
            <h3>Events</h3>
            <RadzenCard style="overflow: auto;height:500px;">
                @foreach (var e in events.OrderByDescending(i => i.Key))
                {
                    @e.Value
                    <br />
                }
            </RadzenCard>
        </div>
    </div>
</RadzenCard>

@code {
    IEnumerable<dynamic> customers;

    protected override async Task OnInitAsync()
    {
        customers = await Task.FromResult(dbContext.Customers);
    }

    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    void Change(object value, string name)
    {
        events.Add(DateTime.Now, $"{name} value changed to {value}");
        StateHasChanged();
    }
}
