@page "/radial-gauge"
@using Radzen

<RadzenExample Name="RadialGauge">
<div class="row">
    <div class="col-md-12">
        <RadzenRadialGauge Style="width: 500px; height: 500px" />
    </div>
</div>
</RadzenExample>

@code {
}
