@page "/support"

<h1 style="margin: 2rem 0">Support</h1>

<a name="#community"></a>
<h2 style="margin: 1rem 0"><a href="#community">Community Support</a></h2>

<p>
    Everybody is welcome to visit the <a href="https://forum.radzen.com" target="_blank">Radzen Community forum</a>. Join the growing community and participate in the discussions!
</p>
<p>
    The Radzen team monitors the forum threads but does not guarantee a response to every question. For guaranteed responses
    you may consider the <a href="#dedicated">Dedicated support</a> option.
</p>

<a name="#dedicated"></a>
<h2><a href="#dedicated">Dedicated Support</a></h2>

<p>
    Radzen Ltd. offers dedicated support with the Radzen Professional and Enterprise subscriptions. 
</p>
<a class="ui-button btn-primary" style="padding: .5rem 1rem; margin: 1rem 0; display: inline-block;" href="https://www.radzen.com/pricing/">Pricing</a>
<p>
    A Radzen subscription provides:
</p>
<ul>
    <li>Dedicated support over email with guaranteed response time (24 hours for Radzen Professional and 16 hours for Radzen Enterprise).</li>
    <li>Full access to Radzen - the first WYSIWYG Blazor development environment on the market.</li>
    <li><a href="https://www.radzen.com/documentation/premium-themes/" target="_blank">Premium themes</a> and visual <a href="https://www.radzen.com/documentation/theme-customization/" target="_blank">theme customization</a>.</li>
    <li>Complete Blazor application scaffolding from the most commonly used databases - MSSQL, Oracle, MySQL and PostgreSQL.</li>
    <li>Built-in deploy to IIS, FTP, Zip and Azure.</li>
    <li>Multi-tenancy support</li>
</ul>