@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Radzen.Blazor.Spreadsheet
@using Radzen.Documents.Spreadsheet
@using Radzen.Blazor.Spreadsheet.Tools
@using Radzen.Blazor.Rendering
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inherits RadzenComponent

<div @ref=@Element class=@GetCssClass() style=@Style @attributes=@Attributes tabindex="0">
    <CascadingValue TValue="ISpreadsheet" Value=this IsFixed="true">
        <RadzenTabs SelectedIndex="1">
            <Tabs>
                <RadzenTabsItem Text="File">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <Open WorkbookChanged=@OnWorkbookChangedAsync />
                        <Save Workbook=@workbook FileName=@ExportFileName />
                    </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Home">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <Undo Commands=@Worksheet?.Commands />
                            <Redo Commands=@Worksheet?.Commands />
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <FontFamily Worksheet=@Worksheet />
                            <FontSize Worksheet=@Worksheet />
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <Bold Worksheet=@Worksheet />
                            <Italic Worksheet=@Worksheet />
                            <Underline Worksheet=@Worksheet />
                            <Strikethrough Worksheet=@Worksheet />
                            <Color Worksheet=@Worksheet />
                            <BackgroundColor Worksheet=@Worksheet />
                            <CellBorders Worksheet=@Worksheet />
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <TextAlign Worksheet=@Worksheet />
                            <VerticalAlign Worksheet=@Worksheet />
                            <TextWrap Worksheet=@Worksheet />
                            <MergeCells Worksheet=@Worksheet />
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <ConditionalFormat Worksheet=@Worksheet />
                        </RadzenStack>
                    </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Format">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <DataFormat Worksheet=@Worksheet />
                        <IncreaseDecimals Worksheet=@Worksheet />
                        <DecreaseDecimals Worksheet=@Worksheet />
                        <RadzenButton Text="Format Cells..." Click=@OnFormatCellsAsync
                            ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small"
                            Disabled=@(Worksheet?.Selection.Cell == CellRef.Invalid) />
                    </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Insert">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <DeleteRow Worksheet=@Worksheet />
                            <InsertRowAfter Worksheet=@Worksheet />
                            <InsertRowBefore Worksheet=@Worksheet />
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <DeleteColumn Worksheet=@Worksheet />
                            <InsertColumnAfter Worksheet=@Worksheet />
                            <InsertColumnBefore Worksheet=@Worksheet />
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <InsertHyperlink Worksheet=@Worksheet />
                            <InsertImage Worksheet=@Worksheet />
                        </RadzenStack>
                    </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="View">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <Freeze Worksheet=@Worksheet />
                    </RadzenStack>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Data">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <AutoFilter Worksheet=@Worksheet />
                        <DataValidation Worksheet=@Worksheet />
                    </RadzenStack>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
@if (Worksheet != null)
{
        <FormulaEditor Worksheet=@Worksheet />
        <VirtualGrid @ref=@grid style="flex: 1" View=@ActiveView>
            <Template>
                @switch (context)
                {
                    case VirtualCorner corner:
                        <CornerHeaderCell Rect=@context.Rect />
                        break;
                    case VirtualColumnHeader column:
                        <ColumnHeader Worksheet=@Worksheet FrozenState=@column.FrozenState Column=@column.Column Rect=@context.Rect />
                        break;
                    case VirtualRowHeader row:
                        <RowHeader Worksheet=@Worksheet FrozenState=@row.FrozenState Row=@row.Row Rect=@context.Rect />
                        break;
                    case VirtualDataItem item:
                        <CellView Worksheet=@Worksheet Column=@item.Column Row=@item.Row FrozenState=@item.FrozenState Rect=@context.Rect Toggle=@OnCellToggleAsync />
                        break;
                    case VirtualHorizontalSplitter horizontalSplitter:
                        <Splitter class="rz-spreadsheet-horizontal-splitter" Rect=@horizontalSplitter.Rect />
                        break;
                    case VirtualVerticalSplitter verticalSplitter:
                        <Splitter class="rz-spreadsheet-vertical-splitter" Rect=@verticalSplitter.Rect />
                        break;
                }
            </Template>
            <ChildContent>
                <SelectionOverlay Worksheet=@Worksheet Context=@context />
                <ImageOverlay Worksheet=@Worksheet Context=@context />
                <CellEditor Worksheet=@Worksheet Context=@context />
                @foreach (var table in Worksheet.Tables)
                {
                    <TableFrame Worksheet=@Worksheet Table=@table Context=@context />
                }
                <InputPrompt @ref=@inputPrompt Worksheet=@Worksheet Context=@context />
            </ChildContent>
        </VirtualGrid>
        <Popup @ref=@cellMenuPopup class="rz-spreadsheet-cell-popup rz-context-menu" Lazy="true">
            @if (cellMenuRow >= 0 && cellMenuColumn >= 0)
            {
                <CellMenu Worksheet=@Worksheet Row=@cellMenuRow Column=@cellMenuColumn Cancel=@OnCellMenuCancelAsync Apply=@OnCellMenuApplyAsync
                         SortAscending=@OnCellMenuSortAscendingAsync SortDescending=@OnCellMenuSortDescendingAsync Clear=@OnCellMenuClearAsync
                         CustomFilter=@OnCellMenuCustomFilterAsync />
            }
        </Popup>
        <Popup @ref=@validationListPopup class="rz-spreadsheet-cell-popup rz-context-menu" Lazy="true">
            @if (validationListItems.Count > 0)
            {
                <ValidationListPopup Items=@validationListItems ValueSelected=@OnValidationListValueSelectedAsync />
            }
        </Popup>
}
    </CascadingValue>
</div>