@inherits RadzenComponentWithChildren

@if (Visible)
{
    <ul @ref=@Element style=@Style @attributes=@Attributes class=@GetCssClass() id=@GetId()
        tabindex="0" @onkeydown="@OnKeyPress" @onkeydown:preventDefault=preventKeyPress @onkeydown:stopPropagation
        @onfocus=@(args => {focusedIndex = focusedIndex == -1 ? 0: focusedIndex; currentItems = items.Where(i => i.Visible && !i.Disabled).ToList();})>
        @if (Responsive)
        {
        <li class="rz-menu-toggle-item">
            <button aria-label=@ToggleAriaLabel class="rz-menu-toggle" @onclick=@OnToggle>
                @if (IsOpen)
                {
                    <i class="rzi">close</i>
                } else
                {

                    <i class="rzi">menu</i>
                }
            </button>
        </li>
        }
        <CascadingValue Value=this>
            @ChildContent
        </CascadingValue>
    </ul>
}
