@using Radzen.Blazor.Rendering

@if (Visible)
{
    @if (Template == null)
    {
        <EditorButton Title=@Title Click=@OnClick Icon=@Icon IconColor="@IconColor" Selected=@Selected Disabled=@Disabled EnabledModes="@EnabledModes"/>
    }
    else
    {
        <div class="rz-html-editor-custom-tool">@Template(Editor)</div>
    }
}
