<li class=@Class>
    <a href=@Selector class="rz-toc-link rz-link" @onclick:preventDefault @onclick=@OnClickAsync>@Text</a>
@if (ChildContent != null)
{
    <ul class="rz-toc-list">
        @ChildContent
    </ul>
}
</li>