@inherits RadzenComponent
@if (Visible)
{
<span @ref="@Element" style="@Style" @attributes="Attributes" class="@GetCssClass()" id="@GetId()">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</span>
}
