@inherits RadzenComponentWithChildren

@if (Visible)
{
    @if (IsResponsive)
    {
        <RadzenMediaQuery Query="(max-width: 768px)" Change=@OnChange />
    }
    <div @ref="@Element" style="@GetStyle()" @attributes="Attributes" class="@GetCssClass()"  id="@GetId()">
        @ChildContent
    </div>
}