@inherits RadzenComponentWithChildren

<CascadingValue Value="@Template">
@if (Visible)
{
  <div class="rz-breadcrumb @GetComponentCssClass()" style="@Style" @attributes="@Attributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
  </div>
}
</CascadingValue>