<li class=@Class>
    <RadzenButton ButtonType="ButtonType.Button" Variant="Variant.Text" Text=@Text Click=@OnClickAsync />
@if (ChildContent != null)
{
    <ul class="rz-toc-list">
        @ChildContent
    </ul>
}
</li>