@inherits RadzenComponentWithChildren
<li role="presentation" @ref=@Element style=@Style @attributes=@Attributes class=@GetCssClass() id=@GetId()>
    <div class=@WrapperClass>
        <button type="button" class=@LinkClass @onclick=@OnClickAsync aria-current="@(selected ? "location" : null)">
            @if (Template is null)
            {
                @Text
            }
            else
            {
                @Template
            }
        </button>
    </div>
@if (ChildContent != null)
{
    <ul class="rz-toc-list">
        <CascadingValue Name=@nameof(Level) Value=@(Level + 1)>
            @ChildContent
        </CascadingValue>
    </ul>
}
</li>