@inherits RadzenComponent

@if (Visible)
{
    <div @ref=@Element id=@GetId() style=@GetGridStyle() @attributes=@Attributes class=@GetCssClass()>
        <div @ref=@cellsElement id="@(GetId())-cells"
             class="rz-widget-grid-cells @(EditMode ? "rz-widget-grid-editable" : null) @(activeItem != null ? "rz-widget-grid-dragging" : null)"
             style=@GetCellsStyle()
             @onpointermove=@OnPointerMove
             @onpointerup=@OnPointerUp
             @onpointercancel=@OnPointerUp
             @onlostpointercapture=@OnPointerUp>
            <CascadingValue Value=@this IsFixed=true>
                @ChildContent
            </CascadingValue>
            @if (ShowGrid)
            {
                <div class="rz-widget-grid-overlay" style=@GetOverlayStyle() aria-hidden="true">
                    @for (var r = 1; r <= OverlayRows; r++)
                    {
                        @for (var c = 1; c <= Columns; c++)
                        {
                            <div class="rz-widget-grid-overlay-cell" style=@GetOverlayCellStyle(c, r)></div>
                        }
                    }
                </div>
            }
        </div>
    </div>
}
